<div class="box-card-and-app">
    <div class="container">
        <h4>Cartão e aplicativo</h4>
        <p>Digital, simples e intuitívo. O Digio veio para facilitar.  Baixe o aplicativo e peça o seu.</p>

        <ul class="list-buttons-apps">
            <li>
                <a href="#" title="Disponível no Google Play" class="button-app">
                    <i class="icon-play-store"></i>
                    <span>Disponível no</span>
                    <strong>Google Play</strong>
                </a>
            </li>
            <li>
                <a href="#" title="Disponível na App Store" class="button-app">
                    <i class="icon-app-store"></i>
                    <span>Baixar na</span>
                    <strong>App Store</strong>
                </a>
            </li>
        </ul>

    </div>
</div>