<div class="box-support-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-4 col-sm-push-4 col-sm-8 col-sm-12">

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="group-contact">
                            <h3>Fale Conosco</h3>
                            <p>Curta nossa página para acompanhar as novidades. Mande uma msg =)</p>
                            <ul class="list-contact">
                                <li>
                                    <a href="#" title="Facebook">
                                        <i class="icon-face-message"></i>
                                        Facebook
                                    </a>
                                </li>

                                <li>
                                    <a href="#" title="Twitter">
                                        <i class="icon-twitter"></i>
                                        Tweet
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="group-contact">
                            <h3>Fácil, fácil!</h3>
                            <p>Você pode nos enviar um e-mail ou acessar nossa página contato.</p>
                            <ul class="list-contact">
                                <li>
                                    <a href="#" title="Email">
                                        <i class="icon-email"></i>
                                        fale@digio.com.br
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>