a    </section>

    <footer class="footer">
        <div class="container">

            <div class="footer-top">
                <div class="row">

                    <div class="col-md-4 col-sm-4 col-xs-12">

                        <a href="./" title="Digio. Tudo se transforma" class="logo">
                            <img src="./assets/images/logo-digio.svg" alt="Digio" />
                        </a>

                        <p class="copyright">© 2017 Todos os direitos reservados.</p>

                        <ul class="list-social">
                            <li><a href="#" title="Acesse nosso Facebook"><i class="icon-facebook"></i></a></li>
                            <li><a href="#" title="Acesse nosso Instagram"><i class="icon-instagram"></i></a></li>
                            <li><a href="#" title="Acesse nosso YouTube"><i class="icon-youtube"></i></a></li>
                            <li><a href="#" title="Acesse nosso Twitter"><i class="icon-twitter"></i></a></li>
                        </ul>

                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-6">
                        <h6>Produtos</h6>
                        <ul class="simple-list">
                            <li><a href="./digio-card.html" title="Digio Card">Digio Card</a></li>
                            <li><a href="./digio-store.html" title="Digio Store">Digio Store</a></li>
                            <li><a href="./digio-easy.html" title="Digio Easy">Digio Cash</a></li>
                        </ul>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-6">
                        <h6>Institucional</h6>
                        <ul class="simple-list">
                            <li><a href="./quem-somos.html" title="Quem somos">Quem somos</a></li>
                            <li><a href="./politica-privacidade.html" title="Políticas">Políticas</a></li>
                            <li><a href="./contrato-digio.html" title="Contrato">Contrato</a></li>
                            <li><a href="#" title="Blog">Blog</a></li>
                        </ul>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-6">
                        <h6>Contato</h6>
                        <ul class="simple-list">
                            <li><a href="./contato.html" title="Fale com a digio">Fale com o digio</a></li>
                            <li><a href="./ajuda.html" title="Perguntas">Perguntas</a></li>
                            <li><a href="#" title="Tweet"><i class="icon-twitter"></i> Twitter</a></li>
                            <li><a href="#" title="Face"><i class="icon-face-message"></i> Face</a></li>
                        </ul>
                    </div>

                    <div class="col-md-2 col-sm-2 hidden-xs">

                        <a href="#" title="Disponível no Google Play" class="button-app">
                            <i class="icon-play-store"></i>
                            <span>Disponível no</span>
                            <strong>Google Play</strong>
                        </a>

                        <a href="#" title="Disponível na App Store" class="button-app">
                            <i class="icon-app-store"></i>
                            <span>Baixar na</span>
                            <strong>App Store</strong>
                        </a>

                    </div>

                </div>
            </div>

            <div class="footer-bottom">
                <div class="row">

                    <div class="col-md-9 col-sm-9 col-xs-12">

                        <address>
                            <strong>Endereço:</strong>
                            Alameda Xingu, 512 – Alphaville/SP - 7º andar
                        </address>

                        <p class="cnpj">
                            <strong>CNPJ:</strong>
                            27.098.060/0001-45
                        </p>

                    </div>

                    <div class="col-md-3 col-sm-3 hidden-xs">
                        <div class="developer">
                            <p>Design by:</p>
                            <a href="#" title="Design by Insany Design">
                                <i class="icon-insany-design"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </footer>

    @@include('./google_analytics.html')

  </body>
</html>
