<aside class="sidebar-form" data-scope="sidebar-form">
    <div class="sidebar-overlay" data-item="close"></div>
    <div class="group-form">

        <div class="close-sidebar">
            <a href="#" data-item="close">
                <i class="icon-close"></i>
            </a>
        </div>

        <div class="card-tax hidden">
            <img src="./assets/images/digio-card.svg" alt="Cartão Digio" class="card">
            <img src="./assets/images/love-digio.svg" alt="Love Digio" class="love">
        </div>

        <form action="" class="register-form" data-scope="register-form" style="display: block;">
            <h4>
                <strong>Peça já o seu Digio.</strong>
                Sem anuidade e sem juros rotativos.
            </h4>

            <div class="input-row">
                <input placeholder="Nome" type="text" id="nome" name="nome" class="input-text" required />
            </div>

            <div class="input-row">
                <input placeholder="E-mail" type="email" id="email" name="email" class="input-text" required />
            </div>

            <div class="input-row">
                <input placeholder="Confirmar e-mail" type="email" id="confirmaEmail" name="confirmaEmail" class="input-text" required />
            </div>

            <div class="input-row">
                <input placeholder="CPF" type="text" id="cpf" name="cpf" class="input-text" data-mask="cpf" required />
            </div>

            <div class="input-row">
                <input placeholder="Celular" type="tel" id="celular" name="celular" class="input-text" data-mask="phone" required />
            </div>

            <div class="input-row">
                <input placeholder="Data de nascimento" type="text" id="dataNascimento" name="dataNascimento" data-mask="date" class="input-text" required />
            </div>

            <div class="input-row recaptcha">
                <div class="g-recaptcha" data-sitekey="6LfJVEAUAAAAAIn_U26u49Q2_KbTkIJTR5rkWAo3"></div>
            </div>

            <div class="button-bar">
                <button type="submit" class="button button-primary">Pedir cartão</button>
            </div>
        </form>

        <div class="success-form" data-item="form-success" style="display: none;">
            <i class="icon-success"></i>
            <h5>Cartão solicitado com sucessso</h5>
            <p>Olá <strong data-item="user">Gilberto Prado</strong>, que bom que você está por aqui! Fique tranquilo, em breve você terá notícias da gente =)</p>
        </div>

    </div>
</aside>