@@include('./_partials/header.html', {
    "pageClass": "help-page",
    "pageTitle": "Perguntas Frequentes | Digio. Tudo se transforma",
    "pageDescription": "Cartão de crédito e aplicativo. Digital, simples, descomplicado."
})

<div class="box-title">
    <div class="container">
        <strong>Perguntas Frequentes</strong>
        <h1>Ficou com dúvida?</h1>
    </div>
</div>

<div class="box-search">
    <div class="container">
        <form action="" data-scope="contact-form">
            <div class="input-row">
                <input placeholder="Digite sua dúvida ou termo" type="text" id="search" name="search" class="input-text" title="Digite um termo de busca" autofocus required />
                <button type="submit" class="button-find"><i class="icon-search"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="box-faq">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-sm-12">
                <aside>
                    <nav class="list-navigation">
                        <ul>
                            <li class="active"><a href="#" title="Sobre o Digio">Sobre o Digio</a></li>
                            <li><a href="#" title="Pagamento">Pagamento</a></li>
                            <li><a href="#" title="Entrega do Cartão">Entrega do Cartão</a></li>
                            <li><a href="#" title="Compras e Saques">Compras e Saques</a></li>
                            <li><a href="#" title="Limite de Cartão">Limite de Cartão</a></li>
                            <li><a href="#" title="Erro no Aplicativo">Erro no Aplicativo</a></li>
                            <li><a href="#" title="Outros Assuntos">Outros Assuntos</a></li>
                            <li><a href="#" title="Fatura">Fatura</a></li>
                            <li><a href="#" title="Proposta">Proposta</a></li>
                            <li><a href="#" title="Digio Store">Digio Store</a></li>
                        </ul>
                    </nav>
                </aside>
            </div>

            <div class="col-md-8 col-md-push-1 col-sm-8 col-sm-12">
                <div class="group-content">
                    <h2 class="title-faq">Sobre o Digio</h2>

                    <div class="accordion" data-scope="accordion">

                        <div class="accordion-group">
                            <h6 data-item="toggle">Meu cartão é internacional?</h6>
                            <div data-item="content" class="accordion-content">
                                <p>Claro! O Digio é tão bacana que é aceito em mais de 24 milhões de estabelecimentos espalhados pelo mundo e que aceitam a bandeira VISA. Não é legal? ;D</p>
                            </div>
                        </div>

                        <div class="accordion-group">
                            <h6 data-item="toggle">O que é o Digio?</h6>
                            <div data-item="content" class="accordion-content">
                                <p>Claro! O Digio é tão bacana que é aceito em mais de 24 milhões de estabelecimentos espalhados pelo mundo e que aceitam a bandeira VISA. Não é legal? ;D</p>
                            </div>
                        </div>

                        <div class="accordion-group">
                            <h6 data-item="toggle">Quais são as taxas e tarifas do Digio?</h6>
                            <div data-item="content" class="accordion-content">
                                <p>Claro! O Digio é tão bacana que é aceito em mais de 24 milhões de estabelecimentos espalhados pelo mundo e que aceitam a bandeira VISA. Não é legal? ;D</p>
                            </div>
                        </div>

                        <div class="accordion-group">
                            <h6 data-item="toggle">Quem pode ter um cartão Digio?</h6>
                            <div data-item="content" class="accordion-content">
                                <p>Claro! O Digio é tão bacana que é aceito em mais de 24 milhões de estabelecimentos espalhados pelo mundo e que aceitam a bandeira VISA. Não é legal? ;D</p>
                            </div>
                        </div>

                        <div class="accordion-group">
                            <h6 data-item="toggle">Qual o tempo de análise da solicitação?</h6>
                            <div data-item="content" class="accordion-content">
                                <p>Claro! O Digio é tão bacana que é aceito em mais de 24 milhões de estabelecimentos espalhados pelo mundo e que aceitam a bandeira VISA. Não é legal? ;D</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('./_partials/box-support-contact.html')
@@include('./_partials/footer.html')