@@include('./_partials/header.html', { "pageClass": "contract-digio", "pageTitle": "Contrato do Cartão Digio | Digio. Tudo se transforma", "pageDescription": "Cartão de crédito e aplicativo. Digital, simples, descomplicado." })

<section class="s-top-terms">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Políticas, termos e contratos</h1>
                <img src="./assets/images/arrow-down.svg" class="arrow-down" alt="">
            </div>
        </div>
    </div>
</section>

<section class="container-text">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="menu-terms">
                  <li  class="active"><a href="contrato-digio.html">Contrato Digio</a></li>
                  <li><a href="termo-digio-store.html">Contrato Digio Store</a></li>
                  <li><a href="politica-privacidade.html">Política de Privacidade</a></li>
                  <li><a href="termo-adesao.html">Termo de Adesão</a></li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="text-geral">
                    <div class="section-text">
                        <h1>Regulamento do Cartão Digio - Visa Internacional</h1>
                        <p>O BANCO CBSS S.A., na qualidade de prestador de serviços, e o(s) CLIENTE(S), aderindo às condições gerais e especiais previstas neste REGULAMENTO DO CARTÃO DIGIO VISA INTERNACIONAL ("REGULAMENTO"), se obrigam mutuamente a cumprir
                            e respeitar o quanto segue:</p>
                    </div>
                    <div class="section-text">
                        <h1>CAPÍTULO I - DEFINIÇÕES</h1>
                        <p><span>1.1.</span> Para fins de aplicação deste REGULAMENTO, fica entendido que:</p>

                        <p>(a) ASSINATURA ELETRÔNICA constitui-se na aposição de SENHA, em meios eletrônicos, para a efetivação de TRANSAÇÕES ou SAQUES.</p>

                        <p>(b) AUTORIZAÇÃO POR MEIO ELETRÔNICO é o ato do CLIENTE comprovado a partir de comandos que garantam a segurança da operação, o sigilo dos dados cadastrais e a comprovação da aceitação do CLIENTE.</p>

                        <p>(c) AUTORIZAÇÃO POR MEIO DE TELECOMUNICAÇÃO é o ato do CLIENTE comprovado a partir de comandos de voz, mediante meios que garantam a segurança da operação, o sigilo dos dados cadastrais e a comprovação da aceitação do CLIENTE.</p>

                        <p>(d) BANDEIRA é a empresa responsável pelas marcas e sistemas que permitem a utilização do CARTÃO nos ESTABELECIMENTOS CONVENIADOS ou para realização de SAQUES. A BANDEIRA regida por este REGULAMENTO será a VISA INTERNACIONAL.</p>

                        <p>(e) CADASTRO é o fornecimento de dados pessoais, cadastrais e outras declarações/informações necessárias pelo CLIENTE ao EMISSOR por meio do CANAL DE ATENDIMENTO ou por outro meio fornecido. A aprovação prévia do CADASTRO é necessária
                            antes da emissão do CARTÃO.</p>

                        <p>(f) CAIXAS ELETRÔNICOS CREDENCIADOS significam os caixas eletrônicos credenciados pelo EMISSOR para realização de SAQUES.</p>

                        <p>(g) CARTÃO compreende o cartão plástico denominado CARTÃO DIGIO VISA INTERNACIONAL, o qual representa um meio eletrônico de pagamento, da modalidade de crédito, que habilita o CLIENTE, dentro do LIMITE DE CRÉDITO estabelecido pelo
                            EMISSOR e ao longo da VALIDADE do CARTÃO, a adquirir produtos e/ou serviços nos ESTABELECIMENTOS CONVENIADOS e realizar SAQUES nos CAIXAS ELETRÔNICOS CREDENCIADOS, dentre outras operações descritas neste REGULAMENTO.</p>

                        <p>(h) CANAL DE ATENDIMENTO é o serviço de atendimento prestado ao CLIENTE pelo EMISSOR para esclarecimento de dúvidas, prestação de serviços e demais informações necessárias. O CANAL DE ATENDIMENTO pode ser acessado por meio do telefone,
                            do WEBSITE ou do aplicativo para celular do EMISSOR. O CANAL DE ATENDIMENTO contempla: Central de Atendimento e o Serviço de Atendimento ao Consumidor (SAC).</p>

                        <p>(i) CLIENTE é a pessoa física que adquiriu o CARTÃO para uso próprio, observados os fins indicados no presente REGULAMENTO.</p>

                        <p>(j) COMPROVANTE DA TRANSAÇÃO é o documento emitido pelo ESTABELECIMENTO CONVENIADO quando da realização da TRANSAÇÃO.</p>

                        <p>(k) EMISSOR é o BANCO CBSS S.A., inscrito no CNPJ/MF sob o n.º 27.098.060/0001-45, com sede na Cidade de Barueri, Estado de São Paulo, na Alameda Xingu, 512, 7º andar, parte Edifício Evolution Corporate Alphaville, que emite, administra
                            e processa as TRANSAÇÕES realizadas mediante o uso do CARTÃO.</p>

                        <p>(l) ESTABELECIMENTOS CONVENIADOS são todos os fornecedores de bens e serviços, credenciados pelo BANDEIRA, no Brasil e/ou no exterior, nos quais o CLIENTE poderá utilizar o CARTÃO.</p>

                        <p>(m) FATURA é o documento eletrônico disponibilizado mensalmente pelo EMISSOR no CANAL DE ATENDIMENTO, inclusive no aplicativo para celular do EMISSOR, no qual são discriminados, dentre outras informações: (i) o valor das TRANSAÇÕES
                            e SAQUES realizados mediante o uso do CARTÃO; (ii) o valor de todos os pagamentos realizados e demais créditos que o CLIENTE tenha com o EMISSOR; (iii) o LIMITE DE CRÉDITO; (iv) a data de vencimento da FATURA; (v) o PAGAMENTO
                            M?NIMO; (vi) instruções para pagamento da FATURA; (vi) os percentuais das taxas de juros, tributos e o Custo Efetivo Total – CET sobre as OPERAÇÕES contratadas, dentre outras informações.</p>

                        <p>(n) LIMITE DE CRÉDITO é o valor máximo, em moeda corrente nacional, disponibilizado e permitido pelo EMISSOR para utilização do CARTÃO. O EMISSOR poderá disponibilizar limites individuais para compras parceladas e para SAQUES.</p>

                        <p>(o) OPERAÇÕES são as TRANSAÇÕES e os SAQUES que podem ser realizados com o CARTÃO, quando referidos conjuntamente neste REGULAMENTO.</p>

                        <p>(p) PAGAMENTO TOTAL DA FATURA é valor exato indicado na FATURA que deve ser pago pelo CLIENTE no respectivo vencimento, sob pena de incorrer em atraso, multa e juros de mora.</p>

                        <p>(q) SAQUE é a operação em que o CLIENTE realiza a retirada de dinheiro em espécie nos CAIXAS ELETRÔNICOS CREDENCIADOS, no Brasil e/ou no exterior.</p>

                        <p>(r) SENHA é o código secreto, pessoal e intransferível, atribuído pelo CLIENTE para realização de TRANSAÇÕES e demais finalidades que venham a ser definidas pelo EMISSOR e que constitui, para todos os efeitos, a sua ASSINATURA
                            ELETRÔNICA. A SENHA será criada pelo CLIENTE quando da aprovação do CADASTRO e desbloqueio do CARTÃO.</p>

                        <p>(s) TARIFAS são os valores estabelecidos pelo EMISSOR e pagos pelo CLIENTE em decorrência dos serviços prestados pelo EMISSOR e pela utilização do CARTÃO. A relação das TARIFAS e seus respectivos valores podem ser encontrados na
                            Tabela de Tarifas disponibilizada no WEBSITE ou consultada por meio do CANAL DE ATENDIMENTO.</p>

                        <p>(t) TERMO DE ADESÃO é o conjunto de formulários compostos pela Proposta de Adesão e Termo de Recebimento e Responsabilidade pela Utilização do CARTÃO, ao qual o presente REGULAMENTO faz parte integrante e indissociável.</p>

                        <p>(u) TIMELINE referem-se as publicações efetuadas no aplicativo do celular com a descrição de utilização do CARTÃO, TRANSAÇÕES, LIMITE DE CRÉDITO e demais informações inerentes a utilização do CARTÃO.</p>

                        <p>(v) TRANSAÇÃO é a aquisição de bens e serviços, mediante o uso do CARTÃO, realizado pelo CLIENTE nos ESTABELECIMENTOS CONVENIADOS, até o LIMITE DE CRÉDITO previamente estabelecido pelo EMISSOR.</p>

                        <p>(w) VALIDADE é o período de vigência do CARTÃO, que será determinado pelo EMISSOR, podendo este ser cancelado, a qualquer tempo, nas hipóteses estabelecidas neste REGULAMENTO.</p>

                        <p>(x) WEBSITE é a página da internet cujo endereço eletrônico é www.digio.com.br, na qual os CLIENTES poderão encontrar informações referentes ao REGULAMENTO e demais informações relativas ao EMISSOR e ao CARTÃO.</p>


                    </div>

                    <div class="section-text">
                        <h1>CAPÍTULO II – DO CARTÃO DIGIO</h1>
                        <p><span>2.1.</span> CARACTERÍSTICAS DO CARTÃO</p>
                        <p><span>2.1.1.</span> O CARTÃO conterá, no mínimo: (i) a sua VALIDADE; (ii) o seu número; (iii) a BANDEIRA; (v) o código de segurança e (vi) nome do CLIENTE.</p>
                        <p><span>2.1.2.</span> Observado o seu LIMITE DE CRÉDITO e a sua VALIDADE, o CARTÃO destina-se a:</p>
                        <p>(a) Aquisição de bens e serviços em ESTABELECIMENTOS CONVENIADOS à BANDEIRA; e,</p>
                        <p>(b) Utilização para SAQUES nos CAIXAS ELETRÔNICOS CREDENCIADOS, pagamentos, consulta de extratos e outros serviços que venham a ser disponibilizados pelo EMISSOR.</p>
                        <p><span>2.2.</span> ADESÃO A ESTE REGULAMENTO E AQUISIÇÃO DO CARTÃO</p>
                        <p><span>2.2.1. </span>A solicitação do CARTÃO deverá ser realizada pelo CLIENTE por meio do CANAL DE ATENDIMENTO do EMISSOR, após a realização do seu CADASTRO.</p>
                        <p><span>2.2.2.</span> A aprovação ou não do CADASTRO ficará a livre critério do EMISSOR, de acordo com as normas legais vigentes e a sua politica de crédito.</p>
                        <p><span>2.2.3.</span> O CARTÃO é vinculado ao CADASTRO do CLIENTE, razão pela qual é necessário que este informe corretamente os seguintes dados, dentre os quais destacamos: (i) nome completo; (ii) CPF/MF; (iii) endereço; (iv) telefone;
                            (v) data e local de nascimento e, (vi) demais informações requeridas pelo EMISSOR.</p>
                        <p><span>2.2.4.</span>Em havendo qualquer irregularidade nas informações fornecidas pelo CLIENTE, a adesão poderá ser negada pelo EMISSOR, ficando a emissão do CARTÃO sujeita à regularização do CADASTRO.</p>
                        <p><span>2.2.5.</span> A adesão a este REGULAMENTO efetiva-se por meio de quaisquer dos seguintes eventos, o que ocorrer primeiro: (a) CADASTRO, AUTORIZAÇÃO POR MEIO ELETRÔNICO ou AUTORIZAÇÃO POR MEIO DE TELECOMUNICAÇÃO; (b) desbloqueio
                            do CARTÃO pelo CLIENTE junto ao CANAL DE ATENDIMENTO do EMISSOR; (c) utilização do CARTÃO, comprovada por meio da assinatura do CLIENTE no comprovante de OPERAÇÕES ou com a utilização da SENHA pelo CLIENTE; ou, (d) outra manifestação
                            de vontade.</p>
                        <p><span>2.2.6.</span> Somente será autorizada a emissão de um único CARTÃO por CPF/MF de CLIENTE. O CLIENTE não poderá adquirir outro CARTÃO até que o CARTÃO por ele detido seja efetivamente cancelado.</p>
                        <p><span>2.2.7.</span> Após a realização do CADASTRO e análise de crédito do CLIENTE realizada ao exclusivo critério do EMISSOR, o CARTÃO será emitido e enviado ao endereço indicado pelo CLIENTE bloqueado para uso. O desbloqueio deverá
                            ser realizado pelo CLIENTE por meio do CANAL DE ATENDIMENTO.</p>
                        <p><span>2.2.8.</span> O CLIENTE tem conhecimento que deverá rejeitar o recebimento do CARTÃO, se a embalagem que o contiver apresentar qualquer sinal de violação, devendo o ocorrido ser comunicado de imediato ao EMISSOR por intermédio
                            do CANAL DE ATENDIMENTO.
                        </p>
                        <p><span>2.2.9.</span> Este REGULAMENTO traz as condições decorrentes da utilização, emissão, entrega, substituição, cancelamento e demais questões relacionadas ao CARTÃO. Uma cópia deste REGULAMENTO estará disponível no WEBSITE do
                            EMISSOR.
                        </p>
                        <p><span>2.2.10.</span> Ao adquirir o CARTÃO, o CLIENTE reconhece que o EMISSOR é mero fornecedor do meio de pagamento, sendo o CLIENTE inteiramente responsável perante terceiros no que diz respeito à finalidade do uso do CARTÃO,
                            sua contabilização e os controles legais necessários.</p>
                        <p><span>2.2.11.</span> O EMISSOR não se responsabiliza pela eventual restrição dos ESTABELECIMENTOS CONVENIADOS ao uso do CARTÃO, pela qualidade, quantidade ou defeitos de bens ou serviços adquiridos, ou por qualquer diferença de
                            preço. Qualquer reclamação relacionada aos produtos ou serviços adquiridos mediante o uso do CARTÃO deverá ser direcionada exclusivamente ao ESTABELECIMENTO CREDENCIADO.</p>
                        <p><span>2.2.12.</span> Sem prejuízo do disposto na Cláusula acima, o EMISSOR reconhece ser responsável pelo processamento das OPERAÇÕES, prestação dos serviços previstos neste REGULAMENTO ao CLIENTE e pelo cumprimento da legislação
                            e regulamentação aplicáveis.
                        </p>
                        <p><span>2.3.</span> UTILIZAÇÃO DO CARTÃO</p>
                        <p><span>2.3.1.</span> A utilização do CARTÃO é formalizada com a aposição da SENHA, ou conforme o caso, da assinatura do COMPROVANTE DA TRANSAÇÃO, a aproximação do CARTÃO ao equipamento de venda (caso o CARTÃO tenha tecnologia
                            “sem contato?) ou mediante a informação dos dados do seu CARTÃO e confirmação da TRANSAÇÃO por meio do CANAL DE ATENDIMENTO (internet ou telefone), atos estes que caracterizam a inequívoca manifestação de vontade do CLIENTE
                            e concordância com a OPERAÇÃO em questão.</p>
                        <p><span>2.3.2.</span>A SENHA é de uso pessoal, intransferível e confidencial, não podendo ser revelada a quem quer que seja, nem exposta em local a que terceiros tenham acesso. Para todos os efeitos de direito, a SENHA equivalerá
                            à ASSINATURA ELETRÔNICA do CLIENTE.</p>
                        <p><span>2.3.3.</span> Na hipótese de a SENHA ser digitada incorretamente por 04 (quatro) vezes, o CARTÃO será bloqueado. O CLIENTE deverá entrar em contato com o CANAL DE ATENDIMENTO do EMISSOR para solicitar um novo CARTÃO, sendo
                            certo que não haverá cobrança de tarifa pela emissão do CARTÃO.</p>
                        <p><span>2.3.4.</span> Se o CLIENTE esquecer a SENHA do CARTÃO, deverá entrar em contato com o CANAL DE ATENDIMENTO para solicitar o envio de nova senha ao endereço informado no CADASTRO.</p>
                        <p><span>2.4.</span> DAS RESPONSABILIDADES DO CLIENTE</p>
                        <p><span>2.4.1.</span> O CLIENTE é responsável por todas as OPERAÇÕES realizadas com o CARTÃO.</p>
                        <p><span>2.4.2.</span> O CLIENTE ficará como único e exclusivo responsável pela utilização indevida do CARTÃO a ele vinculado, que terceiros tenham feito ou venham a fazer até a data e hora da recepção da comunicação de roubo, furto,
                            perda e/ou extravio pelo EMISSOR por meio dos serviços do CANAL DE ATENDIMENTO, disponíveis 24 (vinte e quatro) horas por dia, 07 (sete) dias por semana, inclusive feriados.</p>
                        <p><span>2.4.3.</span> O CLIENTE é responsável pelas informações cadastrais fornecidas no CADASTRO, no momento da solicitação do CARTÃO, sendo, portanto, responsável pela atualização de seus dados perante o EMISSOR sempre que necessário.</p>
                        <p><span>2.4.4.</span> São de responsabilidade do CLIENTE os encargos decorrentes de eventual alteração ou criação, por órgão governamental, de tributos que porventura venham a incidir sobre as OPERAÇÕES realizadas no Brasil e/ou
                            no exterior.</p>
                        <p><span>2.4.5.</span> O CLIENTE, conforme normas do Banco Central do Brasil, fica ciente que:</p>
                        <p>(i) Deverá, sob as penas da lei e de cancelamento do CARTÃO, respeitar todas as determinações legais em vigor, especialmente o limite determinado pelo Banco Central do Brasil para a realização de despesas em moeda estrangeira;</p>
                        <p>(ii) O EMISSOR, por exigência do Banco Central do Brasil, fornecerá ao reportado órgão regulador as informações das OPERAÇÕES realizadas pelo CLIENTE no Brasil e exterior;</p>
                        <p>(iii) O Banco Central do Brasil poderá comunicar à Secretaria da Receita Federal eventuais irregularidades no caso de despesa realizada em moeda estrangeira com finalidade diversa da declarada, bem como adotar as medidas cabíveis
                            no âmbito de sua competência, além de determinar o cancelamento do CARTÃO;</p>
                        <p>(iv) O CARTÃO é intransferível e para uso exclusivo; e,</p>
                        <p>(v) O CARTÃO somente poderá ser utilizado até que o EMISSOR solicite sua inutilização, por tê-lo cancelado ou por já se encontrar vencido. Em caso de cancelamento do CARTÃO por desinteresse comercial, o CLIENTE será comunicado
                            pelo CANAL DE ATENDIMENTO.</p>
                        <p><span>2.4.6.</span> O CLIENTE, ao aderir a este REGULAMENTO, obriga-se a observar as normas legais e regulamentares aplicáveis, especialmente as disposições na Lei no 9.613/1998 e suas posteriores alterações, bem como as normas
                            emitidas pelo Conselho Monetário Nacional e/ou Banco Central do Brasil de Prevenção e Lavagem de Dinheiro e ao Financiamento do Terrorismo e a Lei 12.846/2013 referente ao combate à corrupção, sendo o único responsável pelas
                            infrações que cometer e declarando saber que o EMISSOR poderá, sem prévio aviso, bloquear e/ou cancelar o cartão e tomar as providências cabíveis, sempre que for identificado condutas suspeitas que poderão a qualquer momento
                            ser comunicadas aos órgãos competentes.</p>
                        <p><span>2.5.</span> DO CADASTRO DO CLIENTE</p>
                        <p><span>2.5.1.</span> O CLIENTE, desde, já, autoriza o EMISSOR a compartilhar os seus dados cadastrais e do seu CARTÃO com a finalidade de obter financiamentos para suas OPERAÇÕES.</p>
                        <p><span>2.5.2.</span> Os dados do CLIENTE, coletados de acordo com a cláusula 2.2.3 deste REGULAMENTO, passarão a integrar o cadastro de dados do EMISSOR, que, desde já, fica autorizado a deles se utilizar, nos termos da legislação
                            aplicável.
                        </p>
                        <p><span>2.5.3.</span> O CLIENTE autoriza o EMISSOR a: (i) verificar informações cadastrais, financeiras e transacionais a seu respeito necessárias e relacionadas com a presente contratação, (ii) compartilhar as informações cadastrais
                            e transacionais com outras empresas do grupo econômico do EMISSOR nos termos da legislação vigente; e (iii) proceder ao monitoramento e à gravação das ligações telefônicas do CLIENTE por intermédio do CANAL DE ATENDIMENTO.</p>
                        <p><span>2.5.4.</span> Baseada na avaliação periódica do CADASTRO do CLIENTE, que levará em conta restrições tais como protestos e registros nos serviços de proteção ao crédito, alteração nas informações cadastrais e de crédito, o
                            EMISSOR poderá negar autorização para qualquer OPERAÇÃO ou ainda bloquear o CARTÃO, até o momento em que a situação de crédito do CLIENTE se enquadre novamente com as políticas do EMISSOR.</p>
                        <p><span>2.6.</span> DA COBRANÇA DE TARIFA</p>
                        <p><span>2.6.1.</span> Será cobrada TARIFA para avaliação emergencial de crédito pelo EMISSOR, na hipótese de serem realizadas TRANSAÇÕES e/ou SAQUES acima do LIMITE DE CRÉDITO do CARTÃO, conforme detalhado na Cláusula 2.12 deste
                            REGULAMENTO.
                        </p>
                        <p><span>2.6.1.1.</span> O valor da TARIFA de avaliação emergencial de crédito cobrada pelo EMISSOR está disponível para consulta na Tabela de Tarifas no WEBSITE ou nos demais serviços do CANAL DE ATENDIMENTO.</p>
                        <p><span>2.6.2.</span> No caso da utilização do serviço de SAQUE no Brasil ou no exterior, poderá haver a cobrança de tarifa por parte das empresas responsáveis pelos terminais de autoatendimento. Essa tarifa não é cobrada e nem está
                            sob o controle ou gestão do EMISSOR.</p>
                        <p><span>2.7. </span> DA AQUISIÇÃO DE BENS E SERVIÇOS</p>
                        <p><span>2.7.1.</span> A aquisição de bens e serviços será realizada mediante apresentação do CARTÃO pelo CLIENTE nos ESTABELECIMENTOS CONVENIADOS por meio da aposição da SENHA e recebimento de uma das vias do COMPROVANTE DA TRANSAÇÃO.</p>
                        <p><span>2.7.2.</span> No momento da realização de uma TRANSAÇÃO com o CARTÃO, se assim solicitado, o CLIENTE deverá apresentar ao ESTABELECIMENTO CONVENIADO um documento original de identificação pessoal, juntamente com o CARTÃO.
                            O CLIENTE deverá, então, confirmar a TRANSAÇÃO por meio do registro de sua SENHA no terminal eletrônico. A realização da TRANSAÇÃO dependerá do registro da SENHA que representará manifestação de vontade inequívoca, de ciência,
                            responsabilidade e de aceitação da TRANSAÇÃO realizada.</p>
                        <p><span>2.7.3.</span> Cabe ao CLIENTE a conferência prévia dos dados relativos à TRANSAÇÃO lançados no COMPROVANTE DA TRANSAÇÃO pelo ESTABELECIMENTO CONVENIADO sendo certo que a aposição da ASSINATURA ELETRÔNICA implicará integral
                            responsabilidade do CLIENTE pela TRANSAÇÃO.</p>
                        <p><span>2.7.4.</span> O EMISSOR não se responsabiliza por eventual restrição imposta pelos ESTABELECIMENTOS CONVENIADOS ao uso do CARTÃO, nem pelo preço, qualidade ou quantidade dos bens adquiridos ou serviços prestados, conforme
                            previsto na Cláusula 2.2.11 acima.</p>
                        <p><span>2.7.5.</span> Ao EMISSOR não poderá ser imputada qualquer responsabilidade se no momento da TRANSAÇÃO, ocorrer fatos ou circunstâncias anormais fora do controle do EMISSOR, não se limitando a problemas na rede de telefonia,
                            no fornecimento de energia elétrica ou na transmissão de informações entre o ESTABELECIMENTO CONVENIADO e o EMISSOR que impeçam a autorização da compra.</p>
                        <p><span>2.8.</span> DAS COMPRAS À VISTA OU PARCELADAS</p>
                        <p><span>2.8.1.</span> O CARTÃO poderá ser utilizado, nos ESTABELECIMENTOS CONVENIADOS, para compras à vista ou parceladas.</p>
                        <p><span>2.8.2.</span> As compras parceladas estão disponíveis apenas no território nacional, podendo ou não haver a incidência de juros.</p>
                        <p><span>2.8.3.</span> O parcelamento sem juros é operação oferecida pelo próprio ESTABELECIMENTO CONVENIADO. O número de parcelas e demais informações relacionadas a esse tipo de parcelamento são de total responsabilidade do ESTABELECIMENTO
                            CONVENIADO.
                        </p>
                        <p><span>2.8.4.</span> O parcelamento com juros é operação oferecida pelo EMISSOR e constitui uma modalidade de financiamento, havendo a incidência de juros e impostos sobre o valor total da TRANSAÇÃO, conforme disposto na Cláusula
                            2.15 deste Regulamento.</p>
                        <p><span>2.8.5.</span> Ao efetuar compras parceladas, de qualquer tipo, o CLIENTE fica, desde já, ciente de que o valor total da compra será abatido do LIMITE DE CRÉDITO do CARTÃO e que o valor de cada parcela será lançado para pagamento
                            nos respectivos vencimentos. O reestabelecimento do LIMITE DE CRÉDITO ocorrerá conforme o pagamento de cada parcela, nos termos deste REGULAMENTO.</p>
                        <p><span>2.8.6.</span> Em caso de cancelamento de qualquer compra ou pré-autorização, o CLIENTE deverá obter, no ato, o comprovante do cancelamento junto ao ESTABELECIMENTO CONVENIADO.</p>
                        <p><span><span>2.9.</span> DO SAQUE EM ESPÉCIE</span>
                        </p>
                        <p><span>2.9.1.</span> O CLIENTE poderá efetuar SAQUES mediante o uso do CARTÃO nos CAIXAS ELETRÔNICOS CREDENCIADOS, no Brasil e/ou no exterior.</p>
                        <p><span>2.9.2.</span> A realização de SAQUE constitui uma modalidade de empréstimo, havendo incidência de impostos sobre o SAQUE realizado, com a cobrança de juros pelo EMISSOR, conforme disposto na Cláusula 2.14 deste REGULAMENTO.</p>
                        <p><span>2.9.3.</span> O limite para a realização de SAQUES está sujeito à avaliação de crÉdito pelo EMISSOR no momento da contratação do CARTÃO e será informado na FATURA. O limite para SAQUES poderá ser inferior ao LIMITE DE CRÉDITO
                            do CARTÃO, conforme análise de crédito realizada ao exclusivo critério do EMISSOR.</p>
                        <p><span>2.9.4.</span> O valor total retirado por meio de SAQUE, bem como os respectivos impostos incidentes, deverá ser pago por meio do lançamento na FATURA.</p>
                        <p><span>2.9.5.</span> Caso o CLIENTE necessite efetuar SAQUE no exterior, poderá utilizar a rede credenciada pela BANDEIRA, observado o disposto na Cláusula 2.6.2 acima.</p>
                        <p><span>2.10.</span> DA UTILIZAÇÃO DO CARTÃO NO EXTERIOR</p>
                        <p><span>2.10.1.</span> O CARTÃO poderá ser utilizado para realização de TRANSAÇÕES em ESTABELECIMENTOS CONVENIADOS no exterior ou em sites de compras internacionais, bem como para a realização de SAQUES, respeitado, no que couber,
                            a legislação que rege as importações em geral, o REGULAMENTO do Imposto de Renda e demais normas fiscais aplicáveis.</p>
                        <p><span>2.10.2.</span> As disposições deste REGULAMENTO sujeitam-se às normas legais e regulamentares, critérios, limites e condições estabelecidas pelo Conselho Monetário Nacional (CMN) e pelo Banco Central do Brasil, relativas
                            ao uso de cartões no exterior ou em locais legalmente definidos como tal, aos quais as partes se obrigam a observar.</p>
                        <p><span>2.10.3.</span> Não serão permitidas compras de bens que possam configurar investimento no exterior, importação sujeita a registro no SISCOMEX e transações subordinadas a registro no Banco Central do Brasil.</p>
                        <p><span>2.10.3.1.</span> A realização de compras e saques no exterior ou em locais legalmente definidos como tal, com finalidade diversa da permitida, ensejará a adoção pelo Banco Central do Brasil das medidas cabíveis, no âmbito
                            de sua competência.</p>
                        <p><span>2.10.4.</span> O valor das TRANSAÇÕES e/ou SAQUES efetuados no exterior, em outra moeda que não seja o dólar americano, será sempre convertido em dólar dos Estados Unidos da América (EUA), de acordo com prática adotada mundialmente,
                            em obediência às normas aplicáveis à conversão de qualquer moeda estrangeira no País em que a despesa for efetuada.</p>
                        <p><span>2.10.5.</span> O CLIENTE fica ciente de que, eventualmente, poderão ocorrer fatos ou circunstâncias anormais fora do controle do EMISSOR, incluindo medidas governamentais supervenientes a este REGULAMENTO, que impeçam a efetivação
                            de remessas ao exterior para honrar as despesas em moeda estrangeira efetuadas junto aos ESTABELECIMENTOS CONVENIADOS fora do Brasil. Nesses casos, o CLIENTE continuará responsável pela obrigação em moeda estrangeira e pela
                            variação cambial de tais despesas, bem como pelos custos adicionais daí decorrentes, até que esses fatos ou circunstâncias sejam eliminados e seja possível efetuar as remessas devidas. Será, então, utilizada a taxa de conversão
                            em vigor na data da efetiva remessa. Enquanto tais fatos e circunstâncias anormais persistirem, o EMISSOR poderá suspender a utilização do CARTÃO para realização de despesas em moeda estrangeira.</p>
                        <p><span>2.10.6.</span> O CLIENTE reconhece que o valor das despesas em moeda estrangeira, constitui obrigação nessa moeda, embora pagável em moeda corrente nacional, por força da legislação brasileira, observando a cotação do dólar
                            dos Estados Unidos da América (EUA) no mercado de câmbio de taxas flutuantes vigente no dia da TRANSAÇÃO conforme prevê a Regulamentação do Banco Central do Brasil (Consolidação das Normas Cambiais). Para correção da variação
                            cambial será utilizada a taxa PTAX diária do Banco Central do Brasil, acrescido de taxa de administração cambial.</p>
                        <p><span>2.10.6.1. </span>Caso a taxa de câmbio utilizada na data de processamento da TRANSAÇÃO e lançada na FATURA seja diferente da taxa de câmbio na data do vencimento da FATURA, o valor relativo a essa diferença será creditado
                            ou debitado, conforme o caso, na FATURA do mês seguinte.</p>
                        <p><span>2.10.6.2 </span>A taxa de câmbio do dólar norte-americano utilizada pelo EMISSOR será compatível com a taxa média de mercado, em qualquer hipótese, para operações de varejo com pessoas físicas, podendo, em determinados dias,
                            ser superior ou inferior à taxa média divulgada pelo Banco Central.</p>
                        <p><span>2.10.7.</span> O CLIENTE fica ciente de que eventuais irregularidades detectadas no uso do CARTÃO no exterior serão objeto de comunicação à Secretaria da Receita Federal, pelo Banco Central do Brasil, cabendo-lhe (s) a justificativa
                            perante o Poder Público, quando notificado.</p>
                        <p><span>2.10.7.1.</span> Configurada a hipótese da Cláusula acima, sem prejuízo das sanções legais e regulamentares aplicáveis, o EMISSOR procederá ao imediato cancelamento do CARTÃO, ficando o CLIENTE impedido, pelo prazo mínimo
                            de 01 (um) ano, de obter novo CARTÃO.</p>
                        <p><span>2.10.8.</span> Os impostos decorrentes da remessa de moeda ao exterior necessária para pagamento das TRANSAÇÕES realizadas com o CARTÃO serão de responsabilidade do CLIENTE e, portanto, serão repassados pelo EMISSOR ao CLIENTE
                            por meio da FATURA.</p>
                        <p><span>2.11. </span>LIMITE DE CRÉDITO</p>
                        <p><span>2.11.1. </span>O CARTÃO poderá ser utilizado até o valor do seu LIMITE DE CRÉDITO disponível.</p>
                        <p><span>2.11.2.</span> O LIMITE DE CRÉDITO será comprometido pelo valor total de: (I) TRANSAÇÕES decorrentes do uso do CARTÃO, inclusive de compras parceladas; (II) SAQUES, (III) pré-autorizações de TRANSAÇÕES com o CARTÃO; (IV)
                            juros, impostos e demais despesas de acordo com este REGULAMENTO; (V) financiamentos contratados, inclusive para pagamento parcelado; (VI) renegociações das condições de pagamento do CARTÃO; e, (VII) outros pagamentos devidos
                            ao EMISSOR nos termos deste REGULAMENTO.</p>
                        <p><span>2.11.3.</span> O LIMITE DE CRÉDITO está disponível para consulta na FATURA e no CANAL DE ATENDIMENTO, inclusive por meio do aplicativo para celular do EMISSOR, podendo ser reduzido ou aumentado, a qualquer momento e de exclusivo
                            critério do EMISSOR. Caso o CLIENTE não concorde com o aumento ou redução do LIMITE DE CRÉDITO concedido, ele deverá utilizar o CANAL DE ATENDIMENTO. O uso do CARTÃO, após as comunicações de aumento ou redução, implicará sua
                            concordância com o novo LIMITE DE CRÉDITO.</p>
                        <p><span>2.11.4.</span> O CLIENTE fica ciente desde já que o EMISSOR poderá conceder a seu um LIMITE TEMPOR?RIO para utilização de seu CARTÃO, de acordo com datas comemorativas e/ou campanhas publicitárias a exclusivo critério do
                            EMISSOR. Caso o CLIENTE não concorde com novo LIMITE de CRÉDITO, deverá entrar em contato com o CANAL DE ATENDIMENTO.</p>
                        <p><span>2.11.5.</span> O CLIENTE deve acompanhar sempre o seu LIMITE DE CRÉDITO, uma vez que o EMISSOR negará a utilização do CARTÃO caso não haja LIMITE DE CRÉDITO disponível para determinada OPERAÇÃO.</p>
                        <p><span>2.11.6.</span> O LIMITE DE CRÉDITO será recomposto automaticamente em até 05 (cinco) dias úteis após o pagamento da FATURA.</p>
                        <p><span>2.12.</span> OPERAÇÕES ACIMA DO LIMITE DE CRÉDITO</p>
                        <p><span>2.12.1.</span> O CLIENTE poderá utilizar o serviço de avaliação emergencial de crédito, que consiste na avaliação, pelo EMISSOR, da viabilidade para concessão, em caráter emergencial, de autorização para realização de operação
                            acima do LIMITE DE CRÉDITO disponível.</p>
                        <p><span>2.12.2.</span> A utilização do serviço de avaliação emergencial de crédito não garante a autorização da OPERAÇÃO acima do LIMITE DE CRÉDITO. A aprovação da OPERAÇÃO está condicionada à análise pelo EMISSOR a cada ocorrência.</p>
                        <p><span>2.12.3.</span> O CLIENTE poderá, a qualquer momento, cancelar o serviço de avaliação emergencial de crédito no CANAL DE ATENDIMENTO. A eventual autorização do EMISSOR para realização de TRANSAÇÃO e/ou SAQUE acima do LIMITE
                            DE CRÉDITO disponível não implica o aumento do LIMITE DE CRÉDITO do CLIENTE.</p>
                        <p><span>2.13.</span> DA FATURA E DO PAGAMENTO</p>
                        <p><span>2.13.1.</span> É permitida a alteração da data de vencimento da FATURA mediante solicitação por meio do CANAL DE ATENDIMENTO.</p>
                        <p><span>2.13.2.</span> O CLIENTE deverá consultar o CANAL DE ATENDIMENTO e seguir as instruções de pagamento da FATURA. A falta de acesso ao CANAL DE ATENDIMENTO não exclui a obrigação do pagamento da FATURA pelo CLIENTE na data
                            de vencimento.</p>
                        <p><span>2.13.3</span>. As taxas de juros, percentuais de impostos e os números mínimos e máximos de parcelas aplicáveis a cada operação de financiamento prevista neste REGULAMENTO serão informados previamente na FATURA ou por meio
                            do CANAL DE ATENDIMENTO do EMISSOR.</p>
                        <p><span>2.13.4.</span> O CLIENTE poderá pagar o VALOR TOTAL DA FATURA até a data do vencimento, utilizando o boleto bancário anexado à FATURA ou disponibilizado pelo CANAL DE ATENDIMENTO. Após o vencimento, o CLIENTE só poderá efetuar
                            o pagamento do VALOR TOTAL DA FATURA em qualquer banco ou rede credenciada.</p>
                        <p><span>2.13.5.</span> Caso não ocorra o pagamento do VALOR TOTAL DA FATURA até a data do vencimento o CLIENTE estará em ATRASO e deverá pagar os seguintes valores na próxima FATURA: (i) saldo em atraso; (ii) juros sobre o saldo
                            em atraso proporcional ao período decorrido; (iii) Imposto sobre Operações Financeiras (IOF); (iv) multa de 2%; (v) mora 1% ao mês e (vi) valor das novas despesas realizadas com o CARTÃO.</p>

                        <p><span>2.13.6.</span> O CLIENTE será considerado em ATRASO no caso de pagamento inferior ao VALOR TOTAL DA FATURA ou se o cliente não aceitar o PARCELAMENTO DE FATURA disponibilizado no CANAL DE ATENDIMENTO.</p>

                        <p><span>2.13.7.</span> É facultado ao CLIENTE, a qualquer momento, liquidar antecipadamente os valores devidos referentes a qualquer financiamento, com o desconto proporcional na cobrança dos juros cobrados no aludido financiamento.</p>

                        <p><span>2.14.</span> PARCELAMENTO DE FATURA</p>

                        <p><span>2.14.1.</span> O CLIENTE poderá contratar o PARCELAMENTO DE FATURA no CANAL DE ATENDIMENTO do EMISSOR, sendo disponibilizado no momento da contratação as seguintes informações: (i) Valor da fatura; (ii) Prazo;</p>

                        <p>(iii) Taxa de Juros; (iv) Valor Futuro; (v) Valor das Parcelas; (vi) Vencimento;</p>

                        <p>(vii) Imposto sobre Operações Financeiras (IOF) e (viii) Custo Efetivo Total.</p>

                        <p><span>2.14.2.</span> Para contratar o PARCELAMENTO DE FATURA, o CLIENTE deverá efetuar o PAGAMENTO DO VALOR EXATO do plano de parcelamento indicado na FATURA. Sobre o valor total parcelado, serão devidos os valores descritos na
                            cláusula 2.14.1.</p>

                        <p><span>2.14.3.</span> A efetivação do plano escolhido na cláusula 2.14.2 se realizará mediante a confirmação do PAGAMENTO EXATO do plano de parcelamento escolhido pelo CLIENTE.</p>

                        <p><span>2.14.4.</span> O CLIENTE possui ciência que o PARCELAMENTO DA FATURA não contempla compras processadas e/ou realizadas após a data de fechamento da FATURA.</p>

                        <p><span>2.14.5.</span> As PARCELAS fixas vencerão mensalmente no mesmo dia do vencimento da FATURA.</p>

                        <p><span>2.14.6.</span> Ao contratar o PARCELAMENTO DE FATURA após a data de vencimento serão devidos os juros e encargos descritos na cláusula 2.13.4 referente ao SALDO DA FATURA na data da contratação do parcelamento.</p>

                        <p><span>2.14.7.</span> Os juros dos financiamentos serão aplicados diariamente sobre o saldo devedor, desde a data da contratação do financiamento até a data de seu pagamento, capitalizados mensalmente, com base em um fator diário
                            considerando-se o período de 1 (um) mês. Os juros e impostos aplicados em cada mês deverão ser integralmente pagos na data de vencimento da FATURA. Na hipótese de não pagamento, estes serão incorporados ao seu saldo devedor
                            e comprometerão o seu LIMITE DE CRÉDITO.</p>

                        <p><span>2.14.8.</span> O atraso no pagamento de qualquer obrigação devida por conta deste REGULAMENTO poderá ocasionar o bloqueio ou o cancelamento do CARTÃO, independente de notificação ou qualquer outra formalidade. Em caso de
                            atraso, o CLIENTE poderá, ainda, ter seu nome inscrito no SPC, na Serasa e nos demais órgãos de proteção ao crédito e suas obrigações futuras poderão ser consideradas vencidas antecipadamente pelo EMISSOR.</p>

                        <p><span>2.14.9.</span> O CLIENTE, desde já, reconhece que o valor das despesas lançadas na sua FATURA constitui dívida liquida, certa e exigível e o TERMO DE ADESÃO, acompanhado da FATURA, constitui título executivo extrajudicial,
                            nos termos do artigo 585, inciso II, do Código De Processo Civil. (Seguinte da 2.13.2)</p>

                        <p><span>2.15.</span> CUSTO EFETIVO TOTAL (CET)</p>

                        <p><span>2.15.1.</span> O Custo Efetivo Total (CET) das operações de financiamento será informado pelo EMISSOR nas FATURAS e em outros meios de comunicação colocados à disposição do CLIENTE na forma de taxa percentual anual.</p>

                        <p><span>2.15.2.</span> O cálculo do CET de cada operação considerará todos os juros, tributos, tarifas e outras despesas devidas nos termos deste REGULAMENTO em cada operação, sendo que para cálculo do CET de SAQUES informados na
                            Fatura, serão considerados o limite máximo para SAQUES e o prazo de 30 (trinta) dias.</p>

                        <p><span>2.16.</span> DA CONTESTAÇÃO DAS OPERAÇÕES</p>

                        <p><span>2.16.1.</span> Os questionamentos do CLIENTE quanto à origem dos débitos lançados na FATURA deverão ser endereçados aos CANAIS DE ATENDIMENTO do EMISSOR, no prazo de até 60 (sessenta) dias corridos, contados da data do vencimento
                            da respectiva FATURA.</p>

                        <p><span>2.16.1.1.</span> O não questionamento de quaisquer lançamentos contidos na FATURA dentro do prazo estabelecido na Cláusula 2.15.1 acima implicará no seu reconhecimento e aceitação pelo CLIENTE, para nada mais questionar a
                            qualquer tempo e a qualquer título.</p>
                        <p><span>2.16.2.</span> Na hipótese de questionamento por parte do CLIENTE, o EMISSOR poderá suspender, de imediato, a cobrança dos valores questionados para análise, todavia, fica, desde já, certo e ajustado que esta suspensão não
                            eximirá o CLIENTE do pagamento dos demais valores lançados na FATURA.</p>
                        <p><span>2.16.3.</span> Caso o EMISSOR apure que os valores questionados são de responsabilidade do CLIENTE, tais valores serão lançados novamente na FATURA do mês subsequente a esta apuração, devendo serem pagos no respectivo vencimento.</p>
                        <p><span>2.16.4. </span> Caberá ao EMISSOR a avaliação da liberação do LIMITE DE CRÉDITO até a conclusão da análise sobre os lançamentos questionados.</p>
                        <p><span>2.17.</span> DA SEGURANÇA DO CARTÃO</p>
                        <p><span>2.17.1.</span> Para manutenção da segurança do CARTÃO, o CLIENTE deverá: (i) guardar e conservar o CARTÃO de forma segura, bem como os dados de segurança, e a SENHA do CARTÃO; (ii) nunca permitir que qualquer outra pessoa
                            utilize o CARTÃO; (iii) não interferir nas fitas magnéticas ou circuito integrado do CARTÃO; (iv) não informar o número do CARTÃO a quaisquer pessoas não autorizadas; (v) não anotar a SENHA no CARTÃO; (vi) não informar a SENHA
                            do CARTÃO para qualquer outra pessoa, incluindo empregados do CANAL DE ATENDIMENTO; e (vii) não informar quaisquer dados de segurança a quaisquer pessoas não autorizadas.</p>
                        <p><span>2.17.2.</span> Ainda como medida de segurança, o EMISSOR poderá bloquear o CARTÃO preventivamente caso verifique OPERAÇÕES fora do padrão de uso do CLIENTE.</p>
                        <p><span>2.17.3.</span> É possível evitar este tipo de bloqueio avisando o EMISSOR por meio do CANAL DE ATENDIMENTO antes de realizar operações fora do padrão (como, por exemplo, em viagens ao exterior, dentre outros).</p>
                        <p><span>2.18.</span> DAS ALTERAÇÕES CONTRATUAIS</p>
                        <p><span>2.18.1.</span> O EMISSOR poderá, a qualquer tempo, alterar estas disposições contratuais, ampliar ou restringir a utilidade do CARTÃO ou, ainda, agregar-lhe outros serviços, produtos, TARIFAS e benefícios, mediante o envio
                            de prévia comunicação ao CLIENTE, NO PRAZO DE 30 (TRINTA), DIAS CORRIDOS, por qualquer meio, inclusive mensagem de texto, eventos na TIMELINE, de e-mail, SMS e notificações no celular, e o consequente aditivo contratual com
                            o registro no competente Cartório de Títulos e Documentos. Não estão abrangidas nesta hipótese as alterações ditadas por força de determinação legal, que poderão ocorrer independentemente de comunicação prévia.</p>
                        <p><span>2.18.2.</span> Caso o CLIENTE não concorde com as alterações comunicadas na forma da Cláusula anterior, deverá, no prazo de 7 (sete) dias corridos, contados do recebimento da comunicação, exercer o direito de rescisão e abster-se
                            de usar novamente o CARTÃO. A comunicação ao EMISSOR dar-se-á por escrito ou por intermédio do CANAL DE ATENDIMENTO, que providenciará imediatamente o cancelamento do CARTÃO. O CLIENTE, após a comunicação de rescisão, obriga-se
                            a proceder à destruição do CARTÃO.</p>
                        <p><span>2.18.3.</span> O não exercício do direito de rescisão nos termos da Cláusula anterior ou a utilização do CARTÃO depois de decorrido o prazo referido na cláusula 2.18.2 acima, implica, de pleno direito, a aceitação irrestrita
                            do CLIENTE às novas condições do REGULAMENTO.</p>
                        <p><span>2.19.</span> PERDA, FURTO, ROUBO, EXTRAVIO E BLOQUEIO DO CARTÃO</p>
                        <p><span>2.19.1.</span> O CLIENTE obriga-se a informar imediatamente ao EMISSOR, por meio do CANAL DE ATENDIMENTO no prazo de até 48 (quarente e oito) horas da ocorrência por telefone e/ou aplicativo para celular, a perda, o furto,
                            o roubo, o extravio do CARTÃO ou, ainda, a suspeita de fraude e outras causas fortuitas, de modo a permitir o imediato bloqueio e cancelamento do CARTÃO pelo EMISSOR. Deverá ainda, no caso de extravio ou perda do CARTÃO, ratificar
                            mencionada comunicação por escrito e na hipótese de furto e roubo encaminhar ao EMISSOR a cópia do respectivo Boletim de Ocorrência.</p>
                        <p><span>2.19.2.</span> TRANSAÇÕES efetuadas após 48 (quarenta e oito) horas do fato gerador da ocorrência serão de responsabilidade exclusiva do CLIENTE.</p>
                        <p><span>2.19.3. </span> As transações presenciais mediante utilização de SENHA serão de responsabilidade exclusiva do CLIENTE, incluindo casos de perda, extravio, roubo, furto e fraude do CARTÃO.</p>
                        <p><span>2.19.4.</span> Caso se comprove que o CLIENTE agiu de má fé, induzindo o EMISSOR ao erro, ele será o único responsável por quaisquer despesas incorridas com o uso do CARTÃO, mesmo após a comunicação ao EMISSOR.</p>
                        <p><span>2.19.5.</span> Caso sejam detectados indícios ou suspeitas de uso indevido do CARTÃO, o EMISSOR poderá bloquear o CARTÃO, até a conclusão das investigações, sem prejuízo das responsabilidades contraídas pelo próprio CLIENTE.</p>
                        <p><span>2.19.6.</span> O bloqueio do CARTÃO mencionado acima será baseado na análise do comportamento habitual do CLIENTE, podendo ainda o EMISSOR comunicar-se pelos CANAIS DE ATENDIMENTO e certificar junto ao CLIENTE a legitimidade
                            das TRANSAÇÕES realizadas.</p>
                        <p><span>2.19.7.</span> O EMISSOR, além do cancelamento e bloqueio do CARTÃO, providenciará a sua remissão.</p>
                        <p><span>2.20.</span> DA VIGÊNCIA DO CARTÃO</p>
                        <p><span>2.20.1.</span> O CARTÃO terá sua VALIDADE gravada em seu próprio CARTÃO. O EMISSOR emitirá, mediante solicitação do CLIENTE, cartões de reposição ou de substituição, mediante a disponibilidade do EMISSOR, à medida que se
                            aproxima do prazo de VALIDADE.</p>


                        <p><span>2.21.</span> DO CANCELAMENTO DO CARTÃO</p>
                        <p><span>2.21.1.</span> É facultado ao EMISSOR e ao CLIENTE encerrarem suas relações contratuais ainda que imotivadamente, hipótese em que o EMISSOR procederá ao cancelamento do CARTÃO. Deve-se observar ainda que: </p>
                        <p>(a) quando o cancelamento se der por iniciativa do CLIENTE, este será considerado efetivado somente após comunicação feita ao CANAL DE ATENDIMENTO;</p>
                        <p>(b) quando o cancelamento se der por iniciativa do EMISSOR, o fato deverá ser comunicado previamente ao CLIENTE, exceto nas hipóteses previstas nas cláusulas 2.21.2, 2.21.3 e 2.21.4.</p>
                        <p><span>2.21.2.</span> Deixando o CLIENTE de cumprir qualquer disposição deste REGULAMENTO, poderá o EMISSOR, independentemente de notificação ou de qualquer outra formalidade prévia, cancelar o respectivo CARTÃO, impedindo sua utilização
                            na rede de ESTABELECIMENTOS CONVENIADOS e nos CAIXAS ELETRÔNICOS CREDENCIADOS.</p>
                        <p><span>2.21.3.</span> É expressamente proibido e enseja o cancelamento automático do CARTÃO, independentemente de aviso, sua utilização por qualquer pessoa que não seja o CLIENTE.</p>
                        <p><span>2.21.4.</span> O EMISSOR efetuará ainda o cancelamento do CARTÃO, independentemente de aviso, nas seguintes hipóteses:</p>
                        <p>(a) Por ordem do Banco Central do Brasil;</p>
                        <p>(b) Por ordem do Poder Judiciário;</p>
                        <p>(c) Falecimento, interdição judicial ou insolvência do CLIENTE.</p>
                        <p>(d) Quando se constatar:</p>
                        <p>(i) Ausência de movimentação no CARTÃO pelo período MINIMO de 6 (seis) meses;</p>
                        <p>(ii) Movimentação de recursos oriundos de atividades consideradas irregulares, nos termos da legislação vigente, que dispõe sobre crime de lavagem de dinheiro ou ocultação de bens, direitos e valores, bem como atividades associadas
                            ao financiamento do terrorismo ou corrupção;</p>
                        <p>(iii) Movimentação incompatível com a capacidade financeira desenvolvida;</p>
                        <p>(iv) Utilização de meio inidôneos, com objetivo de postergar pagamentos e/ou cumprimento de obrigações assumidas com o EMISSOR;</p>



                        <p>(v) Irregularidades nas informações prestadas no CADASTRO, julgadas de natureza grave pelo EMISSOR;</p>
                        <p>(vi) CPF/MF cancelado pela Receita Federal; e,</p>
                        <p>(vii) Prática de qualquer modalidade de aquisição de bens e serviços vedada neste REGULAMENTO e pela legislação vigente.</p>
                        <p><span>2.21.5.</span> O cancelamento do CARTÃO acarretará: (a) a obrigação do CLIENTE de destruir o CARTÃO de forma a inutilizá-lo para uso; (b) a obrigação de pagar as FATURAS em aberto no momento do cancelamento, na hipótese de
                            elas existirem; (c) a possibilidade de sua retenção do CARTÃO, pelos ESTABELECIMENTOS CONVENIADOS, se no momento da TRANSAÇÃO constatar-se que o CARTÃO tenha sido cancelado pelo EMISSOR ou esteja a VALIDADE vencida.</p>
                        <p><span>2.21.6.</span> Nos termos da alínea (a) da Cláusula 2.21.5, o CLIENTE se compromete a destruir totalmente o CARTÃO cancelado que tenha ficado em seu poder, de forma a impedir sua utilização por terceiros, ficando acordado
                            que, pelo descumprimento desta obrigação, será responsabilizado por eventuais prejuízos do uso fraudulento ou indevido.</p>
                        <p><span>2.21.7.</span> Após o cancelamento do CARTÃO, em caso de vontade comum entre o EMISSOR e CLIENTE, poderá ser emitido outro CARTÃO para substituí-lo.</p>
                        <p><span>2.21.8.</span> O cancelamento do CARTÃO não extingue as relações contratadas entre o CLIENTE e o EMISSOR, o que só ocorrerá depois de liquidadas todas as obrigações existentes.</p>
                        <p><span>2.22.</span> DO CANAL DE ATENDIMENTO AO CLIENTE</p>
                        <p><span>2.22.1.</span> O EMISSOR manterá o CANAL DE ATENDIMENTO disponível 24 (vinte e quatro) horas por dia e 7 (sete) dias por semana para comunicação de extravio, perda, furto, roubo, fraude, falsificação do CARTÃO, comunicação
                            de apropriação indevida por terceiros, LIMITE DE CRÉDITO disponível para TRANSAÇÕES e demais informações necessárias.</p>
                        <p><span>2.22.2.</span> Os telefones do CANAL DE ATENDIMENTO e os outros meios de contato com o EMISSOR serão divulgados por intermédio dos meios de comunicação como, exemplificativamente, mas sem exclusão de outros, o próprio CARTÃO,
                            WEBSITE, e-mails, correspondência e anúncios.</p>
                    </div>

                    <div class="section-text">
                        <h1>CAPÍTULO III - DISPOSIÇÕES FINAIS E TRANSITÓRIAS</h1>
                        <p><span>3.1.</span> A tolerância ou transigência no cumprimento das obrigações contratuais serão consideradas ato de mera liberalidade, renunciando as partes invocá-la em seu beneficio, não constituindo renúncia ou modificação do
                            pactuado, que permanecerá válido integralmente, para todos os fins de direito.</p>
                        <p><span>3.2.</span> O CLIENTE se obriga a manter o EMISSOR informado sobre alterações de endereço e demais dados cadastrais, bem como a fornecer 2 (dois) meios de comunicação distintos para contato (por exemplo, e-mail e telefone),
                            sendo de sua exclusiva responsabilidade todas as consequências decorrentes do descumprimento dessa obrigação.</p>
                        <p><span>3.3.</span> Ao aderir a este REGULAMENTO, o CLIENTE está ciente e dá prévia autorização ao EMISSOR e/ou às empresas do mesmo grupo econômico a ele ligadas ou por ele controladas, bem como seus sucessores, a consultar os débitos
                            e responsabilidades decorrentes de OPERAÇÕES com características de crédito que constem ou venham a constar em seu nome em cadastros restritivos de crédito e no Sistema de Informações de Crédito (SCR) gerido pelo Banco Central
                            do Brasil ou nos sistemas que venham a complementá-lo e/ou a substituí-lo. O EMISSOR comunica ainda ao CLIENTE que:</p>
                        <p>(a) Os débitos e responsabilidades decorrentes de OPERAÇÕES com características de crédito realizadas pelo CLIENTE junto ao EMISSOR serão registrados no SCR, com que o CLIENTE, desde já, expressamente concorda e anui;</p>
                        <p>(b) O SCR tem por finalidades: (i) fornecer informações ao Banco Central do Brasil para fins de supervisão do risco de crédito a que estão expostas as instituições financeiras; e, (ii) propiciar o intercâmbio dessas informações
                            entre essas instituições com o objetivo de subsidiar decisões de crédito e de negócios.</p>
                        <p>(c) O CLIENTE poderá ter acesso aos dados constantes em seu nome no SCR por meio da Central de Atendimento ao Público do BACEN;</p>
                        <p>(d) Os pedidos de correções, de exclusões e registros de medidas judiciais e de manifestações de discordância quanto às informações constantes do SCR deverão ser dirigidas ao EMISSOR por meio de requerimento escrito e fundamentado
                            e, quando for caso, acompanhado da respectiva decisão judicial;</p>
                        <p><span>3.4.</span> As normas deste REGULAMENTO devem ser interpretadas como um todo, não sendo aplicável nenhuma suposição de que eventuais ambiguidades devam ser resolvidas contra a parte que a redigiu inicialmente.</p>
                        <p><span>3.5.</span> A menção a dispositivos legais será interpretada como referência às disposiçõesrespectivamente alteradas estendidas, consolidadas ou reformuladas, ou na medida em que sua aplicação seja modificada, de tempos em
                            tempos, por outras disposições e deverão incluir quaisquer disposições das quais sejam reformulações (com ou sem modificação) e quaisquer ordens, regulamentos, instrumentos ou outra legislação subordinada, elaboradas nos termos
                            da lei pertinente.</p>
                        <p><span>3.6. </span>A linguagem utilizada em todas as partes deste REGULAMENTO deverá, em todos os casos, ser interpretada simplesmente de acordo com seu significado correto e não estritamente de forma favorável ou desfavorável para
                            qualquer das partes.</p>
                        <p><span>3.7.</span> O EMISSOR e o CLIENTE se responsabilizam um perante o outro pelo pagamento de todos os custos de cobrança, administrativa ou extrajudicial, despendidos para o cumprimento de qualquer obrigação decorrente deste
                            REGULAMENTO.
                        </p>
                        <p><span>3.7.1.</span> Caso qualquer das partes seja obrigada a recorrer a ações ou medidas judiciais para fazer valer seus direitos, a parte culpada sujeitar-se-á ao pagamento da multa por perdas e danos, a ser arbitrada em Juízo,
                            sem prejuízo das custas processuais, honorários advocatícios que forem arbitrados pela justiça, correção monetária e demais cominações de direito.</p>
                        <p><span>3.8.</span> Os termos deste REGULAMENTO são extensivos e obrigatórios aos sucessores do EMISSOR bem como aos herdeiros e/ou sucessores do CLIENTE, que se responsabilizam por seu fiel cumprimento, em todos os seus termos e
                            condições.
                        </p>
                        <p><span>3.9.</span> Para fins de aplicação deste REGULAMENTO fica entendido que as operações firmadas serão reguladas pelas gravações e documentos (inclusive eletrônicos) firmados entre as partes, por legislação específica e por
                            este REGULAMENTO.</p>
                        <p><span>3.10.</span> O CLIENTE autoriza, neste ato, o EMISSOR a proceder ao envio de quaisquer informações a respeito do CARTÃO, por meio de quaisquer meios de veiculação destinados aos endereços e telefones cadastrados em sua base
                            de dados, limitando, mas não restringindo, ao envio de e-mails, cartas, fax, telegramas, avisos, mensagens via celular (SMS).</p>
                        <p><span>3.11.</span> Sem prejuízo da cláusula acima, o CLIENTE autoriza o EMISSOR a proceder ao envio de quaisquer informações referentes a propagandas, peças publicitárias, mídias eletrônicas/sociais a respeito de seus produtos
                            e operações, por meio de quaisquer meios de veiculação destinados aos endereços e telefones cadastrados em sua base de dados, limitando, mas não restringindo, ao envio de e-mails, cartas, fax, telegramas, avisos, mensagens
                            via celular (SMS). O CLIENTE poderá cancelar a presente autorização a qualquer momento por meio do</p>
                        <p>CANAL DE ATENDIMENTO.</p>
                        <p><span>3.12.</span> O CLIENTE autoriza o EMISSOR a ceder os direitos decorrentes do CARTÃO a terceiros, que ficarão sub-rogados em todas as ações, privilégios e garantias decorrentes dos direitos cedidos.</p>
                        <p><span>3.13.</span> Este REGULAMENTO entrará em vigor na data de seu registro no Serviço de Registro de Títulos e Documentos de Barueri, Estado de São Paulo.</p>
                        <p><span>3.14.</span> Fica eleito o Foro da Comarca do domicílio do CLIENTE, para dirimir as questões que se originarem deste REGULAMENTO.</p>
                    </div>

                    <div class="section-text">
                        <h1>Espero que dê tudo certo!</h1>
                        <p><strong>Veja abaixo nossos canais de atendimento:</strong></p>
                        <ul class="list-channel">
                            <li><img src="./assets/images/icon-envelope.svg" alt="">
                                <div class="text"><span><strong>fale@digio.com.br</strong></span></div>
                            </li>
                            <li><img src="./assets/images/icon-telephone.svg" alt="">
                                <div class="text"><span><strong>3004-9920</strong> (capitais e regiões metropolitanas)</span> <span><strong>0800-721-9920</strong> (demais localidades)</span></div>
                            </li>
                            <li><img src="./assets/images/icon-sac.svg" alt="">
                                <div class="text">
                                    <div class="item-sac"><span><strong>SAC – Informações, Reclamações, Cancelamentos, Sugestões e Elogios: 0800 333 8735 </strong></span><span>(atendimento disponível 24 horas por dia, 7 dias por semana)</span></div>
                                    <div class="item-sac"><span><strong>SAC – Deficientes Auditivos ou de Fala: 0800 333 8736 </strong></span><span>(atendimento disponível 24 horas por dia, 7 dias por semana)</span></div>
                                    <div class="item-sac"><span><strong>Ouvidoria: 0800 333 1474</strong> </span><span><strong>(atendimento de segunda a sexta-feira, das 11h às 16h, exceto feriados nacionais).</strong></span></div>
                                </div>
                            </li>
                            <li><img src="./assets/images/icon-localization.svg" alt="">
                                <div class="text"><span><strong>Alameda Xingu, 512 Ed. Evolution Corporate - 7º andar – Alphaville Industrial</strong></span> <span><strong>Barueri – SP – 06455-030 – CNPJ 27.098.060/0001-45.</strong></span></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@@include('./_partials/box-support-contact.html') @@include('./_partials/footer.html')
