@@include('./_partials/header.html', {
    "pageClass": "contact-page",
    "pageTitle": "Fale com a gente | Digio. Tudo se transforma",
    "pageDescription": "Cartão de crédito e aplicativo. Digital, simples, descomplicado."
})

<div class="box-title">
    <div class="container">
        <strong>Fale com a gente</strong>
        <h1>Como podemos te ajudar?</h1>
    </div>
</div>

<div class="box-content">
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="box-left">
                    <div class="group-contact">
                        <h2>Fale Conosco</h2>
                        <p>Curta nossa página para acompanhar as novidades. Mande uma msg =)</p>
                        <ul class="list-contact">
                            <li>
                                <a href="#" title="Facebook">
                                    <i class="icon-face-message"></i>
                                    Facebook
                                </a>
                            </li>

                            <li>
                                <a href="#" title="Twitter">
                                    <i class="icon-twitter"></i>
                                    Tweet
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="group-contact">
                        <h2>Fácil, fácil!</h2>
                        <p>Você pode nos enviar um e-mail ou acessar nossa página contato.</p>
                        <ul class="list-contact">
                            <li>
                                <a href="#" title="Email">
                                    <i class="icon-email"></i>
                                    fale@digio.com.br
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="box-right">
                    <form action="" data-scope="contact-form">
                        <h4>
                            Nosso suporte é rápido e eficiente. Respondemos rápido =)<br/>
                            É só mandar uma mensagem por aqui.
                        </h4>

                        <div class="input-row">
                            <input placeholder="Nome completo" type="text" id="contato-nome" name="nome" class="input-text" required />
                        </div>

                        <div class="input-row">
                            <input placeholder="E-mail" type="email" id="contato-email" name="email" class="input-text" required />
                        </div>

                        <div class="input-row">
                            <input placeholder="Assunto" type="text" id="contato-assunto" name="assunto" class="input-text" />
                        </div>

                        <div class="input-row">
                            <textarea placeholder="Mensagem" id="contato-mensagem" name="mensagem" class="input-text" required></textarea>
                        </div>

                        <div class="button-bar">
                            <button type="submit" class="button button-primary">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

@@include('./_partials/footer.html')