@@include('./_partials/header.html', {
    "pageClass": "product-digio-store-page",
    "pageTitle": "Digio Store | Digio. Tudo se transforma",
    "pageDescription": "Cartão de crédito e aplicativo. Digital, simples, descomplicado."
})

<div class="box-title product-title">
    <div class="container">
        <h1 class="logo-item">
            <i class="icon-logo-digio" alt="Digio"></i>
            <span>Store</span>
        </h1>
        <strong>
            Já pensou se você tivesse acesso a produtos<br>
            e serviços dentro do nosso app?
        </strong>
    </div>
</div>

<div class="box-content">
    <div class="container">

        <h2>Coheça nosso Marketplace</h2>
        <p>
            A Digio Store é isso: um marketplace prático e seguro. Você tem a segurança de comprar direto<br>
            em nosso aplicativo e o conforto de estar a poucos cliques dos seus produtos.
        </p>

        <ul class="list-brandings">
            <li><img class="netflix" src="./assets/images/brandings/netflix.svg" alt="Netflix"></li>
            <li><img class="xbox" src="./assets/images/brandings/xbox.svg" alt="Xbox One"></li>
            <li><img class="google-play" src="./assets/images/brandings/google-play.svg" alt="Google Play"></li>
            <li><img class="netflix" src="./assets/images/brandings/netflix.svg" alt="Netflix"></li>
            <li><img class="xbox" src="./assets/images/brandings/xbox.svg" alt="Xbox One"></li>
        </ul>

        <div class="group-images">
            <img src="./assets/images/gift-card-1.png" alt="Cartão 1" class="gift-card-1">
            <div class="app-image">
                <img src="./assets/images/cell-phone.svg" alt="Aplicativo Digio" class="mask">
                <div class="app-content">
                    <span class="image-app"></span>
                </div>
            </div>
            <img src="./assets/images/gift-card-2.png" alt="Cartão 2" class="gift-card-2">
        </div>

    </div>
</div>

@@include('./_partials/box-card-and-app.html')
@@include('./_partials/footer.html')