@@include('./_partials/header.html', {
    "pageClass": "product-digio-card-page",
    "pageTitle": "Digio Card | Digio. Tudo se transforma",
    "pageDescription": "Cartão de crédito e aplicativo. Digital, simples, descomplicado."
})

<div class="box-title product-title">
    <div class="container">
        <h1 class="logo-item">
            <i class="icon-logo-digio" alt="Digio"></i>
            <span>Card</span>
        </h1>
        <strong>
            Você gerencia todos os seus gastos pelo celular,<br>
            em tempo real, de forma fácil e interativa.
        </strong>
    </div>
</div>

<div class="box-content">
    <div class="container">

        <h2>Sem Burocracia</h2>
        <p>
            O Digio proporciona a experiência de solicitar um Cartão de Crédito Visa<br>
            Internacional assim mesmo, na palma da sua mão.
        </p>
        <a href="" data-item="open-sidebar" class="button button-primary">Quero um cartão</a>

        <div class="box-no-tax color-blue">
            <h5>Anuidade <i class="icon-no-tax" alt="0"></i> Sem taxa</h5>
            <div class="card-tax">
                <img src="./assets/images/digio-card.svg" alt="Cartão Digio" class="card">
                <img src="./assets/images/love-digio.svg" alt="Love Digio" class="love">
            </div>
        </div>

    </div>
</div>

@@include('./_partials/box-card-and-app.html')
@@include('./_partials/footer.html')