@@include('./_partials/header.html', {
    "pageClass": "product-digio-easy-page",
    "pageTitle": "Digio Cash | Digio. Tudo se transforma",
    "pageDescription": "Cartão de crédito e aplicativo. Digital, simples, descomplicado."
})

<div class="box-title product-title">
    <div class="container">
        <h1 class="logo-item">
            <i class="icon-logo-digio" alt="Digio"></i>
            <span>Cash</span>
        </h1>
        <strong>
            Sabe quando acontece aquela emergênca<br>
            e você precisa de dinheiro na conta?
        </strong>
    </div>
</div>

<div class="box-steps">
    <div class="container">

        <h2>Veja como é simples</h2>

        <div class="row list-steps">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="pulse-item">
                    <span class="mask">
                        <i class="icon-thousand"></i>
                    </span>
                </div>
                <h5>Digique o valor que<br/> você deseja</h5>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="pulse-item">
                    <span class="mask">
                        <i class="icon-money"></i>
                    </span>
                </div>
                <h5>Escolha a melhor<br/> forma de pagar</h5>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="pulse-item">
                    <span class="mask">
                        <i class="icon-like"></i>
                    </span>
                </div>
                <h5>Pronto! Seu dinheiro estará<br/> na sua conta rapidinho!</h5>
            </div>
        </div>

    </div>
</div>


<div class="box-simulation">
    <div class="container">

        <h4>Faça uma simulação</h4>

        <form action="#" data-scope="simulation-form">
            <div class="row calculation">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h3>Qual valor você precisa?</h3>

                    <div class="group-range-slider">
                        <strong class="value" data-item="value">R$ 10.000</strong>
                        <input class="range-slider" type="range" value="10000" min="0" max="100000" step="500" data-item="range">
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h3>Quer dividir em quantas parcelas?</h3>
                    <div class="group-radio-button" data-item="times">
                        <div class="group-radio">
                            <label for="12-times">
                                <div class="radio">
                                    <input id="12-times" type="radio" name="plots" value="12" checked />
                                    <i></i>
                                </div>
                                <span>12 Vezes</span>
                            </label>
                        </div>

                        <div class="group-radio">
                            <label for="24-times">
                                <div class="radio">
                                    <input id="24-times" type="radio" name="plots" value="24" />
                                    <i></i>
                                </div>
                                <span>24 Vezes</span>
                            </label>
                        </div>

                        <div class="group-radio">
                            <label for="36-times">
                                <div class="radio">
                                    <input id="36-times" type="radio" name="plots" value="36" />
                                    <i></i>
                                </div>
                                <span>36 Vezes</span>
                            </label>
                        </div>

                        <div class="group-radio">
                            <label for="48-times">
                                <div class="radio">
                                    <input id="48-times" type="radio" name="plots" value="48" />
                                    <i></i>
                                </div>
                                <span>48 Vezes</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12 right-box">
                    <h3>Veja o que conseguimos para você:</h3>

                    <div class="result">
                        <strong data-item="result">12 x R$ 1140,00</strong>
                        <span class="tax">Taxa de <i data-item="tax">0.8</i>%/mês</span>
                    </div>

                    <a href="" data-item="open-sidebar" class="button button-primary">Quero um cartão</a>
                </div>
            </div>
        </form>

    </div>
</div>

@@include('./_partials/box-card-and-app.html')
@@include('./_partials/footer.html')