@@include('./_partials/header.html', {
    "pageClass": "error-page",
    "pageTitle": "Ocorreu um erro erro | Digio. Tudo se transforma",
    "pageDescription": "Cartão de crédito e aplicativo. Digital, simples, descomplicado."
})

<div class="container">
    <h2>A página que você está procurando não existe.</h2>
    <a class="button button-secondary-border" href="./">Voltar para a página inicial</a>
</div>

@@include('./_partials/footer.html')