@@include('./_partials/header.html', {
    "pageClass": "home-page",
    "pageTitle": "Digio. Tudo se transforma",
    "pageDescription": "Cartão de crédito e aplicativo. Digital, simples, descomplicado."
})

<div class="banner-home">

    <div class="list-banners" data-scope="list-slider-home">

        <div class="box-banner banner-1">
            <h1>
                <strong>transforme</strong>
                <span>dívidas no final do mês em <i class="icon-viagem"></i> com os amigos</span>
            </h1>

            <a data-item="open-sidebar" href="#" class="button button-primary">Quero um cartão</a>
        </div>

        <div class="box-banner banner-2">
            <h1>
                <strong>transforme</strong>
                <span>anuidade em <i class="icon-festa"></i> o ano inteiro</span>
            </h1>

            <a data-item="open-sidebar" href="#" class="button button-primary">Quero um cartão</a>
        </div>

        <div class="box-banner banner-3">
            <h1>
                <strong>transforme</strong>
                <span>tempo na fila em <i class="icon-praia"></i> com a família</span>
            </h1>

            <a data-item="open-sidebar" href="#" class="button button-primary">Quero um cartão</a>
        </div>

    </div>

    <div class="view-more" data-scope="anchor-navigation">
        <a href="#box-apps">
            <span>Saiba mais</span>
            <i class="icon-arrow-down-plus"></i>
        </a>
    </div>

    <div class="social-list">
        <ul>
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook-f"></i></a></li>
            <li><a href="#"><i class="icon-instagram"></i></a></li>
        </ul>
        <strong>Instale o Digio e experimente!</strong>
        <span>No final, é tudo uma questão de experimentar o novo.</span>
    </div>

</div>

<div class="box-apps" id="box-apps">
    <div class="container">

        <h2>O Digio chegou para transformar sua vida</h2>
        <p>Sem anuidade, sem conta em banco. E você ainda controla tudo pelo smartphone. <br> <strong class="text-center">Baixe o aplicativo e peça o seu.</strong></p>

        <ul class="list-buttons-apps">
            <li>
                <a href="#" title="Disponível no Google Play" class="button-app">
                    <i class="icon-play-store"></i>
                    <span>Disponível no</span>
                    <strong>Google Play</strong>
                </a>
            </li>
            <li>
                <a href="#" title="Disponível na App Store" class="button-app">
                    <i class="icon-app-store"></i>
                    <span>Baixar na</span>
                    <strong>App Store</strong>
                </a>
            </li>
        </ul>

        <div class="banner-app">

            <i class="icon-logo-digio"></i>

            <div class="app-image">
                <img src="./assets/images/cell-phone.svg" alt="Aplicativo Digio" class="mask">
                <div class="app-content">
                    <span class="image-app"></span>
                </div>
            </div>

            <div class="circle">
                <img src="./assets/images/home/phone-circle.svg" alt="Aplicativo Digio" class="circle-image">
                <div class="circle-content">
                    <ul class="list-slider-app" data-scope="list-slider-app">
                        <li>
                            <i class="icon-ok-pontos"></i>
                            <p>Use seu Digio, e aproveite os benefícios exclusivos de fazer parte da <span>#GeraçãoAzul</span>.</p>
                        </li>
                        <li>
                            <i class="icon-categorias"></i>
                            <p>Acompanhe seus gastos de acordo com a <span>categoria</span>.</p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="box-card-app">
    <div class="container">

        <h2>Cartão e aplicativo.</h2>
        <p>Digital, simples e Intuitívo. O Digio veio para facilitar.</p>
        <a data-item="open-sidebar" href="#" class="button button-secondary">Quero um cartão</a>

        <div class="box-no-tax">
            <h5>Anuidade <i class="icon-no-tax" alt="0"></i></h5>
            <div class="card-tax">
                <img src="./assets/images/digio-card.svg" alt="Cartão Digio" class="card">
                <img src="./assets/images/love-digio.svg" alt="Love Digio" class="love">
            </div>
        </div>

    </div>
</div>

<div class="box-get-card">
    <div class="container">

        <div class="row list-steps">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="pulse-item">
                    <span class="mask">
                        <i class="icon-small-digio-card"></i>
                    </span>
                </div>
                <h5>Peça seu Digio onde<br/> e quando quiser</h5>
                <p><a data-item="open-sidebar" href="#" title="Peça seu Digio">Clique aqui</a> para solicitar ou baixe nosso app na App Store ou Google Play.</p>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="pulse-item">
                    <span class="mask">
                        <i class="icon-small-digio-app"></i>
                    </span>
                </div>
                <h5>Digital, simples<br/> e descomplicado</h5>
                <p>Você gerencia todos os seus gastos pelo celular, em tempo real, de forma fácil e interativa.</p>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="pulse-item">
                    <span class="mask">
                        <i class="icon-small-digio-download"></i>
                    </span>
                </div>
                <h5>Baixe o app e solicite<br/> o seu cartão =)</h5>
                <p>Fique livre de anuidade e aproveite as facilidades da Digio Store.</p>
            </div>
        </div>

        <a data-item="open-sidebar" href="#" class="button button-primary">Quero um cartão</a>

        <div class="social-likes">
            <div class="fb-like" data-href="https://www.facebook.com/meudigio" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
        </div>

    </div>
</div>

<div class="box-slider-products">
    <div class="list-banners-products" data-scope="list-slider-products">

        <div class="box-banner-products banner-1">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-sm-6 col-xs-12">

                        <div class="group-text">

                            <div class="logo-item">
                                <i class="icon-logo-digio"></i>
                                <span>Store</span>
                            </div>

                            <h3>
                                Já pensou se você tivesse acesso<br>
                                a produtos e serviços dentro do nosso app?
                            </h3>

                            <p>
                                A Digio Store é um marketplace de produtos e serviços que fica disponível dentro do próprio aplicativo do Digio. Muito legal né?!! Queremos levar rapidez, praticidade e condições especiais para as compras dos nossos clientes.
                            </p>

                            <a href="./digio-store.html" class="view-more">Conheça mais sobre a digio store</a>

                            <ul class="list-brandings">
                                <li><img class="netflix" src="./assets/images/brandings/netflix.svg" alt="Netflix" /></li>
                                <li><img class="xbox" src="./assets/images/brandings/xbox.svg" alt="Xbox One" /></li>
                                <li><img class="google-play" src="./assets/images/brandings/google-play.svg" alt="Google Play" /></li>
                            </ul>

                        </div>

                    </div>

                    <div class="col-md-6 col-sm-6 hidden-xs">

                        <div class="app-image">
                            <img src="./assets/images/cell-phone.svg" alt="Digio Store Download" class="mask" />
                            <div class="app-content">
                                <span class="image-app"></span>
                            </div>
                        </div>

                        <div class="gift-card">
                            <img src="./assets/images/gift-card-2.png" alt="Gift Card" />
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="box-banner-products banner-2">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-sm-6 col-xs-12">

                        <div class="group-text">

                            <div class="logo-item">
                                <i class="icon-logo-digio"></i>
                                <span>Card</span>
                            </div>

                            <h3>
                                Você gerencia todos os<br>
                                seus gastos pelo celular, <br>
                                em tempo real.
                            </h3>

                            <p>
                                Fale com a gente sempre que for preciso.   Estamos sempre em sintônia<br>
                                com você,  seja para resolver um problema ou apenas para um bom papo.

                            </p>

                            <a href="./digio-card.html" class="view-more">Conheça mais sobre o digio card</a>

                        </div>

                    </div>

                    <div class="col-md-6 col-sm-6 hidden-xs">

                        <div class="app-image">
                            <img src="./assets/images/cell-phone.svg" alt="Digio Store Download" class="mask" />
                            <div class="app-content">
                                <span class="image-app"></span>
                            </div>
                        </div>

                        <div class="credit-card">
                            <img src="./assets/images/digio-card.svg" alt="Digio Card" />
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="box-banner-products banner-3">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-sm-6 col-xs-12">

                        <div class="group-text">

                            <div class="logo-item">
                                <i class="icon-logo-digio"></i>
                                <span>Cash</span>
                            </div>

                            <h3>
                                Precisa de dinheiro na mão?<br>
                                Isto não é mais problema!
                            </h3>

                            <p>
                                Então, agora ficou muito fácil ter, basta solicitar pelo app<br>
                                do Digio e o melhor é que você consegue parcelar o<br>
                                pagamento em até 12 vezes!
                            </p>

                            <a href="./digio-easy.html" class="view-more">Faça uma simulação</a>

                        </div>

                    </div>

                    <div class="col-md-6 col-sm-6 hidden-xs">

                        <div class="app-image app-image-1">
                            <img src="./assets/images/cell-phone.svg" alt="Digio Store Download" class="mask" />
                            <div class="app-content">
                                <span class="image-app"></span>
                            </div>
                        </div>

                        <div class="app-image app-image-2">
                            <img src="./assets/images/cell-phone.svg" alt="Digio Store Download" class="mask" />
                            <div class="app-content">
                                <span class="image-app"></span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="box-testimonials">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-6 col-xs-12">
                <div class="group-text">

                    <h4>
                        O Digio é chave para<br/>
                        viver novas experiências
                    </h4>

                    <p>
                        Experiências que trazem novas percepções, novos significados, novas sensações,<br/>
                        e que provam para o mundo que nada permanece sempre igual.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">

                <div class="slider-arrows">
                    <a href="#" data-arrow="slider-testimonials-top"><i class="icon-arrow-top-circle"></i></a>
                    <a href="#" data-arrow="slider-testimonials-bottom"><i class="icon-arrow-bottom-circle"></i></a>
                </div>

                <div class="list-slider-testimonials" data-scope="list-slider-testimonials">

                    <div class="card-testimonial">
                        <i class="icon-twitter"></i>
                        <p class="text-content">“Quando lembro que posso usar o @meudigio para fazer doação para o MSF...”</p>
                        <div class="author">
                            <img src="https://www.dicasdemulher.com.br/wp-content/uploads/2014/11/ana-claudia-100x100.jpg" alt="Nome" />
                            <strong>Darth Vader</strong>
                            <i>@umanery</i>
                        </div>
                    </div>

                    <div class="card-testimonial">
                        <i class="icon-twitter"></i>
                        <p class="text-content">“Quando lembro que posso usar o @meudigio para fazer doação para o MSF...”</p>
                        <div class="author">
                            <img src="http://static1.belezaextraordinaria.com.br/articles/7/77/@/400--article_thumb_small-1.jpg" alt="Nome" />
                            <strong>Princesa Léia</strong>
                            <i>@umanery</i>
                        </div>
                    </div>

                    <div class="card-testimonial">
                        <i class="icon-twitter"></i>
                        <p class="text-content">“Quando lembro que posso usar o @meudigio para fazer doação para o MSF...”</p>
                        <div class="author">
                            <img src="http://static1.preparadopravaler.com.br/articles/5/15/83/5/@/81480-por-ser-mais-proporcional-o-rosto-de-fo-100x100-1.jpg" alt="Nome" />
                            <strong>Darth Maul</strong>
                            <i>@umanery</i>
                        </div>
                    </div>

                    <div class="card-testimonial">
                        <i class="icon-twitter"></i>
                        <p class="text-content">“Quando lembro que posso usar o @meudigio para fazer doação para o MSF...”</p>
                        <div class="author">
                            <img src="https://www.dicasdemulher.com.br/wp-content/uploads/2014/11/ana-claudia-100x100.jpg" alt="Nome" />
                            <strong>Darth Vader</strong>
                            <i>@umanery</i>
                        </div>
                    </div>

                    <div class="card-testimonial">
                        <i class="icon-twitter"></i>
                        <p class="text-content">“Quando lembro que posso usar o @meudigio para fazer doação para o MSF...”</p>
                        <div class="author">
                            <img src="http://static1.belezaextraordinaria.com.br/articles/7/77/@/400--article_thumb_small-1.jpg" alt="Nome" />
                            <strong>Princesa Léia</strong>
                            <i>@umanery</i>
                        </div>
                    </div>

                    <div class="card-testimonial">
                        <i class="icon-twitter"></i>
                        <p class="text-content">“Quando lembro que posso usar o @meudigio para fazer doação para o MSF...”</p>
                        <div class="author">
                            <img src="http://static1.preparadopravaler.com.br/articles/5/15/83/5/@/81480-por-ser-mais-proporcional-o-rosto-de-fo-100x100-1.jpg" alt="Nome" />
                            <strong>Darth Maul</strong>
                            <i>@umanery</i>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="box-benefits-partners" data-scope="partners">

    <div class="container">
        <div class="row">

            <div class="col-md-10 col-sm-12 col-xs-12">
                <div class="row">

                    <div class="col-md-4 col-sm-5 col-xs-12">
                        <ul class="list-controllers" data-item="controllers">
                            <li class="current-slide">
                                <a data-slide="0" href="#" title="Quem não quer desconto?">
                                    <i class="icon-desconto"></i>
                                    <span>Quem não quer desconto?</span>
                                </a>
                            </li>

                            <li>
                                <a data-slide="1" href="#" title="Agradinho pro seu pet">
                                    <i class="icon-pet"></i>
                                    <span>Agradinho pro seu pet</span>
                                </a>
                            </li>

                            <li>
                                <a data-slide="2" href="#" title="Fique na moda gastando pouco">
                                    <i class="icon-moda"></i>
                                    <span>Fique na moda gastando pouco</span>
                                </a>
                            </li>

                            <li>
                                <a data-slide="3" href="#" title="Renovando a mobília =)">
                                    <i class="icon-mobilia"></i>
                                    <span>Renovando a mobília =)</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <div class="list-content" data-item="slider-1">

                            <div class="partner">
                                <h4>Até 30% de desconto em todo o Hotsite. Frete grátis para todo o Brasil.</h4>
                                <p>Aproveite essa super promoção.</p>
                                <div class="partner-digio">
                                    <img src="./assets/images/brandings/fast-shop.svg" alt="Fast Shop" />
                                    <i class="icon-more"></i>
                                    <i class="icon-logo-digio"></i>
                                </div>
                                <a data-item="open-sidebar" href="#" class="button button-secondary">Pedir o meu cartão</a>
                            </div>

                            <div class="partner">
                                <h4>Ganhe 7% de desconto em todo o site da Petz com o seu cartão Digio.</h4>
                                <p>O seu pet merece!</p>
                                <div class="partner-digio">
                                    <img src="./assets/images/brandings/petz.svg" alt="Petz" />
                                    <i class="icon-more"></i>
                                    <i class="icon-logo-digio"></i>
                                </div>
                                <a data-item="open-sidebar" href="#" class="button button-secondary">Pedir o meu cartão</a>
                            </div>

                            <div class="partner">
                                <h4>Você tem R$20 de desconto em compras acima de R$100 reais. Aproveite!</h4>
                                <p>Privalia é a número 1 no Brasil.</p>
                                <div class="partner-digio">
                                    <img src="./assets/images/brandings/privalia.svg" alt="Privalia" />
                                    <i class="icon-more"></i>
                                    <i class="icon-logo-digio"></i>
                                </div>
                                <a data-item="open-sidebar" href="#" class="button button-secondary">Pedir o meu cartão</a>
                            </div>

                            <div class="partner">
                                <h4>Você tem 7% de desconto no site da Mobly com o seu cartão Digio.</h4>
                                <p>Decore do seu jeito.</p>
                                <div class="partner-digio">
                                    <img src="./assets/images/brandings/mobly.svg" alt="Mobly" />
                                    <i class="icon-more"></i>
                                    <i class="icon-logo-digio"></i>
                                </div>
                                <a data-item="open-sidebar" href="#" class="button button-secondary">Pedir o meu cartão</a>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-1 col-sm-1 col-xs-12 slider-images">
                        <ul class="slide-images" data-item="slider-2">
                            <li style="background-image: url(./assets/images/home/partners/image-fast-shop.jpg);"></li>
                            <li style="background-image: url(./assets/images/home/partners/image-petz.jpg);"></li>
                            <li style="background-image: url(./assets/images/home/partners/image-privalia.jpg);"></li>
                            <li style="background-image: url(./assets/images/home/partners/image-mobly.jpg);"></li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<div class="box-medium">
    <div class="container">

        <h4><i class="icon-medium"></i></h4>
        <a class="link-medium" href="#" title="Siga o @meudigio">Siga o @meudigio</a>

        <div data-scope="medium-feed" class="loading-content"></div>

    </div>
</div>

<div class="box-faq">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <h4>Ficou com dúvida?</h4>
                <p class="description">Sua dúvida não está aqui? Fale com a gente agora mesmo!</p>

                <ul class="list-contact">

                    <li>
                        <a href="#" title="Facebook">
                            <i class="icon-face-message"></i>
                            Facebook
                        </a>
                    </li>

                    <li>
                        <a href="#" title="Twitter">
                            <i class="icon-twitter"></i>
                            Tweet
                        </a>
                    </li>

                    <li>
                        <a href="#" title="Email">
                            <i class="icon-email"></i>
                            fale@digio.com.br
                        </a>
                    </li>

                    <li>
                        <a href="#" title="Ajuda">
                            <i class="icon-question"></i>
                            Acesse nossa página de ajuda
                        </a>
                    </li>

                </ul>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="accordion" data-scope="accordion">

                    <div class="accordion-group">
                        <h6 data-item="toggle">Meu cartão é internacional?</h6>
                        <div data-item="content" class="accordion-content">
                            <p>Claro! O Digio é tão bacana que é aceito em mais de 24 milhões de estabelecimentos espalhados pelo mundo e que aceitam a bandeira VISA. Não é legal? ;D</p>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <h6 data-item="toggle">O que é o Digio?</h6>
                        <div data-item="content" class="accordion-content">
                            <p>Claro! O Digio é tão bacana que é aceito em mais de 24 milhões de estabelecimentos espalhados pelo mundo e que aceitam a bandeira VISA. Não é legal? ;D</p>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <h6 data-item="toggle">Quais são as taxas e tarifas do Digio?</h6>
                        <div data-item="content" class="accordion-content">
                            <p>Claro! O Digio é tão bacana que é aceito em mais de 24 milhões de estabelecimentos espalhados pelo mundo e que aceitam a bandeira VISA. Não é legal? ;D</p>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <h6 data-item="toggle">Quem pode ter um cartão Digio?</h6>
                        <div data-item="content" class="accordion-content">
                            <p>Claro! O Digio é tão bacana que é aceito em mais de 24 milhões de estabelecimentos espalhados pelo mundo e que aceitam a bandeira VISA. Não é legal? ;D</p>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <h6 data-item="toggle">Qual o tempo de análise da solicitação?</h6>
                        <div data-item="content" class="accordion-content">
                            <p>Claro! O Digio é tão bacana que é aceito em mais de 24 milhões de estabelecimentos espalhados pelo mundo e que aceitam a bandeira VISA. Não é legal? ;D</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="box-get-card-blue">
    <div class="box-bg-group">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-8 col-xs-12">
                    <h4>
                        Peça já o seu Digio.<br/>
                        Sem anuidade e sem <br/>
                        juros rotativos.
                    </h4>
                    <p class="description">
                        Não perde tempo! Baixe agora o app e solicite o seu!
                    </p>
                    <a data-item="open-sidebar" href="#" class="button button-secondary">Peça já o seu cartão Digio</a>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        Widgets.mediumFeeds.fetch()
    })
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.10&appId=130951330321299';fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>

@@include('./_partials/footer.html')
