@@include('./_partials/header.html', { "pageClass": "privacy-policy", "pageTitle": "Política de Privacidade | Digio. Tudo se transforma", "pageDescription": "Cartão de crédito e aplicativo. Digital, simples, descomplicado." })

<section class="s-top-terms">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Políticas, termos e contratos</h1>
                <img src="./assets/images/arrow-down.svg" class="arrow-down" alt="">
            </div>
        </div>
    </div>
</section>

<section class="container-text">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="menu-terms">
                    <li><a href="contrato-digio.html">Contrato Digio</a></li>
                    <li><a href="termo-digio-store.html">Contrato Digio Store</a></li>
                    <li class="active"><a href="politica-privacidade.html">Política de Privacidade</a></li>
                    <li><a href="termo-adesao.html">Termo de Adesão</a></li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="text-geral">
                    <div class="section-text">
                        <h1>O Digio se compromete com a sua privacidade.</h1>
                        <p>A proteção à privacidade e aos dados dos usuários refletem os valores do Digio e reafirmam o seu compromisso com a melhoria contínua da eficácia do processo de proteção de dados.</p>
                        <p>É importante que o usuário leia e compreenda essas regras, que devem ser interpretadas em conjunto com outras disposições aplicáveis, especialmente aquelas provenientes da legislação em vigor.</p>
                        <p>Estas políticas de Privacidade informam de maneira simples e transparente a forma de tratamento e uso das informações, desde a sua coleta até o seu descarte. A leitura deve ser feita a cada acesso a este site, considerando que
                            o documento é dinâmico e pode ser alterado a qualquer momento.</p>
                        <p>Ao acessar o site, o usuário expressa a sua livre aceitação quanto aos termos destas Políticas de Privacidade, autorizando a obtenção dos dados e informações aqui mencionados, bem como sua utilização para os fins abaixo especificados.
                            Caso não esteja de acordo com esta política o usuário poderá descontinuar o seu acesso ao site.</p>
                        <p>O tratamento das informações referentes aos usuários do site atenderá às seguintes políticas:</p>
                        <p>a) Durante a navegação, poderão ser coletadas as seguintes informações: características do dispositivo de acesso, do navegador, Protocolo de Internet com data, hora e origem, informações sobre cliques, páginas acessadas, a página
                            seguinte acessada após a saída do site, qualquer termo digitado no site (inclusive em nossa ferramenta de busca), geolocalização, dentre outras.</p>
                        <p>b) As informações serão recebidas, tratadas e armazenadas de forma segura e íntegra, em ambiente controlado e de segurança, respeitando o prazo legal de guarda, mesmo após o término da relação mantida com o usuário do site.</p>
                        <p>c) As informações obtidas serão consideradas sigilosas e somente serão acessadas por pessoas autorizadas e capacitadas para lhes conferir o tratamento adequado.</p>
                        <p>d) As informações coletadas poderão ser usadas para propiciar navegação mais eficiente, direcionada às necessidades dos usuários, proporcionando-lhes melhor experiência. O tempo de guarda das informações respeitará as leis vigentes,
                            bem como as melhores práticas de Segurança da Informação, visando a atender o mais alto nível de confidencialidade, integridade e disponibilidade.</p>
                        <p> e) Podem ser usados cookies para reconhecimento da origem e do último acesso, bem como para acompanhar a utilização do site.</p>
                        <p> f) O usuário poderá não aceitar a utilização de cookies. Nessa hipótese, poderá ajustar as configurações de seu navegador para não permitir o uso. Contudo, não é recomendado desabilita-los, pois poderá impactar na experiência do
                            usuário ao utilizar o site.</p>
                        <p>g) O armazenamento e a utilização das informações possibilitarão ao Digio oferecer serviços personalizados, de acordo com as características e interesses de seus usuários. Com isso, poderá haver ofertas de conteúdo e publicidades
                            específicas para cada usuário, beneficiando sua experiência no site. Para tanto, o Digio poderá compartilhar as informações obtidas com empresas contratadas, sempre atendendo aos fundamentos de proteção ao usuário, sendo exigido
                            o cumprimento de nossas diretrizes de segurança e privacidade estabelecidas nas exigências legais.</p>
                        <p>h) As informações e dados constantes em nossos cadastros, bem como outras solicitações que venham garantir direitos legais ou contratuais, só serão fornecidos aos respectivos titulares mediante solicitação formal, em observância
                            aos requisitos legais.</p>
                        <p> i) Os registros de acesso e de dados pessoais do usuário, a obediência aos direitos à privacidade, à proteção de dados pessoais e ao sigilo das comunicações privadas são realizados nos termos da legislação.</p>
                        <p> j) Os dados pessoais poderão ser excluídos, definitivamente, mediante requerimento do próprio usuário, ao término da relação entre as partes, obedecido o prazo de guarda estabelecido em lei.</p>
                        <p>k) O site pode conter links que direcionam o usuário, a seu único e exclusivo critério, para páginas de terceiros. O Digio se exime de qualquer responsabilidade pela segurança da navegação em tais páginas, bem como pelo conteúdo
                            nelas disponibilizado.</p>
                        <p> l) Independentemente do direcionamento feito na página do site, essas políticas de Privacidade não são aplicáveis às páginas de empresas terceiras, que podem ter políticas de privacidade diferentes desta, a respeito das quais se
                            recomenda a leitura.</p>
                        <p>m) O Digio não se responsabiliza, em hipótese alguma, por problemas relacionados à indisponibilidade parcial ou total das transmissões de dados decorrentes da infraestrutura dos provedores de serviços e acessos à internet.</p>
                    </div>
                    <div class="section-text">
                        <h1>Glossário:</h1>
                        <p><strong>Definição de termos técnicos:</strong></p>
                        <p>Cookies: pequenos arquivos de texto, que armazenam preferências do usuário na utilização de determinados sites na internet, aprimorando sua experiência de navegação e tornando-a mais rápida.</p>
                        <p>Links: também denominados hyperlinks, hipervínculos ou enlaces, são conexões lógicas e dinâmicas, geralmente sublinhada em azul, que levam o usuário a uma página ou website na internet.</p>
                    </div>


                    <div class="section-text">
                        <h1>Espero que dê tudo certo!</h1>
                        <p><strong>Veja abaixo nossos canais de atendimento:</strong></p>
                        <ul class="list-channel">
                            <li><img src="./assets/images/icon-envelope.svg" alt="">
                                <div class="text"><span><strong>fale@digio.com.br</strong></span></div>
                            </li>
                            <li><img src="./assets/images/icon-telephone.svg" alt="">
                                <div class="text"><span><strong>3004-9920</strong> (capitais e regiões metropolitanas)</span> <span><strong>0800-721-9920</strong> (demais localidades)</span></div>
                            </li>
                            <li><img src="./assets/images/icon-sac.svg" alt="">
                                <div class="text">
                                    <div class="item-sac"><span><strong>SAC – Informações, Reclamações, Cancelamentos, Sugestões e Elogios: 0800 333 8735 </strong></span><span>(atendimento disponível 24 horas por dia, 7 dias por semana)</span></div>
                                    <div class="item-sac"><span><strong>SAC – Deficientes Auditivos ou de Fala: 0800 333 8736 </strong></span><span>(atendimento disponível 24 horas por dia, 7 dias por semana)</span></div>
                                    <div class="item-sac"><span><strong>Ouvidoria: 0800 333 1474</strong> </span><span><strong>(atendimento de segunda a sexta-feira, das 11h às 16h, exceto feriados nacionais).</strong></span></div>
                                </div>
                            </li>
                            <li><img src="./assets/images/icon-localization.svg" alt="">
                                <div class="text"><span><strong>Alameda Xingu, 512 Ed. Evolution Corporate - 7º andar – Alphaville Industrial</strong></span> <span><strong>Barueri – SP – 06455-030 – CNPJ 27.098.060/0001-45.</strong></span></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@@include('./_partials/box-support-contact.html') @@include('./_partials/footer.html')
