@@include('./_partials/header.html', {
    "pageClass": "about-us-page",
    "pageTitle": "Quem somos | Digio. Tudo se transforma",
    "pageDescription": "Cartão de crédito e aplicativo. Digital, simples, descomplicado."
})

<div class="box-title">
    <div class="container">
        <strong>Quem somos</strong>
        <h1>Conheça o Digio</h1>
    </div>
</div>

<div class="box-about" id="sobre-o-digio">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <nav>
                    <ul class="anchor-navigation" data-scope="anchor-navigation">
                        <li><a href="#sobre-o-digio" title="Sobre o Digio">Sobre o Digio</a></li>
                        <li><a href="#nossa-cultura" title="Nossa cultura">Nossa cultura</a></li>
                        <li><a href="#no-que-acreditamos" title="No que acreditamos">No que acreditamos</a></li>
                        <li><a href="#trabalhe-conosco" title="Trabalhe conosco">Trabalhe conosco</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="box-content">
                    <h3>Sobre o Dígio</h3>
                    <h2>Um pouco da nossa história</h2>
                    <p>
                        Fazemos parte da nova geração de serviços financeiros e estamos aqui para ocupar um lugar na sua vida. Queremos ser indispensáveis para resolver seu dia a dia.
                        <br><br>
                        A ideia então é fazer diferente? Mais. A gente vai precisar evoluir o tempo todo, entender de verdade o que você quer, atender com agilidade e surpreender.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box-images">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <figure>
                    <img src="./assets/images/sobre-nos/digio-1.jpg" alt="Sobre o Digio 1" />
                </figure>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <figure class="first-small-image">
                    <img src="./assets/images/sobre-nos/digio-2.jpg" alt="Sobre o Digio 2" />
                </figure>

                <figure>
                    <img src="./assets/images/sobre-nos/digio-3.jpg" alt="Sobre o Digio 3" />
                </figure>
            </div>
        </div>
    </div>
</div>

<div class="box-culture" id="nossa-cultura">
    <div class="container">
        <div class="row">
            <div class="col-md-push-3 col-sm-push-3 col-md-7 col-sm-7 col-xs-12">
                <div class="box-content">
                    <h3>Nossa cultura</h3>
                    <h2>Nosso jeito de ver as coisas</h2>
                    <p>Queremos fazer a diferença no mundo através de um serviço excepcional, justo e transparente. Acreditamos que uma vida bem vivida se baseia no acúmulo de experiências que trazem novas percepções, novos significados, novas sensações e que provam para o mundo que nada permanece sempre igual. Somos a chave para viver novas experiências.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box-video" data-scope="digio-video">
    <div class="container">
        <div class="group-video" data-item="container-video">
            <a href="https://www.youtube.com/watch?v=jBBtvSaUcpI" title="Digio" data-item="link">
                <figure>
                    <img src="./assets/images/sobre-nos/digio-video.jpg" alt="Video Digio" />
                </figure>
            </a>
        </div>
    </div>
</div>

<div class="box-we-believe" id="no-que-acreditamos">
    <div class="container">
        <div class="row">
            <div class="col-md-push-3 col-sm-push-3 col-md-7 col-sm-7 col-xs-12">
                <div class="box-content">
                    <h3>No que acreditamos</h3>
                    <h2>Tudo se transforma</h2>

                    <div class="box-question">
                        <h5>Duro de entender se transforma em clareza</h5>
                        <p>Sabe aquela fatura de cartão enorme e complicada? Cansou de decifrar explicações técnicas? Chega. Na tela do Digio, a gente usa imagens e o mínimo de palavras para passar o máximo de informação. Palavras que você entende. Informação que você precisa mesmo.</p>
                    </div>

                    <div class="box-question">
                        <h5>Controle chato se transforma em dica na hora certa</h5>
                        <p>Sim. Saber quanto está gastando é necessário. Assim como ter noção do que dá para fazer e quando. Mas ninguém quer ficar neurótico por causa de dinheiro. Existem jeitos fáceis e eficientes de manter o controle. Digio veio para ajudar.</p>
                    </div>

                    <div class="box-question">
                        <h5>Papelada, burocracia e fila se transformam em nada disso</h5>
                        <p>Faturas impressas não valem o sacrifício das árvores. Também é um desperdício gastar tempo com processos complexos e com filas em agências bancárias. Digio é digital, interativo e intuitivo. Ponto.</p>
                    </div>

                    <div class="box-question">
                        <h5>Não deu para pagar se transforma em parcelamento</h5>
                        <p>Você ouviu bem. Digio substituiu o tal crédito rotativo (também conhecido como bola de neve) pelo saldo parcelado ali mesmo, no momento do aperto, com juros menores. Diferente e melhor.</p>
                    </div>

                    <div class="box-question">
                        <h5>Atendimento se transforma em sintonia</h5>
                        <p>No Digio todo atendimento é conversa. E sempre que a gente ouve e fala aprende alguma coisa sobre você, tornando a interação cada vez mais produtiva. Esperamos que funcione assim do seu lado também. Queremos entrar em sintonia.</p>
                    </div>

                    <div class="box-question">
                        <h5>Cliente se transforma em parceiro</h5>
                        <p>O Digio cresce com a troca. Você pode e deve avaliar a experiência. Pode e deve sugerir mudanças. Cliente bom faz isso. Parceiro vai mais longe e se envolve, divide o crédito (sem trocadilho). Parceiro se engaja, defende e indica. Com gosto, não por obrigação.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="box-full-image">
    <div class="container">
        <figure>
            <img src="./assets/images/sobre-nos/digio-4.jpg" alt="Sobre o Digio 4" />
        </figure>
    </div>
</div>

<div class="box-work-with-us" id="trabalhe-conosco">
    <div class="container">
        <div class="row">
            <div class="col-md-push-3 col-sm-push-3 col-md-7 col-sm-7 col-xs-12">
                <div class="box-content">
                    <h3>Trabalhe conosco</h3>
                    <h2>Junte-se ao nosso time</h2>
                    <p>
                        Fazer parte do nosso time significa trabalhar em uma plataforma simples e
                        descomplicada que oferece uma experiência diferenciada a todos os clientes.
                        <br><br>
                        Se o seu objetivo é transformar os serviços financeiros e fazer a diferença, aqui é o seu
                        lugar!
                    </p>
                    <a href="" class="button button-primary">Deixe o seu currículo!</a>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('./_partials/box-support-contact.html')
@@include('./_partials/footer.html')