@@include('./_partials/header.html', {
  "pageClass": "terms-digio-store",
  "pageTitle": "Contrato do Cartão Digio Store | Digio. Tudo se transforma",
  "pageDescription": "Cartão de crédito e aplicativo. Digital, simples, descomplicado." })

<section class="s-top-terms">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Políticas, termos e contratos</h1>
                <img src="./assets/images/arrow-down.svg" class="arrow-down" alt="">
            </div>
        </div>
    </div>
</section>

<section class="container-text">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="menu-terms">
                    <li><a href="contrato-digio.html">Contrato Digio</a></li>
                    <li class="active"><a href="termo-digio-store.html">Contrato Digio Store</a></li>
                    <li><a href="politica-privacidade.html">Política de Privacidade</a></li>
                    <li><a href="termo-adesao.html">Termo de Adesão</a></li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="text-geral">
                    <div class="section-text">
                        <h1>Termos e condições gerais Digio Store</h1>
                        <p>Os presentes Termos e Condições Gerais regem a plataforma <strong>DIGIO STORE</strong>, os quais os <strong>CLIENTES DIGIO do BANCO CBSS S.A. (“BANCO CBSS”)</strong> aderem.</p>

                        <p><span>1.</span>	<strong>DIGIO STORE</strong>: A <strong>DIGIO STORE</strong> é um ambiente no aplicativo para celular do cartão DIGIO que possibilita a aquisição de bens e serviços pelos <strong>CLIENTES DIGIO</strong> mediante o uso exclusivo do cartão <strong>DIGIO.</strong> </p>
                        <p><span>1.1.</span>	O cartão <strong>DIGIO</strong> poderá ser utilizado na <strong>DIGIO STORE</strong> para compras à vista de bens ou serviços de parceiros do <strong>BANCO CBSS.</strong></p>
                        <p><span>1.2.</span>	Ao <strong>CLIENTE DIGIO</strong> que adquirir bens ou serviços através da <strong>DIGIO STORE</strong> são aplicáveis as disposições dos <strong>TERMOS E CONDIÇÕES GERAIS DA DIGIO STORE, TERMO DE ADESÃO DIGIO, REGULAMENTO DO CARTÃO DIGIO – VISA INTERNACIONAL e POLÍTICA DE PRIVACIDADE</strong>, disponibilizados no website: www.digio.com.br.</p>
                        <p><span>2.</span>	<strong>DISPOSIÇÕES GERAIS:</strong> Para a aquisição dos bens e serviços dos parceiros do <strong>BANCO CBSS</strong>, o <strong>CLIENTE DIGIO</strong> deverá estar com o cartão <strong>DIGIO</strong> apto nos termos do <strong>REGULAMENTO DO CARTÃO DIGIO – VISA INTERNACIONAL</strong>, podendo a transação ser negada caso o cartão esteja bloqueado ou sem limite de crédito disponível para realizar a operação.</p>
                        <p><span>2.1.</span>	O acompanhamento do pedido dos bens ou serviços adquiridos na <strong>DIGIO STORE</strong> pode ser realizado através do aplicativo para celular do cartão <strong>DIGIO. </strong></p>
                        <p><span>3.</span>	<strong>PARCEIROS</strong>: São fornecedores de produtos ou serviços através da <strong>DIGIO STORE</strong>. Exemplo de parceiro: provedores de conteúdo.</p>
                        <p><span>3.1.</span>	O atendimento após a aquisição dos produtos e serviços através da <strong>DIGIO STORE</strong> é realizado diretamente pelos parceiros, cujo contato e demais informações serão indicados no e-mail de confirmação da compra, juntamente com as condições de utilização dos produtos e serviços.</p>
                        <p><span>3.2.</span>	<strong>O BANCO CBSS</strong> não se responsabiliza pela qualidade, quantidade ou defeitos de bens ou serviços adquiridos, ou por qualquer diferença de preço. Qualquer reclamação relacionada aos produtos ou serviços adquiridos através da <strong>DIGIO STORE</strong> será direcionada exclusivamente para os parceiros.</p>
                        <p><span>3.3.</span>	A disponibilidade dos produtos e serviços, bem como eventuais ofertas e promoções são de total responsabilidade do parceiro, podendo o rol de produtos e serviços ser alterado, a qualquer tempo, a exclusivo critério do parceiro.</p>
                        <p><span>4.</span>	<strong>DECLARAÇÕES: O CLIENTE DIGIO</strong> declara que leu e concorda com as disposições do <strong>TERMOS E CONDIÇÕES GERAIS DA DIGIO STORE, TERMO DE ADESÃO DIGIO, REGULAMENTO DO CARTÃO DIGIO – VISA INTERNACIONAL e POLÍTICA DE PRIVACIDADE</strong>, disponibilizados no website: www.digio.com.br.</p>
                        <p><span>4.1.</span>	<strong>O CLIENTE DIGIO</strong> também declara que leu e aceita as disposições contidas nos presentes termos e condições, disponibilizado no website: www.digio.com.br.</p>
                        <p><span>5.</span>	Foro: Fica eleito o Foro da Comarca do domicílio do <strong>CLIENTE DIGIO.</strong> </p>
                    </div>


                    <div class="section-text">
                        <h1>Espero que dê tudo certo!</h1>
                        <p><strong>Veja abaixo nossos canais de atendimento:</strong></p>
                        <ul class="list-channel">
                            <li><img src="./assets/images/icon-envelope.svg" alt="">
                                <div class="text"><span><strong>fale@digio.com.br</strong></span></div>
                            </li>
                            <li><img src="./assets/images/icon-telephone.svg" alt="">
                                <div class="text"><span><strong>3004-9920</strong> (capitais e regiões metropolitanas)</span> <span><strong>0800-721-9920</strong> (demais localidades)</span></div>
                            </li>
                            <li><img src="./assets/images/icon-sac.svg" alt="">
                                <div class="text">
                                    <div class="item-sac"><span><strong>SAC – Informações, Reclamações, Cancelamentos, Sugestões e Elogios: 0800 333 8735 </strong></span><span>(atendimento disponível 24 horas por dia, 7 dias por semana)</span></div>
                                    <div class="item-sac"><span><strong>SAC – Deficientes Auditivos ou de Fala: 0800 333 8736 </strong></span><span>(atendimento disponível 24 horas por dia, 7 dias por semana)</span></div>
                                    <div class="item-sac"><span><strong>Ouvidoria: 0800 333 1474</strong> </span><span><strong>(atendimento de segunda a sexta-feira, das 11h às 16h, exceto feriados nacionais).</strong></span></div>
                                </div>
                            </li>
                            <li><img src="./assets/images/icon-localization.svg" alt="">
                                <div class="text"><span><strong>Alameda Xingu, 512 Ed. Evolution Corporate - 7º andar – Alphaville Industrial</strong></span> <span><strong>Barueri – SP – 06455-030 – CNPJ 27.098.060/0001-45.</strong></span></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@@include('./_partials/box-support-contact.html') @@include('./_partials/footer.html')
