@@include('./_partials/header.html', { "pageClass": "terms-of-adesion", "pageTitle": "Termo de Adesão | Digio. Tudo se transforma", "pageDescription": "Cartão de crédito e aplicativo. Digital, simples, descomplicado." })

<section class="s-top-terms">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Políticas, termos e contratos</h1>
                <img src="./assets/images/arrow-down.svg" class="arrow-down" alt="">
            </div>
        </div>
    </div>
</section>

<section class="container-text">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3">
                <ul class="menu-terms">
                    <li><a href="contrato-digio.html">Contrato Digio</a></li>
                    <li><a href="termo-digio-store.html">Contrato Digio Store</a></li>
                    <li><a href="politica-privacidade.html">Política de Privacidade</a></li>
                    <li class="active"><a href="termo-adesao.html">Termo de Adesão</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9">
                <div class="text-geral">
                    <div class="section-text">
                        <h1>Termo de adesão Digio</h1>
                        <p>Nosso objetivo é deixar tudo bem claro: como funciona o nosso produto, quais as tarifas e taxas que poderão ser cobradas de você após a Aprovação de sua proposta.</p>

                        <p>O Digio é uma plataforma de serviços financeiros e você está solicitando a adesão ao produto Cartão de Crédito Visa Internacional.</p>

                        <p>Se tiver alguma dúvida, quiser um tempo para pensar ou se quiser entrar em contato com a gente, tudo certo! Essa proposta vale por 15 dias (contando da data de sua primeira solicitação).</p>

                        <p>Veja abaixo algumas informações que achamos importantes de mostrar para você aqui no App. Se quiser ver o regulamento detalhado, entre em nosso website digio.com.br</p>
                    </div>
                    <div class="section-text">
                        <h1>Nossas Tarifas</h1>
                        <div class="all-rates">
                            <div class="item">
                                <h2>Anuidade</h2>
                                <span>R$ 0,00</span>
                            </div>
                            <div class="item">
                                <h2>Reemissão de Cartão</h2>
                                <span>R$ 0,00</span>
                            </div>
                            <div class="item">
                                <h2>Parcelamento de Fatura</h2>
                                <span>R$ 0,00</span>
                            </div>
                            <div class="item">
                                <h2>Saque Nacional</h2>
                                <span>R$ 0,00</span>
                            </div>
                            <div class="item">
                                <h2>Saque Internacional</h2>
                                <span>R$ 0,00</span>
                            </div>
                        </div>
                    </div>

                    <div class="section-text">
                        <h1>Nossas Taxas</h1>
                        <div class="all-rates">
                            <div class="item">
                                <h2>Juros Parcelamento</h2>
                                <span>7,90% a.m.</span>
                            </div>
                            <div class="item">
                                <h2>Anuidade</h2>
                                <span>7,90% a.m.</span>
                            </div>
                            <div class="item">
                                <h2>Saque Internacional</h2>
                                <span>7,90% a.m.</span>
                            </div>
                            <div class="item">
                                <h2>Parcelado Emissor</h2>
                                <span>3,99% a.m.</span>
                            </div>
                            <div class="item">
                                <h2>Juros de atraso</h2>
                                <span>10,99% a.m.</span>
                            </div>
                            <div class="item">
                                <h2>Multa</h2>
                                <span>2% a.m</span>
                            </div>
                        </div>
                    </div>

                    <div class="section-text">
                        <h1>Serviços</h1>
                        <div class="all-rates">
                            <div class="item">
                                <h2>Tarifa de Avaliação Emergencial (Overlimit)	</h2>
                                <span>R$ 4,99</span>
                            </div>
                            <div class="item">
                                <h2>Conversão de Moeda (transações internacionais)</h2>
                                <span>Dólar PTAX + 4%</span>
                            </div>
                            <div class="item">
                                <h2>Taxa de Refinanciamento</h2>
                                <span>7,90% a.m.</span>
                            </div>
                            <div class="item">
                                <h2>Taxa de Renegociação	</h2>
                                <span>7,90% a.m.</span>
                            </div>
                        </div>
                    </div>

                    <div class="section-text">
                        <h1>Importante</h1>
                        <p>Se tudo der certo e sua proposta for aprovada, seu cartão será enviado em até 12 dias para o endereço que você digitou na proposta.</p>

                        <p>Seu cartão ficará bloqueado até que o ative pelo App.</p>

                        <p>Você poderá bloquear e desbloquear seu cartão pelo app sempre que precisar.</p>

                        <p>Lembre-se, o aplicativo do Digio precisa de acesso a internet para que tudo funcione corretamente.</p>

                        <p>Para o produto Visa Internacional não habilitamos a função de crédito rotativo. Nossa intenção é deixar seu fluxo de pagamento mais transparente.</p>

                        <p>Isso quer dizer que, após fechar sua fatura, se você pagar o valor integral até o vencimento, tudo certo, sem juros para você; se pagar uma das opções de parcelamento, tudo justo, apenas 7,90% de juros ao mês e se não conseguir
                            pagar o valor total da fatura e não pagar uma das opções de parcelamento, a taxa fica um pouquinho mais alta (10,99% a.m). Estamos lutando para que nossos preços sejam os mais justos possíveis.</p>

                        <p>Você pode cancelar seu cartão a qualquer momento, mas o que já tiver sido faturado deverá ser quitado, conforme cheguem os vencimentos.</p>

                        <p>6 dias após o vencimento de sua fatura, se não for identificado pagamento (total ou de um dos planos de parcelamento) seu cartão será bloqueado para novas transações de compras e saques.</p>

                        <p>Não enviaremos faturas pelo correio. As faturas são demonstradas no App e enviadas por e-mail.</p>

                        <p>Nós do Digio não cobramos tarifas de saques nacionais ou internacionais, mas os caixas e adquirentes podem cobrar, verifique as tarifas cobradas pelos terminais de caixa antes de utilizar o serviço, os valores cobrados serão somados
                            ao valor de sua transação.</p>

                        <p>O serviço de saque é caracterizado como um financiamento, em uma parcela, veja a taxa de juros na tabela nossas taxas.</p>

                        <p>Os valores e informações acima têm validade legal e podem ser revisados. Mas fique tranquilo, te avisaremos pelo menos 30 dias antes de qualquer alteração.</p>

                        <p>Os itens abaixo são bastante comuns em todos os contratos de cartões de crédito no Brasil, mas é bom deixar bem claro o que está autorizando e confirmando ao assinar esse termo de adesão:</p>

                        <p><span>1 - </span>Confirma que todas as informações submetidas são verdadeiras;</p>

                        <p><span>2 - </span>Confirma que está adquirindo o Produto informado por livre e espontânea vontade;</p>

                        <p><span>3 - </span>Concorda com as cláusulas, condições e obrigações do nosso do Regulamento de Utilização dos Cartões emitidos pelo Banco CBSS S.A;</p>

                        <p><span>4 - </span>Nos autoriza a ativar o serviço de avaliação emergencial de crédito (Caso precise realizar uma transação até 10% acima do valor do seu limite total, podemos aprovar cobrando uma pequena tarifa, descrita na tabela
                            de tarifas);</p>

                        <p><span>5 -</span> Autoriza a trocar informações à respeito de seu cadastro e movimentações com as empresas do nosso grupo;</p>

                        <p><span>6 - </span>Nos autoriza a enviar mensagens com conteúdo informativo sobre seu produto e ofertas de promoções e serviços;</p>

                        <p><span>7 - </span>Confirma e Autoriza consulta e envio de informações a serviços de restrição e ao SCR (Sistema de Informações de Crédito do Banco Central).</p>
                    </div>

                    <div class="section-text">
                        <h1>Espero que dê tudo certo!</h1>
                        <p><strong>Veja abaixo nossos canais de atendimento:</strong></p>

                        <ul class="list-channel">
                            <li>
                                <img src="./assets/images/icon-envelope.svg" alt="">
                                <div class="text">
                                    <span><strong>fale@digio.com.br</strong></span>
                                </div>
                            </li>
                            <li>
                                <img src="./assets/images/icon-telephone.svg" alt="">
                                <div class="text">
                                    <span><strong>3004-9920</strong> (capitais e regiões metropolitanas)</span>
                                    <span><strong>0800-721-9920</strong> (demais localidades)</span>
                                </div>
                            </li>
                            <li>
                                <img src="./assets/images/icon-sac.svg" alt="">
                                <div class="text">
                                    <div class="item-sac">
                                      <span><strong>SAC – Informações, Reclamações, Cancelamentos, Sugestões e Elogios: 0800 333 8735 </strong></span>
                                      <span>(atendimento disponível 24 horas por dia, 7 dias por semana)</span>
                                    </div>
                                    <div class="item-sac">
                                      <span><strong>SAC – Deficientes Auditivos ou de Fala: 0800 333 8736 </strong> </span>
                                      <span>(atendimento disponível 24 horas por dia, 7 dias por semana)</span>
                                    </div>
                                    <div class="item-sac">
                                      <span><strong>Ouvidoria: 0800 333 1474</strong>  </span>
                                      <span><strong>(atendimento de segunda a sexta-feira, das 11h às 16h, exceto feriados nacionais).</strong></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <img src="./assets/images/icon-localization.svg" alt="">
                                <div class="text">
                                    <span><strong>Alameda Xingu, 512 Ed. Evolution Corporate - 7º andar – Alphaville Industrial</strong></span>
                                    <span><strong>Barueri – SP – 06455-030 – CNPJ 27.098.060/0001-45.</strong></span>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@@include('./_partials/box-support-contact.html') @@include('./_partials/footer.html')
