body.about-us-page {

	.box-title { background-image: url('./images/sobre-nos/sobre-nos-banner.jpg'); }
 
	.box-content {
		h3 {
			text-transform: uppercase;
			margin-bottom: 17px;
			font-size: 14px;
			line-height: 14px;
		}
		h2 {
			font: 600 44px/44px 'Montserrat';
			color: $color-blue-a;
			margin-bottom: 20px;
		}
		p {
			color: #666666;
			display: block;
			line-height: 24px;
		}
		.button { margin-top: 55px; }
	}

	.box-about {
		padding: 84px 0 103px;

		.anchor-navigation {
			li {
				position: relative;
				margin-bottom: 40px;

				&:last-child { margin-bottom: 0; }

				&:before {
					content: '';
					width: 6px;
					height: 6px;
					display: block;
					background: $color-blue-a;
					position: absolute;
					left: 0;
					top: 8px;
					@include rounder(100%);
				}

				a {
					padding-left: 22px;
					color: #5b636a;
					display: block;
					font-size: 17px;
					letter-spacing: -0.5px;
					line-height: 25px;
					@include transiction;

					&:hover { color: $color-blue-a; }
				}
			}
		}
	}

	.box-images {
		img { max-width: 100%; }

		.first-small-image { margin-bottom: 24px; }
	}

	.box-culture {
		padding: 105px 0;
	}

	.box-video {
		position: relative;

		.container {
			position: relative;

			&:before {
				background: #F7F7F7;
				content: '';
				display: block;
				height: 580px;
				width: 700px;
				position: absolute;
				top: -130px;
				left: -456px;
				z-index: 0;
			}

			.group-video {
				background: #000;
				position: relative;
				z-index: 1;

				iframe {
					display: block;
					height: 596px;
					width: 100%;
					max-width: 100%;
				}

				a {
					img {
						display: block;
						max-width: 100%;
					}
				}
			}
		}
	}

	.box-we-believe {
		padding: 105px 0;

		.box-content h2 { margin-bottom: 24px; }

		.box-question {
			margin-bottom: 35px;

			&:last-child { margin-bottom: 0; }

			h5 {
				font-size: 16px;
				font-weight: 700;
				line-height: 19px;
				margin-bottom: 4px;
				position: relative;

				&:before {
					content: '';
					width: 6px;
					height: 6px;
					display: block;
					background: $color-blue-a;
					position: absolute;
					left: -20px;
					top: 8px;
					@include rounder(100%);
				}
			}
			p {
				color: #666666;
				display: block;
				line-height: 24px;
				font-size: 15px;
			}
		}
	}

	.box-full-image {
		img {
			display: block;
			max-width: 100%;
		}
	}

	.box-work-with-us {
		padding: 105px 0;
	}

	@media only screen and (max-width: 768px) {

		.box-title {
			padding: 60px 0;
			background-position: center;

			&.product-title {
				padding: 60px 0;

				strong {
					font-size: 23px;
					line-height: 32px;
				}
			}
		}

		.box-content h2 {
			font-size: 28px;
			line-height: 35px;
		}

		.box-about {
			padding: 0 0 60px;

			.anchor-navigation {
				margin-bottom: 60px;

				li {
					margin: 0 -15px 0;

					&:first-child { border-top: none; }
					&:last-child { border-bottom: none; }

					&:before { display: none; }

					a {
						padding: 10px 0;
						text-align: center;
						color: $color-light-a;
						background: $color-blue-a;
						border-bottom: 1px solid darken($color-blue-a, 3%);
						border-top: 1px solid lighten($color-blue-a, 3%);

						&:hover,
						&:active {
							background: darken($color-blue-a, 2%);
							color: $color-light-a;
						}
					}
				}
			}
		}

		.box-images .first-small-image {
			margin: 20px 0;
		}

		.box-culture {
			padding: 60px 0;
		}

		.box-video .container {
			&:before { display: none; }

			.group-video iframe { height: auto; }
		}

		.box-we-believe {
			padding: 60px 0;

			.box-question h5:before { display: none; }
		}

		.box-work-with-us {
			padding: 60px 0;
		}
	}

}