body.contact-page {

	.box-title { background-image: url('./images/contato/contato-banner.jpg'); }

	.box-content {
		position: relative;
		padding: 98px 0;
		background: url('./images/contato/bg-contato.png') repeat-y top center;

		.box-left {

			.group-contact {
				margin-bottom: 67px;

				&:last-child { margin-bottom: 0; }

				h2 {
					font: 600 29px/22px 'Montserrat';
					color: $color-blue-a;
					margin-bottom: 19px;
				}
				> p {
					line-height: 24px;
					max-width: 260px;
					letter-spacing: -0.6px;
				}

				.list-contact {
					margin-top: 17px;

					li { margin-bottom: 13px; }
				}
			}

		}

		.box-right {
			width: 85%;
			float: right;

			form {
				h4 {
					font: 600 16px/26px 'Montserrat';
					margin-bottom: 14px;
				}

				.input-row { margin-bottom: 25px; }

				.button-bar {
					margin-top: 30px;

					.button {
						max-width: 290px;
						width: 100%;
					}
				}
			}
		}
	}

	@media only screen and (max-width: 768px) {

		.box-title {
			padding: 60px 0;
			background-position: center;

			&.product-title {
				padding: 60px 0;

				strong {
					font-size: 23px;
					line-height: 32px;
				}
			}
		}

		.box-content {
			padding: 0;
			background: none;

			.box-left {
				padding: 60px 0;
				.group-contact { margin-bottom: 60px; }
			}

			.box-right {
				background: $color-light-b;
				padding: 60px 15px;
				margin: 0 -15px;
				float: none;
				width: initial;

				form .input-row .input-text { background: $color-light-b; }
			}
		}

	}

}