.contract-digio {
  .s-top-terms {
    @include background-gradient(-45deg, #006EDC, #00AAFF);
    padding-top: 100px;
    padding-bottom: 50px;

    h1 {
      color: #ffffff;
      font-weight: bold;
      font-size: 32px;
      font-family: "Montserrat";
      float: left;
    }

    .arrow-down {
      float: right;
      margin-top: 14px;
      -webkit-animation: vertical-animate 1.5s infinite alternate;
      -moz-animation: vertical-animate 1.5s infinite alternate;
    }
  }
  box-shadow: 0 10px 36px 0 #c9e4ff;

  .container-text {
    padding-top: 83px;
    padding-bottom: 50px;

    .menu-terms {
      li {
        margin-bottom: 20px;

        &.active {
          a {
            @include background-gradient(-45deg, #006EDC, #00AAFF);
            color: #ffffff;
            box-shadow: 0 10px 36px 0 #c9e4ff;
          }
        }

        &:hover {
          a {
            @include background-gradient(-45deg, #006EDC, #00AAFF);
            color: #ffffff;
            transition: all 0.3s;
            box-shadow: 0 10px 36px 0 #c9e4ff;
          }
        }

        a {
          font-weight: 500;
          color: #5b636a;
          line-height: 52px;
          width: 241px;
          padding-left: 30px;
          display: block;
          border-radius: 8px;
          transition: all 0.3s;
          background: transparent;
        }
      }
    }

    .text-geral {
      .section-text {
        margin-bottom: 50px;
        float: left;
        width: 100%;

        h1 {
          font-family: "Montserrat";
          font-weight: bold;
          font-size: 32px;
          color: #00a0e6;
          margin-bottom: 60px;
        }

        p {
          font-size: 15px;
          color: #586168;
          margin-bottom: 30px;
          line-height: 25px;

          span {
            color: #00aaff;
          }

          strong {
            font-weight: 500;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        .all-rates {
          float: left;
          width: 100%;

          .item {
            float: left;
            width: 100%;
            border-bottom: 1px solid #dedfe1;
            padding: 33px 0;

            &:first-child {
              padding-top: 0;
            }

            &:last-child {
              border-bottom: 0;
            }

            h2 {
              float: left;
              font: 500 16px/16px Montserrat;
            }

            span {
              float: right;
              font: 400 16px/16px Montserrat;
            }
          }
        }

        .list-channel {
          float: left;
          width: 100%;

          li {
            float: left;
            width: 100%;
            margin-bottom: 40px;

            &:nth-child(2) {
              margin-bottom: 60px;
            }

            img {
              float: left;
              margin-right: 15px;
            }

            .text {
              float: left;

              .item-sac {
                margin-bottom: 30px;

                &:last-child {
                  margin-bottom: 0;
                }
              }

              span {
                display: block;
                margin-bottom: 10px;

                &:last-child {
                  margin-bottom: 0;
                }

                strong {
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
  }
  @media(max-width: 1200px) {
    .container-text {
      .menu-terms {
        li {
          a {
            width: 213px;
          }
        }
      }
    }
  }
  @media(max-width: 991px) {
    .s-top-terms {
      padding-top: 60px;
      padding-bottom: 40px;
    }

    .container-text {
      padding-bottom: 50px;

      .menu-terms {
        float: left;
        width: 100%;

        li {
          margin-bottom: 20px;
          float: left;
          width: 23%;
          margin-right: 2%;

          &:last-child {
            margin-right: 0;
          }

          a {
            width: 100%;
            font-size: 15px;
          }
        }
      }

      .text-geral {
        float: left;
        width: 100%;
        margin-top: 30px;

        .section-text {
          h1 {
            font-size: 30px;
            margin-bottom: 25px;
          }

          p {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  @media(max-width: 768px) {
    .s-top-terms {
      padding: 40px 0;

      h1 {
        text-align: center;
        float: initial;
        font-size: 28px;
      }

      .arrow-down {
        float: initial;
        display: table;
        margin: 20px auto 0;
      }
    }

    .container-text {
      padding-top: 40px;

      .text-geral {
        .section-text {
          h1 {
            font-size: 25px;
            margin-bottom: 20px;
          }

          p {
            margin-bottom: 15px;
            font-size: 14px;
            line-height: 22px;
          }

          .all-rates {
            .item {
              padding: 25px 0;

              h2 {
                font: 500 14px/14px Montserrat;
              }

              span {
                font: 400 14px/14px Montserrat;
              }
            }
          }

          .list-channel {
            li {
              .text {
                width: 90%;
              }
            }
          }
        }
      }

      .menu-terms {
        li {
          width: 49%;

          &:nth-child(2n+2) {
            margin-right: 0;
          }
        }
      }
    }
  }
  @media(max-width: 480px) {
    .s-top-terms {
      h1 {
        font-size: 25px;
        line-height: inherit;
      }
    }

    .container-text {
      padding-top: 30px;
      padding-bottom: 0;

      .menu-terms {
        li {
          width: 100%;
          margin-right: 0 !important;

          a {
            padding-left: 0;
            text-align: center;
          }
        }
      }

      .text-geral {
        .section-text {
          h1 {
            font-size: 20px;
            margin-bottom: 10px;
            text-align: center;
            line-height: 27px;
          }

          p {
            font-size: 13px;
            text-align: center;

            span {
              text-align: center;
              display: block;
            }
          }

          .all-rates {
            .item {
              h2 {
                text-align: center;
                margin-bottom: 20px;
                float: initial;
              }

              span {
                float: initial;
                text-align: center;
                display: block;
              }
            }
          }

          .list-channel {
            li {
              img {
                float: initial;
                margin-right: 0;
                display: table;
                margin: 0 auto 15px;
              }

              .text {
                width: 100%;

                span {
                  text-align: center;
                  font-size: 14px;

                  strong {
                    display: block;
                    text-align: center;
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
