body.error-page {
	.content {
		@include background-cover;
		background-repeat: no-repeat;
		background-position: center;
		padding: 342px 0 236px;
		background-image: url('./images/error/digio-error.jpg');

		h2 {
			color: $color-light-a;
			text-align: center;
			font-size: 21px;
			font-weight: 500;
			margin: 0 0 10px;
		}

		.button {
			height: 46px;
			line-height: 44px;
			font-size: 15px;
			margin: 0 auto;
			display: block;
			max-width: 320px;
		}
	}
}