body.help-page {

	.box-title { background-image: url('./images/ajuda/ajuda-banner.jpg'); }

	.box-search {
		padding: 46px 0;
		background: #F6F6F8;

		form {
			.input-row {
				max-width: 750px;
				margin: 0 auto;
				position: relative;

				.input-text {
					border: 1px solid #EEE;
					background: $color-light-a;
					@include rounder(50px);
					height: 50px;
					line-height: 50px;
					padding: 17px 69px 17px 40px;
				}

				label.error {
					position: absolute;
					width: 100%;
				}

				.button-find {
					position: absolute;
					right: 29px;
					top: 0;
					height: 50px;
					background: transparent;

					i {
						color: $color-blue-a;
						line-height: 58px;
						height: 50px;
						display: block;
						font-size: 20px;
					}
				}
			}
		}
	}

	.box-faq {
		padding: 75px 0;

		.list-navigation {
			background: $color-light-a;
			@include box-shadow(0, 0, 25px, rgba(0, 0, 0, .1));
			@include rounder(4px);

			ul {
				li {

					&.active a {
						background: $color-blue-a;
						color: $color-light-a;
						font-weight: 500;

						&:hover { color: $color-light-a; }
					}

					&:first-child a { @include round-top(4px); }
					&:last-child a { @include round-bottom(4px); }

					a {
						padding: 17px 45px;
						display: block;
						color: $color-gray-a;
						font-size: 15px;
    					line-height: 30px;
    					@include transiction;

    					&:hover { color: $color-blue-a; }
					}
				}
			}
		}

		.group-content {
			.title-faq {
				font: 600 32px/44px 'Montserrat';
				color: $color-blue-a;
				margin-bottom: 20px;
			}
		}

	}

	@media only screen and (max-width: 768px) {

		.box-title {
			padding: 60px 0;
			background-position: center right;

			&.product-title {
				padding: 60px 0;

				strong {
					font-size: 23px;
					line-height: 32px;
				}
			}
		}

		.box-search { padding: 20px 0; }

		.box-faq {
			padding: 60px 0;

			.list-navigation {
				margin-bottom: 50px;

				.list-navigation ul li a {
					padding: 10px 35px;
				}
			}

			.group-content {
				.title-faq {
					font-size: 28px;
					line-height: 35px;
				}
			}
		}

	}

}