body.home-page {

	.header {

		&.header-fixed {
			.group-header {
				position: fixed;
				background: $color-light-a;

				.logo img {
					&.logo-black { display: block; }
					&.logo-white { display: none; }
				}

				nav .menu > li > a {
					color: $color-dark-a;

					&.button {
						color: $color-blue-a;

						&:hover { color: $color-light-a; }
					}
				}

				nav {
					.menu > li > a { color: $color-dark-a; }

					.menu-button .open-menu,
					.menu-button .open-menu i { background: $color-dark-a; }
				}
			}
		}

		.group-header {
			background: transparent;
			z-index: 2;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;

			.logo img {
				&.logo-black { display: none; }
				&.logo-white { display: block; }
			}

			nav {
				.menu > li > a { color: $color-light-a; }

				.menu-button .open-menu,
				.menu-button .open-menu i { background: $color-light-a; }
			}
		}
	}

	.content {
		position: relative;
		overflow: hidden; // For products slider

		.banner-home {
			position: relative;

			.slick-dots {
				position: absolute;
				bottom: 57px;
    			left: 5%;

				li {
					display: block;
					margin-bottom: 45px;
					position: relative;

					&:last-child { margin-bottom: 0; }

					&.slick-active {
						a {
							@include opacity(1);
							font-size: 23px;

							&:before { @include opacity(1); }
						}
					}

					a {
						color: $color-light-a;
						display: block;
						font: 500 14px/14px 'Montserrat';
						@include opacity(.6);
						padding: 0 0 0 36px;
						@include transiction;
						cursor: pointer;

						&:before {
							content: '';
							width: 19px;
							display: block;
							height: 1px;
							background: $color-blue-a;
							position: absolute;
							top: 50%;
							left: 0;
							@include opacity(0);
						}
					}
				}
			}

			.list-banners {
				.box-banner {
					@include background-cover;
					background-repeat: no-repeat;
					background-position: center;
					height: 735px;
					padding-top: 292px;

					h1 {
						text-align: center;
						margin-bottom: 5px;

						strong {
							color: $color-light-a;
							display: block;
							text-align: center;
							font: 500 91px/93px 'Montserrat';
							margin-bottom: 11px;
						}

						span {
							font: 500 26px/26px 'Montserrat';
							text-align: center;
							color: $color-light-a;
							vertical-align: top;

							i {
								color: $color-light-a;
								font-size: 122px;
								display: inline-block;
								margin: 0 5px;
								position: relative;
								top: -9px;

								&.icon-festa { font-size: 90px; }
								&.icon-praia { font-size: 102px; }

								&:before {
									display: block;
									height: 40px;
									line-height: 40px;
								}
							}
						}
					}

					.button {
						width: 285px;
						max-width: 100%;
						margin: 0 auto;
						display: block;
					}

					&.banner-1 { background-image: url('./images/home/slider-home/digio-banner-1.jpg'); }
					&.banner-2 { background-image: url('./images/home/slider-home/digio-banner-2.jpg'); }
					&.banner-3 { background-image: url('./images/home/slider-home/digio-banner-3.jpg'); }

				}
			}

			.view-more {
				position: absolute;
				width: 100px;
				left: 50%;
				margin-left: -50px;
				bottom: 25px;

				span {
					display: block;
					text-align: center;
					text-transform: uppercase;
					color: $color-light-a;
					font: 13px/13px 'Montserrat';
					margin-bottom: 16px;
				}

				i {
					font-size: 28px;
					display: block;
					text-align: center;
					color: $color-light-a;
					-webkit-animation: vertical-animate 1.5s infinite alternate;
					-moz-animation: vertical-animate 1.5s infinite alternate;
					-animation: vertical-animate 1.5s infinite alternate;
				}
			}

			.social-list {
				position: absolute;
				bottom: 57px;
				right: 5%;
				@include clearfix;

				ul {
					float: right;
					margin-bottom: 29px;

					li {
						margin-top: 15px;

						a {
							display: block;

							i {
								display: block;
								font-size: 19px;
								color: $color-light-a;
								text-align: center;
								width: 20px;

								&:before {
									display: block;
								}
							}
						}
					}
				}

				strong {
					float: right;
					clear: both;
					font: 500 14px/14px 'Montserrat';
					display: block;
					color: $color-light-a;
					text-align: right;
					margin-bottom: 7px;
				}

				span {
					float: right;
					clear: both;
					font: 500 13px/13px 'Montserrat';
					display: block;
					color: $color-light-a;
					text-align: right;
				}
			}
		}

		.box-apps {
			padding-top: 84px;
			margin-bottom: -101px;
			background: $color-light-a;

			h2 {
				font: 500 44px/44px 'Montserrat';
				color: $color-blue-a;
				text-align: center;
				margin-bottom: 25px;
			}

			p {
				font-size: 18px;
				line-height: 25px;
				display: block;
				text-align: center;
				color: $color-dark-a;

				strong {
					font-size: 18px;
					line-height: 25px;
					font-weight: 500;
					color: $color-dark-a;
				}
			}

			.list-buttons-apps {
				text-align: center;
				margin: 39px 0 63px;
				font-size: 0;

				li {
					display: inline-block;
					margin: 0 10px;
				}
			}

			.banner-app {
				max-width: 865px;
				margin: 0 auto;
				position: relative;

				.icon-logo-digio {
					font-size: 370px;
					position: absolute;
					top: 100px;
					display: block;
					left: -30px;
					color: #f6f6f7;
					z-index: 1;

					&:before {
						height: 180px;
						line-height: 180px;
						display: block;
					}
				}

				.app-image {
					position: relative;
					max-width: 270px;
					margin: 0 auto;
					z-index: 3;

					.mask {
						position: absolute;
						top: 0;
						z-index: 2;
					}

					.app-content {
						position: relative;
						z-index: 1;
						height: 540px;
						padding: 12px;

						.image-app {
							background: url('./images/digio-image-app-1.jpg') no-repeat center;
							@include background-cover;
							width: 100%;
							height: 100%;
							display: block;
							@include rounder(20px);
							@include box-shadow(0, 0, 120px, rgba(0,0,0,0.7));
						}
					}
				}

				.circle {
					width: 397px;
					height: 395px;
					position: absolute;
					right: 0;
					top: 70px;
					z-index: 2;

					.circle-image {
						display: block;
						position: relative;
						z-index: 2;
					}

					.circle-content {
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						z-index: 1;
						padding: 125px 88px 0 158px;

						li {
							i {
								width: 47px;
								height: 47px;
								line-height: 47px;
								font-size: 47px;
								display: block;
								margin-bottom: 20px;
								color: $color-blue-a;

								&:before { display: block; }
							}
							p {
								display: block;
								text-align: left;
								font-size: 16px;
    							line-height: 22px;

								span {
									font-size: 16px;
    								line-height: 22px;
    								color: $color-blue-a;
								}
							}
						}
					}
				}

			}
		}

		.box-card-app {
			padding: 192px 0 0;
			@include background-gradient(-225deg, #006EDC, #009FE8);
		    z-index: 2;
			position: relative;

			h2 {
				font: 600 44px/44px 'Montserrat';
				color: $color-light-a;
				text-align: center;
				margin-bottom: 21px;
			}

			p {
				font: 19px/19px 'Montserrat';
				display: block;
				text-align: center;
				color: $color-light-a;
				margin-bottom: 56px;
			}

			.button {
				max-width: 285px;
				height: 52px;
				line-height: 52px;
				margin: 0 auto;
				display: block;
			}
		}

		.box-get-card {
			padding: 150px 0 54px;
			background: $color-light-a;

			.container { max-width: 1135px; }

			.col-md-4 {
				&:after {
					content: '';
					display: block;
					background: url('./images/border-circle.svg') repeat-x left center;
					height: 3px;
					position: absolute;
					top: 76px;
					right: -61px;
					width: 122px;
					visibility: visible;
				}

				&:last-child {
					&:after { display: none; }
				}
			}

			.list-steps {
				margin-bottom: 54px;

				.pulse-item {
					width: 154px;
					height: 154px;
					display: block;
					margin: 0 auto 46px;
					@include background-gradient(-225deg, #006EDC, #009FE8);
			        padding: 2px;
					animation: pulse 2s infinite;
					@include rounder(100%);

					.mask {
						background-color: $color-light-a;
						display: block;
						@include rounder(100%);

						i {
							font-size: 75px;
							display: block;
							@include rounder(100%);
							@include background-gradient(-225deg, #006EDC, #009FE8);
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;

							&:before {
								line-height: 150px;
								text-align: center;
								display: block;
							}
						}
					}
				}
				h5 {
					font: 500 14px/14px 'Montserrat';
					text-transform: uppercase;
					text-align: center;
					margin-bottom: 28px;
				}
				p {
					text-align: center;
					display: block;
					max-width: 250px;
					margin: 0 auto;
					font-size: 14px;
					line-height: 23px;

					a {
						font-weight: 700;
						font-size: 14px;
						line-height: 23px;
					}
				}
			}

			.button {
				display: block;
				max-width: 320px;
				margin: 0 auto 70px;
				height: 52px;
				line-height: 52px;
			}

			.social-likes {
				max-width: 214px;
				margin: 0 auto;
			}
		}

		.box-slider-products {
			position: relative;
			z-index: 2;
			@include background-gradient(90deg, #1C1F24, #23272E);

			.list-banners-products {

				.slick-list { overflow: initial; }

				.slick-arrow {
					cursor: pointer;
					position: absolute;
					top: 50%;
					margin-top: -21px;
					font-size: 60px;
					width: 60px;
					height: 60px;
					line-height: 60px;
					display: block;
					color: $color-light-a;
					@include opacity(0.2);
					@include transiction;
					z-index: 5;

					&:hover { @include opacity(0.4); }

					&:before { display: block; }

					&.icon-arrow-left-circle { left: 50px; }
					&.icon-arrow-right-circle { right: 50px; }
				}

				.box-banner-products {
					position: relative;
					height: 651px;

					.list-brandings {
						li {
							display: inline-block;
							margin-right: 30px;
							vertical-align: middle;

							&:last-child { margin-right: 0; }

							img {
								display: block;

								&.netflix { height: 38px; }
								&.xbox { height: 29px; }
								&.google-play { height: 34px; }
							}
						}
					}

					.group-text {
						padding: 83px 0;

						.logo-item {
							@include clearfix;
							margin-bottom: 38px;

							i {
								float: left;
								color: $color-blue-a;
								display: block;
								margin-right: 10px;
								font-size: 121px;

								&:before {
									display: block;
									height: 55px;
									line-height: 55px;
								}
							}

							span {
								float: left;
								color: $color-blue-a;
								font: 300 33px/50px 'Montserrat';
								display: block;
								text-transform: uppercase;
								letter-spacing: 5px;
							}

						}

						h3 {
							font: 600 31px/38px 'Montserrat';
							color: $color-light-a;
							margin-bottom: 22px;
						}

						p {
							font-size: 16px;
							line-height: 26px;
							color: $color-light-a;
							display: block;
							margin-bottom: 42px;
						}

						.view-more {
							color: $color-blue-a;
							font: 500 13px/13px 'Montserrat';
							text-transform: uppercase;
							position: relative;
							padding-left: 20px;
							display: inline-block;
							margin-bottom: 55px;

							&:before {
								content: '';
								display: block;
								width: 6px;
								height: 6px;
								background: $color-blue-a;
								position: absolute;
								left: 0;
								top: 50%;
								margin-top: -3px;
								@include rounder(100%);
							}
						}
					}

					.app-image {
						position: relative;
						max-width: 275px;
						top: 140px;
						left: 75px;
						z-index: 3;

						&.app-image-2 {
							position: absolute;
							left: 320px;
							top: 50px;
							width: 275px;
							z-index: 1;
						}

						.mask {
							position: absolute;
							top: 0;
							z-index: 2;
							@include rounder(47px);
							@include box-shadow(0, 0, 30px, rgba(0,0,0,0.5));
							width: 100%;
						}

						.app-content {
							position: relative;
							z-index: 1;
							height: 550px;
							padding: 12px;

							.image-app {
								@include background-cover;
								width: 100%;
								height: 100%;
								display: block;
								@include rounder(20px);
								@include box-shadow(0, 0, 120px, rgba(0,0,0,0.7));
							}
						}
					}

					.gift-card {
						position: absolute;
						left: 300px;
						top: 80px;
						max-width: 280px;

						img {
							display: block;
							width: 100%;
						}
					}

					.credit-card {
						position: absolute;
						left: 320px;
						top: 240px;
						width: 320px;

						img {
							display: block;
							width: 100%;
							@include rounder(12px);
							@include box-shadow(0, 0, 50px, rgba(0,0,0,0.5));
						}
					}

					&.banner-1 {
						.image-app { background: url('./images/digio-image-app-3.jpg') no-repeat center; }

						.gift-card {
							&:before {
								background: url('./images/bg-circles.png') no-repeat center;
								content: '';
								display: block;
								width: 77px;
								height: 69px;
								position: absolute;
								bottom: -110px;
								left: 120px;
							}
						}
					}

					&.banner-2 {
						.image-app { background: url('./images/digio-image-app-4.jpg') no-repeat center; }

						.credit-card {
							&:before {
								background: url('./images/bg-circles.png') no-repeat center;
								content: '';
								display: block;
								width: 77px;
								height: 69px;
								position: absolute;
								bottom: -110px;
								left: 100px;
							}
						}
					}

					&.banner-3 {
						.app-image-1 .image-app { background: url('./images/digio-image-app-5.jpg') no-repeat center; }
						.app-image-2 .image-app { background: url('./images/digio-image-app-6.jpg') no-repeat center; }
					}

				}
			}
		}

		.box-testimonials {
			background: $color-light-a;

			.slick-list {
				overflow: initial;
				padding: 0 20px 0 20px;
				height: 564px !important;
			}

			.slider-arrows {
				position: absolute;
				right: -100px;
				top: 50%;
				margin-top: -67px;
				height: 135px;
				width: 60px;

				a {
					position: absolute;
					width: 60px;
					height: 60px;
					display: block;
					cursor: pointer;

					i {
						font-size: 60px;
						line-height: 60px;
						display: block;
						width: 60px;
						height: 60px;
						color: $color-blue-a;
						@include transiction;
						position: absolute;
						z-index: 5;

						&:before { display: block; }
					}

					&:first-child { top: 0; }
					&:last-child { bottom: 0; }
				}
			}

			.group-text {
				padding: 162px 0 182px;

				h4 {
					font: 600 45px/53px 'Montserrat';
					color: $color-blue-a;
					margin: 0 0 22px;
				}

				p {
					font-size: 16px;
					line-height: 26px;
					display: block;
					margin-bottom: 85px;
				}

				.list-brandings {
					@include clearfix;

					li {
						float: left;
						margin-right: 30px;

						&:last-child { margin-right: 0; }

						img {
							display: block;
							height: 25px;
							@include opacity(0.35);
						}
					}
				}
			}

			.list-slider-testimonials {
				padding-top: 115px;
				height: 634px;
				overflow: hidden;

				.card-testimonial {
					background: $color-light-a;
					@include box-shadow(0, 28px, 29px, rgba(120, 132, 143, .15));
					@include rounder(3px);
					margin-bottom: 30px;
					padding: 35px;

					&.slick-current {
						.icon-twitter { color: $color-blue-a; }
						.text-content { @include opacity(1); }
					}

					.icon-twitter {
						font-size: 30px;
						width: 30px;
						height: 30px;
						margin: 0 auto 25px;
						color: #bbb;
						display: block;
						text-align: center;
						@include transiction;

						&:before { display: block; }
					}

					.text-content {
						max-width: 225px;
						font-size: 16px;
						line-height: 24px;
						text-align: center;
						font-style: italic;
						display: block;
						margin: 0 auto 50px;
						@include opacity(.6);
						@include transiction;
					}

					.author {
						@include clearfix;
						padding-left: 40px;

						img {
							float: left;
							margin-right: 20px;
							width: 48px;
							height: 48px;
							@include rounder(100%);
						}

						strong {
							text-transform: uppercase;
							font-size: 16px;
							line-height: 16px;
							display: block;
							margin: 0 0 2px;
							padding: 9px 0 0;
						}

						i {
							font-size: 13px;
							line-height: 13px;
							display: block;
						}
					}

				}
			}
		}

		.box-benefits-partners {
			position: relative;
			@include background-gradient(-45deg, #006EDC, #00AAFF);

			&:before {
				display: block;
				position: absolute;
				right: -200px;
				bottom: 116px;
				font-family: 'digio';
				content: '\6d';
				color: $color-light-a;
				font-size: 430px;

				-ms-transform: rotate(-90deg);
				-webkit-transform: rotate(-90deg);
				transform: rotate(-90deg);

				z-index: 3;
				@include opacity(.8);
				height: 245px;
				line-height: 220px;
			}

			.row {
				height: 100%;

				.col-md-10,
				.col-md-4 { position: initial; }

				.col-md-1 { height: 649px; }
			}

			.slide-images {
				position: absolute;
				@include clearfix;
				top: 0;
				left: 30px;
				height: 100%;
				width: 640px;

				.slick-list,
				.slick-track {
					height: 100%;
				}

				.slick-list { z-index: 1; }

				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					@include background-gradient(-180deg, rgba(91,231,249,0.09), #5BE7F9);
					z-index: 2;
					@include opacity(.5);
				}

				li {
					position: relative;
					background-repeat: no-repeat;
					background-position: top left;
					@include background-cover;
					height: 100%;
					width: 100%;
				}
			}

			.list-controllers {
				padding: 103px 0;

				li {
					border-bottom: 1px solid rgba(164, 241, 255, .4);
					padding: 20px 0;
					@include transiction;
					@include opacity(.5);

					&.current-slide {
						@include opacity(1);

						&:before { @include opacity(1); }
					}

					&:last-child { border-bottom: none; }

					&:before {
						content: '';
						display: block;
						position: absolute;
						left: 0;
						height: 70px;
						width: 6px;
						@include opacity(0);
						@include transiction;
						background: $color-light-a;
					}

					a {
						position: relative;
						padding: 15px 0;
						@include clearfix;

						i {
							margin-right: 20px;
							float: left;
							display: block;
							font-size: 40px;
							color: $color-light-a;

							&.icon-mobilia { font-size: 47px; }
							&.icon-moda + span { font-size: 14px; }

							&:before {
								display: block;
								height: 40px;
								width: 40px;
								line-height: 40px;
							}
						}

						span {
							font: 500 16px/40px 'Montserrat';
							color: $color-light-a;
							display: block;
							white-space: nowrap;
						}
					}
				}
			}

			.list-content {
				.partner {
					padding: 138px 70px 30px;

					h4 {
						font: 600 32px/39px 'Montserrat';
						color: $color-light-a;
						margin-bottom: 24px;
					}

					p {
						color: $color-light-a;
						font-weight: 500;
						font-size: 16px;
						line-height: 16px;
						display: block;
						margin-bottom: 35px;
					}

					.partner-digio {
						@include clearfix;
						margin-bottom: 47px;

						img {
							display: inline-block;
							width: 164px;
							vertical-align: middle;
						}

						.icon-more {
							color: $color-light-a;
							font-size: 14px;
							margin: 0 15px;
							display: inline-block;
							vertical-align: middle;

							&:before {
								display: block;
								line-height: 63px;
								height: 63px;
							}
						}

						.icon-logo-digio {
							color: $color-light-a;
							font-size: 130px;
							display: inline-block;
							vertical-align: middle;

							&:before {
								display: block;
								line-height: 63px;
								height: 63px;
							}
						}
					}

					.button {
						text-transform: uppercase;
						font-size: 15px;
						padding: 0 62px;
					}
				}
			}

		}

		.box-medium {
			padding: 110px 0 111px;
			background: $color-light-b;

			h4 {
				margin-bottom: 18px;

				i {
					font-size: 160px;
					display: block;
					text-align: center;
					color: $color-dark-b;

					&:before {
						height: 32px;
						line-height: 32px;
						display: block;
					}
				}
			}

			.link-medium {
				display: block;
				width: 160px;
				text-align: center;
				margin: 0 auto 36px;
				font-size: 19px;
				line-height: 19px;
				color: $color-blue-a;
			}

			.loading-content {
				background: url('./images/loading.gif') no-repeat center;
				background-size: 40px;
				height: 354px;

				.list-posts { @include opacity(0); }
			}

			.list-posts {
				@include transiction;
				@include opacity(1);
				@include clearfix;

				.slick-list {
					li.post {
						width: 320px;
						max-width: 320px;
						padding-bottom: 60px;
						margin-right: 55px;

						a {
							outline: none;
							outline: 0;
							display: block;
							@include box-shadow(0, 28px, 29px, rgba(102, 102, 102, 0.08));

							.post-image {
								height: 100px;
								@include background-cover;
								@include round-top(5px);
								border-bottom: 1px solid rgba(0,0,0,.0785);
							}

							.post-content {
								padding: 38px 17px 17px 17px;
								background: $color-light-a;
								@include round-bottom(5px);

								h6 {
									color: $color-dark-b;
									font: 600 22px/26px 'Montserrat';
									letter-spacing: -0.6px;
									height: 52px;
								}

								.post-details {
									margin-top: 30px;

									.post-author {
										@include clearfix;

										.group-image-author {
											position: relative;
											float: left;
											padding: 3px;
											margin-right: 10px;
											@include rounder(100%);
											border: 1px solid $color-gray-a;

											&:before {
												display: block;
												content: '';
												height: 20px;
												width: 100%;
												padding: 0 3px;
												background: $color-light-a;
												position: absolute;
												top: 50%;
												left: -3px;
												margin-top: -10px;
												z-index: 1;
											}

											img {
												@include rounder(100%);
												display: block;
												width: 38px;
												height: 38px;
												position: relative;
												z-index: 2;
											}
										}

										strong {
											color: $color-dark-b;
											font: 14px/14px 'Montserrat';
											letter-spacing: -.6px;
											display: block;
											padding: 9px 0 3px;
											white-space: nowrap;
										}

										i {
											font-size: 12px;
	    									line-height: 12px;
	    									display: block;
	    									color: $color-gray-a;
	    									white-space: nowrap;
										}
									}

									.list-counters {
										@include clearfix;
										float: right;
										padding: 10px 0;

										li {
											float: left;

											&.divisor {
												width: 1px;
												height: 25px;
												background: #DEDEDE;
												margin: 0 12px;
											}

											i {
												font-size: 25px;
												width: 25px;
												height: 25px;
												display: inline-block;
												text-align: center;
												vertical-align: top;
												margin-right: 4px;
												color: #03a87c;

												&.icon-response { font-size: 20px; }

												&:before {
													display: block;
													line-height: 25px;
												}
											}

											.count {
												vertical-align: top;
												font-size: 14px;
		    									line-height: 28px;
		    									height: 25px;
		    									display: inline-block;
		    									color: $color-gray-a;
											}
										}
									}
								}
							}

						}
					}
				}

				.slick-dots {
					text-align: center;
					font-size: 0;

					li {
						display: inline-block;
						margin: 0 6px;

						&.slick-active {
							button { background: $color-blue-a; }
						}

						button {
							text-indent: -5000px;
							display: block;
							width: 9px;
							height: 9px;
							@include rounder(100%);
							background: #c9d3d7;
							@include transiction;
							cursor: pointer;
						}
					}
				}
			}
		}

		.box-faq {
			padding: 83px 0;
			background: $color-light-a;

			h4 {
				font: 600 45px/53px 'Montserrat';
				margin-bottom: 15px;
			}

			.description {
				font-size: 17px;
				line-height: 20px;
			}

			.list-contact { margin-top: 34px; }

			.accordion { margin-top: -21px; }
		}

		.box-get-card-blue {
			@include background-gradient(-45deg, #006EDC, #00AAFF);

			.box-bg-group {
				padding: 90px 0;
				background: url('./images/home/bg-get-card-blue.jpg') no-repeat top center;
				@include background-cover;

				h4 {
					font: 600 45px/53px 'Montserrat';
					margin-bottom: 18px;
					color: $color-light-a;
				}

				.description {
					font-size: 18px;
					line-height: 23px;
					color: $color-light-a;
					display: block;
					margin-bottom: 47px;
				}

				.button { color: $color-dark-a; }
			}
		}

	}

	&.nav-open {
		.header .group-header nav .menu-button .open-menu { background: transparent; }
	}

	@media only screen and (max-width: 1530px) {
		.content {
			.box-get-card-blue {
				.box-bg-group {
					h4 br { display: none; }
				}
			}
		}
	}

	@media only screen and (max-width: 1400px) {
		.content .box-slider-products .list-banners-products .slick-arrow { display: none !important; }
	}

	@media only screen and (max-width: 1200px) {
		.content {
			.box-slider-products .list-banners-products .box-banner-products .group-text {
				h3 br { display: none; }
				.list-brandings li img { height: 25px !important; }
			}

			.box-benefits-partners .list-content .partner .partner-digio { display: none; }
		}
	}

	@media only screen and (max-width: 992px) {
		.content {
			.banner-home .social-list {
				strong, span { display: none; }
			}

			.box-apps .banner-app .circle { right: -50px; }

			.box-get-card .col-md-4:after { display: none; }

			.box-slider-products .list-banners-products .box-banner-products {
				height: auto;

				.group-text p br,
				.gift-card,
				.credit-card,
				.app-image-2,
				.group-text .list-brandings li img { display: none; }
			}

			.box-get-card-blue .col-sm-8 {
				float: initial;
				margin: 0 auto;
			}

			.box-testimonials {
				.group-text {
					padding: 105px 0;

					.list-brandings,
					h4 br,
					p br { display: none; }
				}
			}

			.box-benefits-partners {
				&:before,
				.row .col-md-1 { display: none; }

				.list-controllers { padding: 50px 0; }

				.list-content .partner { padding: 110px 50px; }
			}
		}
	}

	@media only screen and (max-width: 768px) {
		.content {

			.banner-home {

				.list-banners .box-banner {
					padding: 160px 15px 130px;
					height: auto;

					h1 {
						margin-bottom: 25px;

						strong {
							font-size: 50px;
							line-height: 50px;
						}
						span {
							font-size: 22px;
							line-height: 26px;

							i {
								font-size: 120px;
								vertical-align: top;
							}
						}
					}
				}

				.slick-dots,
				.social-list {
					display: none !important;
				}
			}

			.box-apps {
				padding-top: 60px;

				h2 {
					font-size: 28px;
					line-height: 35px;
				}

				p {
					font-size: 18px;
					line-height: 23px;
				}

				.banner-app {
					.circle,
					.icon-logo-digio {
						display: none;
					}
				}

				.list-buttons-apps li {
					margin-bottom: 15px;
				}
			}

			.box-card-app {
				padding-top: 160px;

				h2 {
					font-size: 28px;
					line-height: 35px;
				}

				p {
					font-size: 18px;
					line-height: 23px;
				}
			}

			.box-get-card {
				padding: 105px 0 60px;

				.col-md-4 {
					margin-bottom: 40px;

					&:last-child { margin-bottom: 0; }
				}

				.list-steps {
					.pulse-item { margin-bottom: 25px; }
					h5 { margin-bottom: 10px; }
				}

				.button { margin-bottom: 30px; }
			}

			.box-slider-products {
				padding: 60px 0;

				.list-banners-products .box-banner-products .group-text {
					padding: 0;

					.logo-item {
						text-align: center;

						i {
							float: none;
							display: inline-block;
							vertical-align: top;
						}

						span {
							float: none;
							display: inline-block;
							vertical-align: top;
						}

					}

					h3 {
						font-size: 28px;
						line-height: 35px;
						text-align: center;
					}

					p {
						font-size: 18px;
						line-height: 23px;
						text-align: center;
					}

					.view-more { margin: 0; }
				}
			}

			.box-testimonials {
				padding: 60px 0;

				.slick-list,
				.list-slider-testimonials { height: auto !important; }

				.group-text {
					padding: 0;
					margin-bottom: 20px;

					h4 {
						text-align: center;
						font-size: 28px;
						line-height: 35px;
					}

					p {
						font-size: 18px;
						line-height: 23px;
						text-align: center;
						margin: 0;
					}
				}

				.list-slider-testimonials {
					padding: 0;

					.card-testimonial .author { padding-left: 0; }
				}

				.slick-dots {
					text-align: center;
					font-size: 0;
					margin-top: 30px;

					li {
						display: inline-block;
						margin: 0 6px;

						&.slick-active {
							button { background: $color-blue-a; }
						}

						button {
							text-indent: -5000px;
							display: block;
							width: 15px;
							height: 15px;
							@include rounder(100%);
							background: transparent;
							border: 1px solid $color-blue-a;
							@include transiction;
							cursor: pointer;
						}
					}
				}
			}

			.box-benefits-partners {
				padding: 60px 0;

				.list-controllers { display: none; }

				.list-content .partner {
					padding: 0;
					text-align: center;

					h4 {
						text-align: center;
						font-size: 28px;
						line-height: 35px;
					}

					p {
						font-size: 18px;
						line-height: 23px;
						text-align: center;
					}

					.button { font-size: 14px; }
				}

				.slick-dots {
					text-align: center;
					font-size: 0;
					margin-top: 30px;

					li {
						display: inline-block;
						margin: 0 6px;

						&.slick-active {
							button { background: $color-light-a; }
						}

						button {
							text-indent: -5000px;
							display: block;
							width: 15px;
							height: 15px;
							@include rounder(100%);
							background: transparent;
							border: 1px solid $color-light-a;
							@include transiction;
							cursor: pointer;
						}
					}
				}
			}

			.box-medium {
				padding: 60px 0;

				.list-posts .slick-list li.post a .post-content .post-details .list-counters { display: none !important; }

				.container { padding: 0; }

				.slick-list li.post a .post-content

				.list-posts {
					.slick-list li.post {
						max-width: 280px;

						a .post-content {
							h6 { height: auto; }
						}
					}

					.slick-dots li button {
						width: 15px;
						height: 15px;
					}
				}
			}

			.box-faq {
				padding: 60px 0;

				h4 {
					text-align: center;
					font-size: 28px;
					line-height: 35px;
				}

				.description {
					font-size: 18px;
					line-height: 23px;
					text-align: center;
				}

				.list-contact { margin-bottom: 50px; }
			}

			.box-get-card-blue {
				.box-bg-group {
					background-image: none;
					padding: 60px 0;

					h4 {
						text-align: center;
						font-size: 28px;
						line-height: 35px;
					}

					p { text-align: center; }

					a {
						margin: 0 auto;
						display: block;
						max-width: 300px;
					}

					.button { font-size: 14px; }
				}
			}

		}
	}

}