body.product-digio-card-page {

	.box-title { background-image: url('./images/produtos/digio-card-banner.jpg'); }

	.box-content {
		padding: 98px 0 0;

		h2 {
			font: 600 44px/44px 'Montserrat';
			color: $color-blue-a;
			margin-bottom: 20px;
			text-align: center;
		}

		p {
			font-size: 18px;
			line-height: 26px;
			display: block;
			text-align: center;
			color: $color-dark-a;
		}

		.button {
			display: block;
			max-width: 283px;
			margin: 55px auto 0;
			height: 52px;
			line-height: 52px;
		}
	}

	.box-card-and-app { padding-top: 130px; }

	@media only screen and (max-width: 768px) {
		.box-title.product-title {
			padding: 60px 0;

			strong {
				font-size: 23px;
				line-height: 32px;
			}
		}

		.box-content {
			padding: 60px 0 0;

			h2 {
				text-align: center;
				font-size: 28px;
				line-height: 35px;
			}

			p {
				font-size: 18px;
				line-height: 23px;
				text-align: center;

				br { display: none; }
			}
		}

		.box-card-and-app { padding: 95px 0 60px; }
	}

}