body.product-digio-easy-page {

	.box-title { background-image: url('./images/produtos/digio-easy-banner.jpg'); }

	.box-steps {
		padding: 98px 0;

		h2 {
			font: 600 44px/44px 'Montserrat';
			color: $color-blue-a;
			margin-bottom: 75px;
			text-align: center;
		}

		.col-md-4 {
			&:after {
				content: '';
				display: block;
				background: url('./images/border-circle.svg') repeat-x left center;
				height: 3px;
				position: absolute;
				top: 76px;
				right: -61px;
				width: 122px;
				visibility: visible;
			}

			&:last-child {
				&:after { display: none; }
			}
		}

		.list-steps {
			.pulse-item {
				width: 154px;
				height: 154px;
				display: block;
				margin: 0 auto 46px;
				@include background-gradient(-225deg, #006EDC, #009FE8);
				padding: 2px;
				animation: pulse 2s infinite;
				@include rounder(100%);

				.mask {
					background-color: $color-light-a;
					display: block;
					@include rounder(100%);

					i {
						font-size: 75px;
						display: block;
						@include rounder(100%);
						@include background-gradient(-225deg, #006EDC, #009FE8);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;

						&.icon-thousand { font-size: 65px; }
						&.icon-money { font-size: 45px; }
						&.icon-like { font-size: 60px; }

						&:before {
							line-height: 150px;
							text-align: center;
							display: block;
						}
					}
				}
			}
			h5 {
				font: 500 14px/14px 'Montserrat';
				text-transform: uppercase;
				text-align: center;
				margin-bottom: 28px;
			}
		}
	}

	.box-simulation {
		padding: 98px 0;
		background: $color-light-b;

		h4 {
			font-size: 17px;
			line-height: 17px;
			text-align: center;
			margin-bottom: 70px;
		}

		.calculation {
			h3 {
				font: 500 18px/18px 'Montserrat';
				letter-spacing: 0.1px;
				margin-bottom: 35px;
			}

			.right-box {
				&:before {
					display: block;
					content: '';
					height: 270px;
					width: 1px;
					background: #EEE;
					position: absolute;
					left: -25px;
					top: -30px;
				}
			}

			.group-range-slider {
				.value {
					display: block;
					font: 500 44px/44px 'Montserrat';
					margin: 30px 0 50px;
					color: $color-blue-a;
				}

				.range-slider {
					-webkit-appearance: none;
					appearance: none;
					max-width: 326px;
					display: block;
					width: 100%;
					height: 3px;
					background: #C8CCCE;
					background-image: -webkit-gradient(
						linear, 0% 0%, 100% 0%,
						color-stop(0.1, rgb(0, 160, 230)),
						color-stop(0.1, rgb(200, 204, 206))
					);
					outline: none;
					opacity: 0.7;
					-webkit-transition: .2s;
					transition: opacity .2s;

					&::-webkit-slider-thumb {
						@include rounder(100%);
						-webkit-appearance: none;
						appearance: none;
						width: 17px;
						height: 17px;
						background: $color-blue-a;
						cursor: pointer;
					}

					&::-moz-range-thumb {
						@include rounder(100%);
						width: 17px;
						height: 17px;
						background: $color-blue-a;
						cursor: pointer;
					}
				}
			}

			.result {
				margin-bottom: 40px;

				strong {
					display: block;
					font: 600 24px/24px 'Montserrat';
					margin-bottom: 20px;
					color: $color-blue-a;
				}

				span {
					font-size: 14px;
					line-height: 14px;
					display: block;

					i {
						font-size: 14px;
						line-height: 14px;
					}
				}
			}

			.button {
				max-width: 283px;
				display: block;
			}
		}
	}

	@media only screen and (max-width: 992px) {
		.box-steps .col-md-4:after { display: none; }

		.box-simulation .calculation {

			.col-md-4 {
				margin-bottom: 50px;

				&:last-child { margin-bottom: 0; }
			}

			h3,
			.group-range-slider .value,
			.result strong,
			.result span { text-align: center; }

			.group-range-slider .range-slider { margin: 0 auto; }

			.group-radio-button {
				margin: 0 auto;
				max-width: 130px;
			}

			.button {
				margin: 0 auto;
				max-width: 290px;
			}
		}
	}

	@media only screen and (max-width: 768px) {
		.box-title {
			background-position: center;

			&.product-title {
				padding: 60px 0;

				strong {
					font-size: 23px;
					line-height: 32px;
				}
			}
		}

		.box-steps {
			padding: 60px 0;

			h2 {
				text-align: center;
				font-size: 28px;
				line-height: 35px;
				margin-bottom: 35px;
			}

			p {
				font-size: 18px;
				line-height: 23px;
				text-align: center;

				br { display: none; }
			}

			.col-md-4 {
				margin-bottom: 40px;

				&:last-child { margin-bottom: 0; }
			}

			.list-steps {
				.pulse-item { margin-bottom: 25px; }
				h5 { margin-bottom: 10px; }
			}
		}

		.box-simulation {
			padding: 60px 0;

			.calculation {

				h3 { margin-bottom: 20px; }

				.group-range-slider .value {
					font-size: 25px;
					line-height: 25px;
					margin: 0 0 15px;
				}
			}
		}
	}
}