body.product-digio-store-page {

	.box-title { background-image: url('./images/produtos/digio-store-banner.jpg'); }

	.box-content {
		padding: 98px 0 0;

		h2 {
			font: 600 44px/44px 'Montserrat';
			color: $color-blue-a;
			margin-bottom: 20px;
			text-align: center;
		}

		p {
			font-size: 18px;
			line-height: 26px;
			display: block;
			text-align: center;
			color: $color-dark-a;
		}

		.list-brandings {
			text-align: center;
			margin-top: 60px;

			li {
				display: inline-block;
				margin: 0 20px 20px;

				img { @include opacity(0.4); }
			}
		}
	}

	.group-images {
		margin: 100px 0 -80px;
		position: relative;

		.app-image {
			position: relative;
			max-width: 270px;
			margin: 0 auto;
			z-index: 3;

			.mask {
				position: absolute;
				top: 0;
				z-index: 2;
			}

			.app-content {
				position: relative;
				z-index: 1;
				height: 540px;
				padding: 12px;

				.image-app {
					background: url('./images/digio-image-app-2.jpg') no-repeat center;
					@include background-cover;
					width: 100%;
					height: 100%;
					display: block;
					@include rounder(20px);
					@include box-shadow(0, 0, 120px, rgba(0,0,0,0.7));
				}
			}
		}

		.gift-card-1,
		.gift-card-2 {
			width: 265px;
			position: absolute;
			bottom: 60px;
			z-index: 1;
		}

		.gift-card-1 {
			right: 50%;
			margin-right: 80px;
		}
		.gift-card-2 {
			left: 50%;
			margin-left: 80px;
		}

	}

	.box-card-and-app {
		padding-top: 130px;
		z-index: 2;
		position: relative;
	}

	@media only screen and (max-width: 992px) {
		.box-content p br { display: none; }
	}

	@media only screen and (max-width: 768px) {
		.box-title {
			background-position: left center;

			&.product-title {
				padding: 60px 0;

				strong {
					font-size: 23px;
					line-height: 32px;
				}
			}
		}

		.box-content {
			padding: 60px 0 0;

			h2 {
				text-align: center;
				font-size: 28px;
				line-height: 35px;
			}

			p {
				font-size: 18px;
				line-height: 23px;
				text-align: center;

				br { display: none; }
			}
		}

		.group-images {
			margin-top: 50px;

			.gift-card-1,
			.gift-card-2 { display: none; }
		}

		.box-card-and-app { padding: 130px 0 60px; }
	}

}