.accordion {
	.accordion-group {
		border-bottom: 1px solid $color-light-c;
		padding: 15px 0;

		&.opened h6 {
			&:before {
				-ms-transform: rotate(-180deg);
				-webkit-transform: rotate(-180deg);
				transform: rotate(-180deg);
			}
		}

		&:last-child { border-bottom: none; }

		h6 {
			font: 500 16px/24px 'Montserrat';
			cursor: pointer;
			padding: 15px 30px 15px 0;
			position: relative;

			&:before {
				font-family: "digio";
				content: '\61';
				display: block;
				position: absolute;
				top: 50%;
				margin-top: -4px;
				right: 0;
				width: 15px;
				height: 9px;
				line-height: 9px;
    			font-size: 14px;
    			color: $color-blue-a;
    			@include transiction;
			}
		}

		.accordion-content {
			display: none;

			p {
				font-size: 15px;
				line-height: 25px;
			}
		}

	}

}