.box-support-contact {
	background: $color-blue-a url('./images/bg-support-contact.jpg') no-repeat left center;
	height: 380px;
	padding: 126px 0;

	.group-contact {

		h3 {
			font: 600 29px/22px 'Montserrat';
			color: $color-light-a;
			margin-bottom: 19px;
		}
		> p {
			line-height: 24px;
			max-width: 260px;
			letter-spacing: -0.6px;
			color: $color-light-a;
		}

		.list-contact {
			margin-top: 17px;
			@include clearfix;

			li {
				margin-bottom: 0;
				margin-right: 25px;
				float: left;

				a {
					color: $color-light-a;

					i { color: $color-light-a; }
				}

				&:last-child { margin-right: 0; }
			}
		}
	}

	@media only screen and (max-width: 768px) {
		background-position: left center;
		@include background-cover;
		height: auto;
		padding: 60px 0;

		.col-md-6:first-child .group-contact { margin-bottom: 60px; }
	}
}