.box-card-and-app {
	padding: 105px 0;
	@include background-gradient(-45deg, #006EDC, #00AAFF);

	h4 {
		color: $color-light-a;
		text-align: center;
		font: 500 45px/55px 'Montserrat';
		letter-spacing: -0.36px;
		margin-bottom: 13px;
	}

	p {
		display: block;
		text-align: center;
		color: $color-light-a;
		font: 19px/23px 'Montserrat';
	}

	.list-buttons-apps {
		text-align: center;
		margin-top: 39px;
		font-size: 0;

		li {
			display: inline-block;
			margin: 0 10px;

			a {
				border-color: $color-light-a;
				i, span, strong { color: $color-light-a; }

				&:hover {
					background: $color-light-a;

					i, span, strong { color: #00AAFF; }
				}
			}
		}
	}

	@media only screen and (max-width: 768px) {
		padding: 60px 0;

		h4 {
			text-align: center;
			font-size: 28px;
			line-height: 35px;
		}

		p {
			font-size: 18px;
			line-height: 23px;
			text-align: center;

			br { display: none; }
		}

		.list-buttons-apps {
			li {
				margin-bottom: 15px;

				&:last-child { margin-bottom: 0; }
			}
		}
	}
}