.box-title {
	background-color: $color-gray-a;
	@include background-cover;
	background-position: right center;
	padding: 220px 0 90px;

	strong {
		margin-bottom: 20px;
		display: block;
		color: $color-light-a;
		font: 16px/16px 'Montserrat';
		text-transform: uppercase;
	}

	h1 {
		font: 600 44px/44px Montserrat;
		color: $color-light-a;
	}

	&.product-title {
		padding: 157px 0 90px;

		.logo-item {
			margin: 0 auto 20px;
			text-align: center;

			i {
				display: inline-block;
				color: $color-light-a;
				margin-right: 10px;
				font-size: 121px;
				vertical-align: top;

				&:before {
					display: block;
					height: 55px;
					line-height: 55px;
				}
			}

			span {
				display: inline-block;
				color: $color-light-a;
				font: 300 33px/50px 'Montserrat';
				text-transform: uppercase;
				letter-spacing: 5px;
				vertical-align: top;
			}
		}

		strong {
			font: 700 28px/34px 'Montserrat';
			letter-spacing: -0.1px;
			margin-bottom: 0;
			text-transform: initial;
			text-align: center;
		}
	}
}