.box-no-tax {
	padding-top: 90px;
	background: url('./images/pulse.svg') no-repeat center 34px;

	&.color-blue {
		h5, i { color: $color-blue-a; }
	}

	h5 {
		text-transform: uppercase;
		font: 600 16px/90px 'Montserrat';
		text-align: center;
		color: $color-light-a;
		margin-bottom: 38px;
		height: 90px;

		i {
			height: 90px;
			font-size: 90px;
			color: $color-light-a;
			display: inline-block;
			vertical-align: middle;
			margin: 0 15px;

			&:before {
				display: inline-block;
				line-height: 90px;
			}
		}
	}

	.card-tax {
		position: relative;
		max-width: 314px;
		margin: 0 auto;
		top: 44px;

		&:hover .card {
			transform: translateY(-5px);
		}

		.card {
			width: 100%;
			position: relative;
			z-index: 1;
			@include rounder(12px);
			@include box-shadow(0, 30px, 70px, rgba(0,0,0, 0.2));
			@include transiction;
		}

		.love {
			position: absolute;
			top: -25px;
			right: 25px;
			display: block;
			z-index: 2;
			-webkit-animation: vertical-animate 1.5s infinite alternate;
			-moz-animation: vertical-animate 1.5s infinite alternate;
			-animation: vertical-animate 1.5s infinite alternate;
		}
	}

	@media only screen and (max-width: 768px) {
		margin: 0 -15px;
		padding-left: 15px;
		padding-right: 15px;

		h5 {
			line-height: 55px;
			height: 55px;

			i {
				height: 55px;
				font-size: 55px;

				&:before { line-height: 55px; }
			}
		}
	}

}