.button {
    display: inline-block;
    height: 50px;
    padding: 0 34px;
    font: 500 15px/50px 'Montserrat';
    @include rounder(50px);
    @include transiction;
    text-align: center;
    text-transform: uppercase;

    &.button-primary {
        @include background-gradient(-5deg, #00BDFD, #009FE8);
        color: $color-light-a;
        @include box-shadow(0, 22px, 29px, rgba(3, 180, 242, 0.3));
        @include transiction;

        &:hover { transform: translateY(-1px) }
    }

    &.button-secondary {
        background: $color-light-a;
        color: $color-blue-a;
        @include box-shadow(0, 0, 10px, rgba(0, 240, 252, 0.9));

        &:hover {
            @include box-shadow(0, 0, 30px, rgba(0, 240, 252, 0.9));
        }
    }

    &.button-primary-border {
        background: transparent;
        color: $color-blue-a;
        border: 2px solid $color-blue-a;

        &:hover {
            background: $color-blue-a;
            color: $color-light-a;
        }
    }

    &.button-secondary-border {
        background: transparent;
        color: $color-light-a;
        border: 2px solid $color-light-a;

        &:hover {
            background: $color-light-a;
            color: $color-dark-a;
        }
    }

}

.button-app {
    border: 1px solid $color-blue-a;
    padding: 14px 15px;
    width: 193px;
    @include rounder(3px);
    display: block;
    @include clearfix;
    @include transiction;

    &:hover {
        background: $color-blue-a;

        i, span, strong { color: $color-light-a; }
    }

    i {
        float: left;
        display: block;
        font-size: 30px;
        width: 46px;
        color: $color-blue-a;
        position: relative;
        @include transiction;

        &:before { display: block; }

        &.icon-play-store { left: 7px; }

        &.icon-app-store {
            font-size: 35px;
            height: 30px;
            top: -2px;
        }
    }

    span {
        font: 12px/14px 'Montserrat';
        display: block;
        color: $color-blue-a;
        @include transiction;
    }

    strong {
        font: 500 16px/16px 'Montserrat';
        display: block;
        color: $color-blue-a;
        @include transiction;
    }
}