.drop-down {
    .drop-down-box {
        display: none;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: -32px;
        width: 245px;
        padding: 30px 34px;
        background: $color-light-a;
        @include rounder(5px);
        @include box-shadow(0, 40px, 70px, rgba(0,0,0, 0.2));

        ul {
            li {
                margin-bottom: 20px;

                &:last-child { margin-bottom: 0; }

                a {
                    @include clearfix;
                    color: #666;
                    font: 400 14px/23px Montserrat;
                    @include transiction;

                    &:hover { color: $color-blue-a; }
                }
            }
        }

    }
}