.footer {
    background: $color-light-a;

    .container {
        max-width: 1175px;
        margin: 0 auto;
    }

    .footer-top {
        padding: 50px 0 58px;

        .logo {
            display: block;
            width: 127px;
            margin-bottom: 16px;

            img {
                display: block;
                width: 127px;
            }
        }

        .copyright {
            font-size: 14px;
            line-height: 14px;
            display: block;
            color: $color-gray-a;
            margin-bottom: 28px;
        }

        .list-social {
            li {
                float: left;
                margin-right: 12px;

                &:last-child { margin-right: 0; }

                a {
                    display: block;

                    i {
                        display: block;
                        color: $color-blue-a;    
                        font-size: 19px;

                        &:before {
                            display: block;
                        }

                        &.icon-facebook {
                            font-size: 24px;

                            &:before { line-height: 24px; }
                        }
                        &.icon-instagram {
                            font-size: 22px;

                            &:before { line-height: 25px; }
                        }
                        &.icon-youtube {
                            font-size: 32px;

                            &:before { line-height: 27px; }
                        }
                        &.icon-twitter {
                            font-size: 25px;

                            &:before { line-height: 27px; }
                        }
                    }
                }
            }
        }

        h6 {
            font: 500 17px/17px 'Montserrat';
            margin: 8px 0 19px;
        }

        .button-app {
            margin: 5px 0 17px -26px;
        }

        .simple-list {
            li {
                margin-bottom: 11px;

                &:last-child { margin-bottom: 0; }

                a {
                    font: 14px/14px 'Montserrat';
                    color: $color-gray-a;
                    display: inline-block;
                    @include transiction;
                    white-space: nowrap;

                    &:hover { color: $color-blue-a; }

                    i {
                        display: inline-block;
                        color: $color-blue-a;
                        font-size: 23px;
                        margin-right: 10px;
                        vertical-align: text-bottom;

                        &.icon-face-message { font-size: 20px; }

                        &:before { display: block; }
                    }
                }
            }
        }

    }

    .footer-bottom {
        border-top: 1px solid $color-light-c;
        padding: 17px 0;

        .cnpj,
        address {
            font-size: 13px;
            line-height: 35px;
            display: inline-block;
            color: $color-gray-a;
            margin-right: 44px;

            strong {
                font-size: 13px;
                line-height: 35px;
                color: $color-gray-a;
                font-weight: 500;
            }
        }

        .developer {
            text-align: right;

            p {
                font-size: 12px;
                line-height: 12px;
                color: $color-gray-a;
                font-weight: 500;
                margin: 11px 16px 11px;
                display: inline-block;
            }

            a {
                display: inline-block;
                vertical-align: top;

                &:hover i { color: $color-blue-a; }

                i {
                    vertical-align: top;
                    display: block;
                    font-size: 30px;
                    color: $color-gray-a;
                    @include transiction;

                    &:before { display: block; }
                }
            }
        }

    }

    @media only screen and (max-width: 1200px) {
        .container {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }

        .button-app {
            width: auto;

            span, strong { white-space: nowrap; }
        }
    }

    @media only screen and (max-width: 992px) {
        .button-app {
            float: right;
            clear: both;

            span, strong { display: none; }
            i {
                width: 30px;

                &.icon-play-store { left: initial; }
                &.icon-app-store { left: -3px; }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .footer-top {
            padding: 35px 0;

            .logo { margin: 0 auto; }

            .copyright {
                text-align: center;
                margin: 20px 0;
            }

            .list-social {
                text-align: center;
                margin-bottom: 30px;

                li {
                    display: inline-block;
                    float: none;
                    margin: 0 5px;
                    vertical-align: top;
                }
            }

            .footer-box-apps { display: none; }
        }

        .footer-bottom {
            .cnpj, address {
                text-align: center;
                display: block;
                margin: 0;
                line-height: 15px;
            }
        }
    }

}