form {
	.input-row {
		.input-text {
			border-bottom: 1px solid #CCC;
			padding: 17px 0;
			@include placeholder-color($color-gray-a);
			width: 100%;
			display: block;
		}

		label.error {
			display: block;
			font-size: 11px;
			line-height: 11px;
			color: #e24d4d;
			margin-top: 5px;
		}
	}

	.group-radio {

		&:last-child label { margin-bottom: 0; }

		label {
			position: relative;
			margin-bottom: 20px;
			@include clearfix;
			display: inline-block;
			cursor: pointer;

			.radio {
				@include rounder(100%);
				float: left;
				margin-right: 22px;
				width: 25px;
				height: 25px;
				padding: 5px;
				border: 1px solid $color-blue-a;
				@include transiction;

				input {
					@include opacity(0);
					position: absolute;
					left: -5000px;
				}

				i {
					width: 100%;
					height: 100%;
					display: block;
					@include rounder(100%);
					@include transiction;
				}

				input:checked + i {
					background: $color-blue-a;
				}
			}

			span {
				line-height: 25px;
				font-size: 17px;
			}
		}

	}
}