.header {
	position: relative;

	&.header-fixed {
		height: 77px;
		z-index: 300;

		.group-header {
			position: fixed;
			background: $color-light-a;
			top: 0;
			left: 0;
			@include box-shadow(0, 2px, 24px, rgba(0,0,0,0.07));

			.logo {
				img {
					&.logo-white { display: none; }
					&.logo-black { display: block; }
				}
			}

			nav {
				.menu {
					> li {
						> a {
							color: $color-dark-a;

							&.button {
								color: $color-blue-a;

								&:hover { color: $color-light-a; }
							}
						}
					}
				}
			}

		}
	}

	.group-header {
		background: $color-light-a;
		padding: 11px 0;
		width: 100%;
		@include transiction;

		.container {
			width: 1510px;
			max-width: 100%;
		}

		.logo {
			display: block;
			float: left;

			img {
				width: 117px;

				&.logo-white { display: none; }
				&.logo-black { display: block; }
			}
		}

		nav {
			@include clearfix;

			.menu {
				float: right;

				> li {
					float: left;
					padding: 6px 0 5px;
					margin-left: 45px;
					position: relative;

					&:first-child { margin-left: 0; }

					&.drop-down {
						> a {
							position: relative;
							padding-right: 10px;

							i {
								font-size: 10px;
								position: absolute;
								right: -7px;
								top: 17px;
								color: $color-blue-a;

								&:before {
									display: block;
									height: 8px;
									width: 10px;
								}
							}
						}
					}

					> a {
						font: 500 13px/13px 'Montserrat';
						text-transform: uppercase;
						display: block;
						padding: 15px 0;
						@include transiction;

						&:hover { color: $color-blue-a; }

						&.button {
							height: 44px;
							line-height: 40px;
							padding: 0 39px;
							font: 500 13px/38px 'Montserrat';

							&:hover { color: $color-light-a; }
						}
					}
				}
			}

			.menu-button {
				display: none;
				cursor: pointer;
				height: 55px;
				width: 40px;
				position: relative;
				top: 0;
				right: 0;
				-moz-transition: color 0.2s;
				-o-transition: color 0.2s;
				-webkit-transition: color 0.2s;
				transition: color 0.2s;
				z-index: 33;
				float: right;

				.open-menu {
					margin: -1.5px 0 0 -10px;
					position: relative;
					top: 50%;
					left: 50%;
					-moz-transition: background 0.3s, color 0.2s;
					-o-transition: background 0.3s, color 0.2s;
					-webkit-transition: background 0.3s, color 0.2s;
					transition: background 0.3s, color 0.2s;
					z-index: 33;
					background: $color-dark-a;
					height: 4px;
					width: 25px;
					display: block;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					border-radius: 5px;
					outline: none;

					i {
						background: $color-dark-a;
						height: 4px;
						width: 25px;
						-moz-transition: -moz-transform 0.3s, background 0.3s;
						-o-transition: -o-transform 0.3s, background 0.3s;
						-webkit-transition: -webkit-transform 0.3s, background 0.3s;
						transition: transform 0.3s, background 0.3s;
						-moz-transform-origin: center center;
						-ms-transform-origin: center center;
						-webkit-transform-origin: center center;
						transform-origin: center center;
						position: absolute;
						-moz-border-radius: 5px;
						-webkit-border-radius: 5px;
						border-radius: 5px;

						&.one { top: -8px; }
						&.two {
							position: absolute;
							bottom: -8px;
							left: 0;
						}
					}
				}
			}

		}

	}

	@media only screen and (max-width: 992px) {
		.group-header nav .menu > li {
			margin-left: 25px;

			&.blog { display: none; }
			a.button { padding: 0 20px; }
		}
	}

	@media only screen and (max-width: 768px) {
		.group-header nav {
			.menu { display: none; }
			.menu-button { display: block; }
			.menu > li {
				&.blog { display: block; }
				&.contact-link > a { display: block; }
			}
		}

		&.header-fixed .group-header nav .menu-button .open-menu {
			background: $color-dark-a;

			i { background: $color-dark-a; }
		}
	}
}

.nav-open {
	overflow: hidden;

	.header.header-fixed .group-header nav .menu-button .open-menu,
	.header .menu-button .open-menu {
		background: transparent !important;

		i {
			&.one {
				-moz-transform: translate(0, 8px) rotate(-45deg);
				-ms-transform: translate(0, 8px) rotate(-45deg);
				-webkit-transform: translate(0, 8px) rotate(-45deg);
				transform: translate(0, 8px) rotate(-45deg);
			}
			&.two {
				-moz-transform: translate(0, -8px) rotate(45deg);
				-ms-transform: translate(0, -8px) rotate(45deg);
				-webkit-transform: translate(0, -8px) rotate(45deg);
				transform: translate(0, -8px) rotate(45deg);
			}
		}
	}

	&.home-page .header,
	.header {
		background: $color-light-a;

		.col-xs-4 { position: initial; }

		.group-header {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1000;
			background: $color-light-a;

			.logo img {
				&.logo-white { display: none !important; }
				&.logo-black { display: block !important; }
			}

			nav {
				.menu {
					display: block;
					position: absolute;
					left: 0;
					top: 55px;
					width: 100%;
					padding: 30px 15px 0 15px;

					li {
						width: 100%;
						padding: 0;
						margin: 0;

						&.drop-down {
							> a { display: none; }

							.drop-down-box {
								background: transparent;
								position: relative;
								display: block !important;
								opacity: 1 !important;
								width: 100%;
								left: initial;
								top: initial;
								padding: 0;
								@include no-shadow;

								.list-contact {
									display: none;
								}
							}
						}

						a {
							text-align: center;
							color: $color-dark-a;
							font: 500 20px/20px 'Montserrat';
							text-transform: uppercase;
							display: block;
							padding: 15px 0;

							&.button {
								font-size: 15px;
								line-height: 17px;
								height: 50px;
								margin-top: 20px;
								color: $color-blue-a;

								&:hover,
								&.active { color: $color-light-a; }
							}
						}
					}
				}

				.menu-button {
					.open-menu {
						background: $color-blue-a;

						i { background: $color-blue-a !important; }
					}
				}
			}
		}
	}
}