@charset "UTF-8";

@font-face {
  font-family: "digio";
  src:url("./icons/digio.eot");
  src:url("./icons/digio.eot?#iefix") format("embedded-opentype"),
    url("./icons/digio.woff") format("woff"),
    url("./icons/digio.ttf") format("truetype"),
    url("./icons/digio.svg#digio") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "digio" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "digio" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\61";
}
.icon-facebook:before {
  content: "\62";
}
.icon-twitter:before {
  content: "\63";
}
.icon-instagram:before {
  content: "\64";
}
.icon-youtube:before {
  content: "\65";
}
.icon-face-message:before {
  content: "\66";
}
.icon-app-store:before {
  content: "\67";
}
.icon-play-store:before {
  content: "\68";
}
.icon-insany-design:before {
  content: "\69";
}
.icon-viagem:before {
  content: "\6a";
}
.icon-arrow-down-plus:before {
  content: "\6b";
}
.icon-facebook-f:before {
  content: "\6c";
}
.icon-logo-digio:before {
  content: "\6d";
}
.icon-no-tax:before {
  content: "\6e";
}
.icon-small-digio-app:before {
  content: "\6f";
}
.icon-small-digio-card:before {
  content: "\70";
}
.icon-small-digio-download:before {
  content: "\71";
}
.icon-arrow-left-circle:before {
  content: "\72";
}
.icon-arrow-right-circle:before {
  content: "\73";
}
.icon-arrow-top-circle:before {
  content: "\74";
}
.icon-arrow-bottom-circle:before {
  content: "\75";
}
.icon-medium:before {
  content: "\76";
}
.icon-response:before {
  content: "\77";
}
.icon-clap:before {
  content: "\78";
}
.icon-email:before {
  content: "\79";
}
.icon-question:before {
  content: "\7a";
}
.icon-mobilia:before {
  content: "\41";
}
.icon-moda:before {
  content: "\42";
}
.icon-pet:before {
  content: "\43";
}
.icon-desconto:before {
  content: "\44";
}
.icon-more:before {
  content: "\45";
}
.icon-festa:before {
  content: "\46";
}
.icon-praia:before {
  content: "\47";
}
.icon-ok-pontos:before {
  content: "\48";
}
.icon-categorias:before {
  content: "\49";
}
.icon-success:before {
  content: "\4a";
}
.icon-search:before {
  content: "\4b";
}
.icon-like:before {
  content: "\4c";
}
.icon-thousand:before {
  content: "\4d";
}
.icon-money:before {
  content: "\4e";
}
.icon-close:before {
  content: "\4f";
}