.list-contact {
	li {
		@include clearfix;
		margin-bottom: 22px;

		&:last-child { margin-bottom: 0; }

		a {
			color: #666;
			font: 500 14px/22px 'Montserrat';
			display: inline-block;
			@include transiction;

			&:hover { color: $color-blue-a; }

			i {
				float: left;
				color: $color-blue-a;
				display: block;
				text-align: center;
				margin-right: 15px;
				font-size: 22px;

				&:before {
					display: block;
					line-height: 22px;
					width: 22px;
					height: 22px;
				}
			}
		}
	}
}