.sidebar-form {

	&.active-form {
		.sidebar-overlay {
			display: block;
			@include opacity(.3);
			background: #333;
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1001;
		}

		.group-form { right: 0; }
	}

	.sidebar-overlay {
		@include opacity(0);
		@include transiction;
	}

	.group-form {
		overflow: auto;
		padding: 60px 45px;
		background: $color-light-a;
		position: fixed;
		right: -390px;
		top: 0;
		width: 390px;
		height: 100%;
		z-index: 1002;
		-webkit-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1) 10ms;
		-moz-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1) 10ms;
		-o-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1) 10ms;
		transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1) 10ms;

		.close-sidebar {
			width: 20px;
			height: 20px;
			display: none;
			position: absolute;
			top: 20px;
			right: 10px;

			a {
				display: block;

				i {
					display: block;
					color: $color-gray-a;

					&:before {
						display: block;
						width: 20px;
						height: 20px;
						line-height: 20px;
						text-align: center;
					}
				}
			}
		}

		.card-tax {
			position: relative;
			max-width: 220px;
			margin: 0 auto;

			.card {
				width: 100%;
				position: relative;
				z-index: 1;
				@include rounder(12px);
				@include box-shadow(0, 30px, 70px, rgba(0,0,0, 0.2));
			}

			.love {
				position: absolute;
				top: -25px;
				right: 25px;
				display: block;
				z-index: 2;
				-webkit-animation: vertical-animate 1.5s infinite alternate;
				-moz-animation: vertical-animate 1.5s infinite alternate;
				-animation: vertical-animate 1.5s infinite alternate;
			}
		}

		.register-form {
			margin-top: 35px;

			h4 {
				text-align: center;
				margin-bottom: 10px;
				font-weight: 500;
				font: 500 17px/25px 'Montserrat';

				strong {
					font: 500 17px/25px 'Montserrat';
					display: block;
					text-align: center;
				}
			}

			.recaptcha { margin-top: 20px; }

			.button-bar {
				margin-top: 50px;

				.button { width: 100%; }
			}
		}

		.success-form {
			margin-top: 65px;

			i {
				font-size: 45px;
				height: 45px;
				width: 45px;
				display: block;
				margin: 0 auto 18px;
				color: $color-blue-a;
			}

			h5 {
				text-align: center;
				padding: 0 50px;
				margin-bottom: 25px;
				font-weight: 500;
				font: 500 21px/25px 'Montserrat';
				color: $color-blue-a;
			}

			p {
				text-align: center;
				line-height: 23px;
				font-size: 15px;
				padding: 0 10px;

				strong {
					line-height: 23px;
					font-size: 15px;
				}
			}
		}

	}

	@media only screen and (max-width: 440px) {
		.group-form {
			width: 320px;
			padding: 30px 25px;

			.close-sidebar { display: block; }

		}
	}
}