@-webkit-keyframes pulse {
    0% { -webkit-box-shadow: 0 0 0 0 rgba(0, 204, 255, 0.3); }
    70% { -webkit-box-shadow: 0 0 0 20px rgba(0, 204, 255, 0); }
    100% { -webkit-box-shadow: 0 0 0 0 rgba(0, 204, 255, 0); }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 204, 255, 0.3);
        box-shadow: 0 0 0 0 rgba(0, 204, 255, 0.3);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(0, 204, 255, 0);
        box-shadow: 0 0 0 20px rgba(0, 204, 255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 204, 255, 0);
        box-shadow: 0 0 0 0 rgba(0, 204, 255, 0);
    }
}

@-webkit-keyframes vertical-animate {
    0%, 40% { transform: translateY(0) }
    70% { transform: translateY(5px) }
}
@-moz-keyframes vertical-animate {
    0%, 40% { transform: translateY(0) }
    70% { transform: translateY(5px) }
}
@-o-keyframes vertical-animate {
    0%, 40% { transform: translateY(0) }
    70% { transform: translateY(5px) }
}
@keyframes vertical-animate {
    0%, 40% { transform: translateY(0) }
    70% { transform: translateY(5px) }
}