// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

@charset "UTF-8";
 
* {
    font: normal 16px 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-align: left;
    border: 0;
    color: $color-dark-a;
    @include fonte-aliased;
    @include border-box;
    outline: none !important;
    outline: 0 !important;
}

body { background: $color-light-a; }

h1 {
    font-size: 40px;
    line-height: 40px;
}

h2 {
    font-size: 36px;
    line-height: 36px;
}

h3 {
    font-size: 30px;
    line-height: 30px;
}

h4 {
    font-size: 25px;
    line-height: 25px;
}

h5 {
    font-size: 20px;
    line-height: 20px;
}

h6 {
    font-size: 15px;
    line-height: 15px;
}

h1, h2, h3, h4, h5, h6 { font-style: normal; }

hr {
    margin: 15px 0;
    border-top: 1px solid $color-light-a;
    height: 1px;
}

.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.white-space { white-space: nowrap !important; }

.shake-rotate {
    animation-name: shake-rotate;
    animation-duration: 5.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite
}

*::selection {
    background: $color-blue-a;
    color: $color-light-a;
}

*::-moz-selection {
    background: $color-blue-a;
    color: $color-light-a;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

b, strong { font-weight: 700; }

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled], html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: 600;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.relative {
    position: relative;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

img {
    vertical-align: middle;
}